{% load static %}

{% for froze in froze_items %}
    <div class="panel panel-default frozesallunit">
        <div class="panel-body">
            {% include "froze/froze/client_detail.html" %}
        </div>
        <br>
        <div>
            <p class="text-left">
                &nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'dogovora:create_update_indi' froze.uuid %}"> ФЗ Перейти к договору</a>
                &nbsp;&nbsp;<a class="btn btn-secondary" href="#"> ЮЛ Перейти к договору</a>
            </p>
        </div>
        <span class="text-muted pull-right hidden-xs hidden-sm hidden-md">№ заявки: {{ froze.id }}, битрикс-код: {{ froze.uuid }}&nbsp</span>
        <br>
    </div>
{% endfor %}
<nav aria-label="Пример навигации по страницам">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            </li>
        {% endif %}
        &nbsp;<li class="page-item"><span class="page-link">{{ page_obj.number }} из {{ paginator.num_pages }}</span></li>&nbsp;
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            </li>
        {% endif %}
    </ul>
</nav>