<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/base.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/fancy.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/main.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovora_original_docx_view.css' %}"/>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/compatibility.min.js' %}"></script>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/theViewer.min.js' %}"></script>
	<script>try{theViewer.defaultViewer = new theViewer.Viewer({});}catch(e){}</script>
	<title>Оказание транспортных услуг</title>
</head>
<body>
<div id="sidebar"><div id="outline"></div></div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
	<div class="pc pc1 w0 h0">
		<img class="bi x0 y0 w1 h1" src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/bg1.png' %}" style="opacity:0.5;filter:alpha(opacity=50)">
		<div class="t m0 x4 h5 y4 ff5 fs0 fc0 sc0 ls0 ws0">ДОГОВОР № {% if dogovor.nomer_dogovora %}<v>{{ dogovor.nomer_dogovora }}</v>{% else %}_____{% endif %} РФ{% if froze.type_pay == 'card' %}/Т{% endif %}</div>
		<div class="t m0 x5 h5 y5 fs0 fc0 sc0 ls0 ws0"><b>на оказание транспортных услуг</b></div>
		<div class="t m0 x6 h6 y6 ff7 fs0 fc0 sc0 ls0 ws0">г.<span class="ff8"> </span>Уфа<span class="ff8">                                                                                                                                                                                                 {% if dogovor.data_podpisaniya %}                   «<v>{{ dogovor.data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.data_podpisaniya_month }}</v> <v>{{ dogovor.data_podpisaniya|date:'Y' }}</v>{% else %}«____» _____________ 202___{% endif %} </span>г.</div>

		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 pf1text">
			<p>{% if dogovor.passport_familiya and dogovor.passport_imya and dogovor.passport_otchestvo %}<v>{{ dogovor.passport_familiya }}</v> <v>{{ dogovor.passport_imya }}</v> <v>{{ dogovor.passport_otchestvo }}</v>{% else %}_______________________________________________________________________________________________{% endif %}, именуемый в дальнейшем «Заказчик», с одной стороны и <b>ООО "<v>{{ postavshik.fio }}</v>"</b>, именуемый в дальнейшем «Исполнитель», в лице директора Садыкова Фархада Идиятулловича, действующего на основании Устава, с другой стороны, совместно именуемые в дальнейшем «Стороны», заключили настоящий Договор о следующем:</p>
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">1. Предмет договора</p>
            <p>1.1. Исполнитель по настоящему договору своими силами или силами третьих лиц с использованием собственных или арендованных грузовых или легковых автомобилей обязуется по требованию Заказчика предоставлять транспортные услуги по перевозке грузов, а также для Заказчика по перевозке мебели, изготовленной по договору, сборщиков мебели, технических и прочих ресурсов необходимых для сборки и установки мебели, а Заказчик обязуется оплатить услуги в порядке, сроки и по ценам, определённым настоящим Договором. </p>
            <p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">2. Цена договора и порядок расчетов</p>
            <p>2.1. Стоимость услуг выполняемых Исполнителем по настоящему Договору составляет <b> {% if dogovor.vsego_k_oplate %}<v>{{ dogovor_more.vsego_k_oplate }}</v> (<v>{{ dogovor_more.vsego_k_oplate_propisyu }}</v>) <v>{{ dogovor_more.vsego_k_oplate_the_word }}</v>{% else %}_______________(______________________________){% endif %} 00 коп.</b></p>
            <p>2.2. Заказчик обязуется в день заключения Договора внести предоплату в размере <b>{{ dogovor_more.oplata_predoplata_procent|default:'50' }}% от стоимости, что составляет в денежном выражении &nbsp;{% if dogovor.oplata_predoplata_rub and dogovor.vsego_k_oplate %}<v>{{ dogovor_more.oplata_predoplata_rub }}</v> (<v>{{ dogovor_more.oplata_predoplata_rub_propisyu }}</v>) <v>{{ dogovor_more.oplata_predoplata_rub_the_word }}</v>{% else %}__________ ________(____________________________________________________) рублей{% endif %} 00 коп.</b></p>
            <p>2.3. Оплата по настоящему Договору производится наличными денежными средствами, либо в безналичном порядке через банковский терминал или на расчетный счет, с последующей выдачей кассового чека.</p>
            <p>2.4. Днем оплаты считается день зачисления средств на счет Исполнителя.</p>
			<p>2.4. Иной порядок расчетов возможен по согласованию сторон.</p>
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">3. Права и  обязанности сторон</p>
            <p>3.1. <b> Исполнитель вправе:</b></p>
			<p>- передать заказ на исполнение услуги третьей стороне без письменного согласия на это другой стороны и без дополнительных затрат для Заказчика, оставаясь при этом ответственным за надлежащее исполнение настоящего Договора.</p>
            <p>3.1.1. <b>Исполнитель обязуется:</b></p>
            <p>3.1.2. Оказать Услуги с надлежащим качеством и в полном объеме.</p>
            <p>3.1.3. Представить Заказчику Акт на оказание транспортной услуги с отметкой о доставке груза.</p>
			<p>3.1.4. Собственными силами и за свой счет обеспечивать погрузку-выгрузку груза с соблюдением требований техники безопасности.</p>
			<p>3.1.5. Своевременно доставить груз в пункт назначения по адресу: {% if dogovor.adres_ustanovki %}<v>{{ dogovor.adres_ustanovki }}</v>{% else %}___________________________{% endif %}, передать его Заказчику или доверенному лицу по Договору.</p>
            <p>3.1.6. Информировать Заказчика о возникших непредвиденных обстоятельствах в пути, препятствующих своевременной доставке груза.</p>
            <p>3.1.7. Информировать заблаговременно Заказчика о времени и дате прибытии и доставке груза.</p>
			<p>3.1.8. В десятидневный срок рассматривать претензии Заказчика, с последующим его письменным уведомлением.</p>
			<p>3.2. <b>Заказчик обязуется::</b></p>
			<p>- до прибытия автотранспорта с грузом подготовить площадку для выгрузки, а также пропуска на объекты, где должна осуществляться выгрузка груза;</p>
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">4. Ответственность сторон</p>
			<p>4.1. Факт надлежащего оказания услуги оформляется путем подписания сторонами Акта на оказание транспортной услуги. Один подписанный экземпляр Акта Заказчик возвращает Исполнителю.</p>
			<p>4.2. При наличии разногласий при подписании Акта на оказание транспортных услуг, Заказчик направляет в адрес Исполнителя свои мотивированные возражения в письменной форме не позднее чем через 3 (три) календарных дня после получения Акта от Исполнителя.</p>
			<p>4.3. Факт не подписания или невозвращение Акта, а также не предоставления в указанный срок Заказчиком письменных замечаний Исполнителю, означает принятие оказанной услуги в полном объеме и по юридическим последствиям приравнивается к подписанию Заказчиком Акта на оказание транспортных услуг.</p>
			<p>4.4. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по настоящему Договору, несет ответственность в соответствии с действующими законами РФ, в том числе Законом «О защите прав потребителей», Гражданским кодексом РФ, Устава автомобильного транспорта и условиям настоящего Договора.</p>
			<p>4.5. Возложение исполнения обязательства на третье лицо не освобождает Исполнителя от ответственности перед Заказчиком за исполнение настоящего Договора.</p>
			<p>4.6. Заказчик вправе отказаться от исполнения Договора при условии оплаты Исполнителю фактически понесенных им расходов:</p>
			<p>- при отказе менее чем за 24 часа – 30% от стоимости Договора;</p>
			<p>- при отказе менее чем за 12 часов -100% от стоимости Договора;</p>
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">5. Форс-Мажор</p>
			<p>5.1. Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или избежать, включая, но не ограничиваясь, объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения, наводнения, пожары и другие стихийные бедствия, запрещения экспорта или импорта (эмбарго), решений Правительства или решений государственных таможенных органов. Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и продолжительности действия непреодолимой силы.</p>
			<p>5.2. Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.</p>
			<p>5.3. При наступлении обстоятельств, указанных в п. 5.1, каждая из сторон должна без промедления известить о них в письменном виде другую сторону. Извещение должно содержать данные о характере обстоятельств, а также официальные документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния на возможность исполнения стороной своих обязательств по данному Договору.</p>
			<p>5.4. В случаях наступления обстоятельств, предусмотренных в п. 5.1, срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">6. Расторжение договора</p>
			<p>6.1. Расторжение Договора одной из сторон не освобождает стороны от удовлетворения претензий, поступивших до заявления о расторжении Договора.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">1</div>
		<div class="t m0 x3 h4 y3 ff2 fs1 fc0 sc0 ls0 ws0"><span class="ff3 fs2">_________________ <span class="ff4 fs0">/Подпись Заказчика/</span></span></div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">7. Заключительные положения</p>
			<p>7.1. Настоящий Договор вступает в силу с момента подписания его Сторонами и действует до исполнения Сторонами своих обязательств.</p>
			<p>7.2. Любые изменения и дополнения к настоящему Договору будут являться неотъемлемой частью и действительны в том случае, если они совершены в письменной форме, оформлены надлежащим образом и подписаны обеими сторонами и уполномоченными представителями сторон.</p>
			<p>7.3. Настоящий Договор составлен в двух экземплярах. Оба экземпляра идентичны и имеют одинаковую юридическую силу. У каждой из Сторон находится один экземпляр настоящего Договора.</p>
			<p>7.4. Условия настоящего Договора, дополнительных соглашений к нему и иная информация, полученная Сторонами в соответствии с Договором, конфиденциальны и не подлежат разглашению.</p>
			<p>7.5. Споры и разногласия, возникающие между Сторонами, разрешаются путём переговоров, в соответствии с действующим гражданским законодательством Российской Федерации. Стороны обязаны принять все меры для разрешения разногласий в досудебном порядке с обязательным соблюдением претензионного порядка. Срок ответа на претензию составляет 10 (десять) рабочих дней с момента ее получения.</p>
			<p>7.6. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке по месту нахождения Истца.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
			<p>Заказчик дает свое согласие на обработку своих персональных данных и использование их в целях заключения гражданско-правового договора, к которым относятся:</p>
			<p>- паспортные данные;</p>
			<p>- год, месяц, дата и место рождения, а также иные данные, содержащиеся в удостоверении личности;</p>
			<p>- данные о месте жительства, почтовом адресе, телефоне, адресе электронной почты;</p>
			<p>- данные о контактных номерах телефона.</p>
			<p>Настоящее согласие предоставляется на осуществление любых действий в отношении заказчика персональных данных, которые необходимы или желаемы для достижения указанной выше цели, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), передачу персональных данных, а также осуществление любых иных действий с моими персональными данными, предусмотренных действующим законодательством Российской Федерации.</p>
			<p>Заказчик проинформирован(а), Исполнитель гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
			<p>Данное согласие действует бессрочно с момента его выдачи.</p>
			<p>Данное согласие может быть отозвано в любой момент по моему письменному заявлению.</p>
			<p>Заказчик подтверждает, что, давая такое согласие, действует по собственной воле и в своих интересах.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>АДРЕСА И РЕКВИЗИТЫ СТОРОН</p>
			<table border="1" cellpadding="10" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ИСПОЛНИТЕЛЬ</b></p>
							<p align="center"><b>Общество с ограниченной ответсвенностью</b></p>
							<p align="center">"<v>{{ postavshik.fio }}</v>"</p>
							<p>Юр.адрес: <v>{{ postavshik.adres1 }}</v> <v>{{ postavshik.adres2 }}</v></p>
							<p align="justify">Доставка корреспонденции: <v>{{ postavshik.adres1_post }}</v> <v>{{ postavshik.adres2_post }}</v></p>
							<p>ИНН: <v>{{ postavshik.inn }}</v></p>
							<p>КПП: <v>{{ postavshik.kpp }}</v></p>
							<p>ОГРН <v>{{ postavshik.ogrn }}</v></p>
							<p>р/с: <v>{{ postavshik.rs }}</v></p>
							<p><v>{{ postavshik.bank1 }}</v> <v>{{ postavshik.bank2 }}</v></p>
							<p>к/с: <v>{{ postavshik.ks }}</v></p>
							<p>БИК <v>{{ postavshik.bik }}</v></p>
							<p>Тел: 8 (347) 299-11-70 (отдел по работе с клиентами)</p>
							<p>8 (937) 325-79-75 (сервис)</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <b>Садыков Ф.И./</b></p>
							<p>&nbsp;</p>
						</td>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ЗАКАЗЧИК:</b></p>
							<p>Фамилия&nbsp;<v>{{ dogovor.passport_familiya|default:'___________________________' }}</v></p>
							<p>Имя&nbsp;<v>{{ dogovor.passport_imya|default:'_____________________________' }}</v></p>
							<p>Отчество &nbsp;<v>{{ dogovor.passport_otchestvo|default:'_____________________________' }}</v></p>
							<p>Дата рождения&nbsp;: <v>{{ dogovor.passport_birthday_date|default:'________________________' }}</v></p>
							<p>Паспорт:&nbsp;серия&nbsp;{% if dogovor.passport_seria and dogovor.passport_nomer %}<v>{{ dogovor.passport_seria }}</v> № <v>{{ dogovor.passport_nomer }}</v>{% else %}_______________________________{% endif %}</p>
							<p>выдан&nbsp;<v>{{ dogovor.passport_kem_vydan|default:'__________________________________ _____________________________________<br>__________________________________ _____________________________________<br>__________________________________ _____________________________________' }}</v></p>
							<p>дата выдачи <v>{{ dogovor.passport_kogda_vydan|default:'_____________' }}</v> к/п <v>{{ dogovor.passport_kp|default:'_____________' }}</v></p>
							<p>Адрес&nbsp;прописки: <v>{{ dogovor.adres_propiski|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Адрес установки: <v>{{ dogovor.adres_ustanovki|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Телефон:</p>
							<p>1. <v>{{ froze.client.phone|default:'_______________________' }}</v></p>
							<p>2. <v>{{ froze.client.phone_two|default:'_______________________' }}</v></p>
							<p>e-mail:____________________________________</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <v>{{ dogovor_more.inicialy|default:'_______________' }}</v>/</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<table border="2" cellpadding="20" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 100%;">
							<p>&nbsp;</p>
							<p style="font-size: 130%"> Уважаемый Заказчик! Обращаем Ваше внимание на то, что Исполнитель будет вести все переговоры по изделию, его изготовлению, назначению монтажных работ, обсуждать иные вопросы, возникающие по данному договору, а также обсуждать вопросы, касающиеся оплаты в рамках данного договора, только исключительно с самим Заказчиком, указанным в реквизитах сторон, или с его доверенным лицом, указанным в договоре в Примечании №1.</p>
							<p style="font-size: 130%">  Любая информация по заказу, полученная от лиц, не указанных в Договоре, не подлежит рассмотрению Исполнителем.</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">2</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>

</div><div class="loading-indicator"></div>
</body>
<script>window.print();</script>
<style>
	.t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0.page_without_logo {
		margin-top: -22px;
		padding-top: 0 !important;
	}

	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
		width: 2275px;
		white-space: normal;
		line-height: 39.5px;
		text-align: justify;
		left: 14.000000px;
		padding-top: 25px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
		text-indent: 143.650001px;
		margin: 0;
	}
	.pf1text {
		padding-top: 58px !important;
	}
	@media print{
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
			width: 3844.620px;
			line-height: 65.5px;
			left: 54pt;
			padding-top: 42px;
		}
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
			text-indent: 243.650001px;
			margin: 0;
		}
		.pf1text {
			padding-top: 102px !important;
		}
	}
	v {
		color: black;
		font-weight: bold;
	}
	.requisites p {
		text-indent: 0px !important;
	}
</style>
</html>