<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/base.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/fancy.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/main.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovora_original_docx_view.css' %}"/>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/compatibility.min.js' %}"></script>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/theViewer.min.js' %}"></script>
	<script>try{theViewer.defaultViewer = new theViewer.Viewer({});}catch(e){}</script>
	<title>Текстиль</title>
</head>
<body>
<div id="sidebar"><div id="outline"></div></div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
	<div class="pc pc1 w0 h0">
		<img class="bi x0 y0 w1 h1 logo" src="{% static 'dogovora/tekstil-logo.png' %}" style="opacity:0.5;filter:alpha(opacity=50)">

		<div class="t m0 x4 h5 y4 ff5 fs0 fc0 sc0 ls0 ws0">ДОГОВОР ПОДРЯДА</div>
		<div class="t m0 x5 h5 y5 fs0 fc0 sc0 ls0 ws0" style="margin-left: -150px;"><b>  НА ИЗГОТОВЛЕНИЕ ТЕКСТИЛЬНЫХ ИЗДЕЛИЙ И СОПУТСВУЮЩИХ УСЛУГ № {% if dogovor.nomer_dogovora %}<v>{{ dogovor.nomer_dogovora }}</v>{% else %}_____{% endif %} {% if froze.type_pay == 'internal_installment' %}А/В{% else %}Ш{% endif %}</b></div>
		<div class="t m0 x6 h6 y6 ff7 fs0 fc0 sc0 ls0 ws0">Республика Башкортостан, г.<span class="ff8"> </span>Уфа<span class="ff8">                                                                                                                                                       {% if dogovor.data_podpisaniya %}                   «<v>{{ dogovor.data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.data_podpisaniya_month }}</v> <v>{{ dogovor.data_podpisaniya|date:'Y' }}</v>{% else %}«____» _____________ 20____{% endif %} </span>г.</div>

		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 pf1text">
			<p>{% if dogovor.passport_familiya and dogovor.passport_imya and dogovor.passport_otchestvo %}<v>{{ dogovor.passport_familiya }}</v> <v>{{ dogovor.passport_imya }}</v> <v>{{ dogovor.passport_otchestvo }}</v>{% else %}_______________________________________________________________________________________________{% endif %}, именуемый (-ая) в дальнейшем «Заказчик», с одной стороны и <b>Индивидуальный предприниматель <v>{{ postavshik.fio }}</v></b>, действующий на основании ОГРНИП <v>{{ postavshik.ogrnip }}</v>, именуемый в дальнейшем «Подрядчик», с другой стороны, заключили настоящий Договор о нижеследующем:</p>
			<p style="text-align: center; font-weight: bold;"><br>1. ПРЕДМЕТ ДОГОВОРА</p>
			<p>1.1. Подрядчик принимает, обрабатывает заявки, производит пошив текстильных изделий (далее - «Изделия») по индивидуальным меркам Заказчика из собственных тканей, либо из тканей Заказчика.</em></p>
			<p>1.2. Подрядчик также обязуется при необходимости и по договоренности с Заказчиком выполнить дополнительные работы и оказать дополнительные услуги, перечень и стоимость которых указаны в Спецификации (Приложение №1) к настоящему договору, а Заказчик обязуется оплатить их.</p>
			<p>1.3. Подрядчик знакомит Заказчика каталогами тканей, фурнитуры, моделей текстильных изделий и их элементов.</p>
			<p>1.4. Подрядчик выполняет работы и услуги на основании Спецификации (Приложение №1), там же согласовывается и утверждается объем заказа.</p>
			<p>1.5. Подрядчик имеет право:</p>
			<p>- оказать услуги лично;</p>
			<p>- привлекать к оказанию услуг третьих лиц без предварительного получения на то согласия Заказчика.</p>
			<p>1.6. Подрядчик гарантирует, что при внесении авансового платежа Заказчик сохраняет Цену на изделие, но не может гарантировать наличие всех заказных материалов (с учетом индивидуализации договора) на момент исполнения Договора.</p>
			<p style="text-align: center; font-weight: bold;"><br>2. СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЁТОВ</p>
			<p>2.1.&nbsp;<strong>Цена на изготовление Изделия, иные работы и услуги - договорная. Стоимость выполняемых Подрядчиком работ составляет {% if dogovor.vsego_k_oplate %}<v>{{ dogovor_more.vsego_k_oplate }}</v> (<v>{{ dogovor_more.vsego_k_oplate_propisyu }}</v>) <v>{{ dogovor_more.vsego_k_oplate_the_word }}</v>{% else %}________________ (______________________________________) рублей{% endif %} 00 коп.</strong></p>
			<p>2.2.&nbsp;Заказчик производит предоплату в размере <v>{{ dogovor_more.oplata_predoplata_procent|default:'____' }}%</v> от стоимости заказа, что составляет <v>{{ dogovor_more.oplata_predoplata_rub }}</v> (<v>{{ dogovor_more.oplata_predoplata_rub_propisyu }}</v>) <v>{{ dogovor_more.oplata_predoplata_rub_the_word }}</v> 00 коп, на основании выставленного Подрядчиком счета или Спецификации (Приложение №1). Оплата оставшейся части производится в течение 3 рабочих дней с момента приемки Изделий Заказчиком.</p>
			<p>2.3.&nbsp;Оплата по настоящему Договору производится наличными денежными средствами, либо в безналичном порядке&nbsp; через банковский терминал или на расчетный счет,&nbsp;с последующей выдачей &nbsp;кассового чека.</p>
			<p>2.4.&nbsp;Оплата отдельных работ и услуг Подрядчика, не являющихся непосредственным предметом настоящего Договора, но сопутствующих надлежащему исполнению условий последнего, осуществляется Заказчиком на основании счетов, выставляемых Подрядчиком по согласованным Сторонами ценам, в соответствии с заключенными сторонами Дополнительным соглашением к настоящему Договору.</p>
			<p>2.5. Возможна досрочная оплата Заказчиком работ Подрядчику по настоящему Договору.</p>
			<p style="text-align: center; font-weight: bold;"><br>3. СРОКИ И ПОРЯДОК ВЫПОЛНЕНИЯ РАБОТ</p>
			<p>3.1. Срок выполнения Изделия, оказание услуги Подрядчиком на один вид Изделия составляет {% if dogovor.srok_ispolneniya_rabot %}<v>{{ dogovor_more.srok_ispolneniya_rabot }}</v> <v>{{ dogovor_more.srok_ispolneniya_rabot_the_word }}</v>{% else %}______ рабочих дней{% endif %}, который начинает исчисляться со дня, следующего за датой выполнения Заказчиком в совокупности следующих условий:</p>
			<p>- согласование, утверждение и подписание Спецификации (Приложение №1);</p>
			<p>- внесения предоплаты согласно п. 2.2.настоящего Договора;</p>
			<p><u>Карнизы (крепление на потолок):</u></p>
			<p>- законченный потолок (каким он предусмотрен по проекту);</p>
			<p>- подготовлены ниши (если предусмотрены);</p>
			<p>- закончены пыльные и грязные работы;</p>
			<p>- выведено питание (если это электрокарниз);</p>
			<p>- установлены закладные (если потолок натяжной);</p>
			<p>- установлен монтажный профиль (если потолок гипсокартонный);</p>
			<p>- уложены полы;</p>
			<p><u>Карнизы (крепление на стену):</u></p>
			<p>- стены покрашены, обои\фрески поклеены - стена чистовая;</p>
			<p>- полностью готов потолок (любая конструкция);</p>
			<p>- установлен потолочный плинтус;</p>
			<p>- уложены полы;</p>
			<p><u>Для начала исчисления срока по навеске штор необходимо: </u></p>
			<p>- чистовой ремонт (стены покрашены, обои\фрески поклеены - стена чистовая, полностью готов потолок (любая конструкция, установлен потолочный плинтус, уложены полы, установлены карнизы (если они приобретаются не у Подрядчика) и произведен клининг;</p>
			<p>3.2. Подрядчик оставляет за собой право напомнить Заказчику о дне и времени доставки Изделия посредством СМС-сообщения по номеру, указанному Заказчиком в настоящем Договоре, или отправкой уведомления на электронную почту, указанную Заказчиком, или посредством телефонного звонка по номеру, указанному Заказчиком.</p>
			<p>3.3. В случае невозможности принять Изделие в день доставки, Заказчик обязан уведомить об этом Подрядчика за 10 (десять) дней до даты доставки посредством СМС сообщения по номеру Подрядчика или отправкой уведомления на электронную почту Подрядчика или посредством телефонного звонка по номеру Подрядчика 8 (347) 299-11-70. Перенос даты доставки Изделия по инициативе Заказчика оформляется в письменном виде дополнительным соглашением к Договору.</p>
			<p>3.4. Доставка и монтажные работы осуществляются силами Подрядчика по указанному Заказчиком адресу, только если эти услуги отражены в Спецификации (Приложение №1). </p>
			<p>3.5. По завершении работ, предусмотренных настоящим Договором, Подрядчик предоставляет Заказчику акт сдачи-приема выполненных работ.</p>
			<p>3.6. В случае отказа Заказчика от подписания акта сдачи-приема выполненных работ, Заказчик обязан в течение 2 (двух) календарных дней рассмотреть и при отсутствии возражений, подписать и предоставить Подрядчику подписанный оригинал акта сдачи-приема выполненных работ по адресу: г. Москва, набережная Марка Шагала, д. 1 корпус 2 (помещение 9 и 9а) или предоставить Подрядчику в письменной форме мотивированный отказ от приемки выполненных работ. Факт непредставления Заказчиком в указанный срок обоснованных письменных замечаний Подрядчику означает безоговорочное принятие работ по настоящему Договору и по юридическим последствиям приравнивается к подписанию Заказчиком акта сдачи-приема выполненных работ. Обязательства Подрядчика считаются исполненными надлежаще и в полном объеме.</p>
			<p>3.7. В случае мотивированного отказа Заказчика сторонами составляется двухсторонний акт с перечнем необходимых доработок и сроков исправления.</p>
		</div>

	</div>

	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">1</div>
	</div>

	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>4. КАЧЕСТВО ИЗДЕЛИЙ</p>
			<p>4.1. Качество Изделий должно соответствовать условиям Договора, а при отсутствии или неполноте условий Договора требованиям, обычно предъявляемым к работам соответствующего рода. Результат выполненной работы должен в момент передачи Заказчику обладать свойствами, указанными в договоре или определенными обычно предъявляемыми требованиями, и в пределах разумного срока быть пригодным для установленного договором использования, а если такое использование Договором не предусмотрено, для обычного использования результата работы такого рода.</p>
			<p>4.2. <strong>На результат работ устанавливается гарантийный срок 12 месяцев. На изготовление текстильных изделий гарантийный срок 6 месяцев.</strong> Течение гарантийного срока начинается со дня приемки результата работ Заказчиком.</p>
			<p>4.3. Гарантийным обслуживанием является бесплатное устранение недостатков продукции, возникших по вине Подрядчика, при условии соблюдения правил эксплуатации, устанавливаемых Подрядчиком. Бесплатный гарантийный ремонт осуществляется, только если Изделие будет признано неисправным по причине заводского дефекта.</p>
			<p>4.4. Гарантийные обязательства аннулируются, если:</p>
			<p>&#9632;&nbsp;Изделие имеет выраженные механические и/или электрические повреждения, полученные в результате каких-либо действий Заказчика либо сторонних лиц.</p>
			<p>&#9632;&nbsp;Изделие подверглось ремонту неуполномоченными лицами с нарушением требований производителя и норм техники безопасности.</p>
			<p>&#9632;&nbsp;Дефекты вызваны изменениями вследствие применения товара с целью, не соответствующей установленной сфере применения данного товара.</p>
			<p>&#9632;&nbsp;Изделие повреждено в связи с нарушением правил и условий установки, эксплуатации, хранения и транспортировки.</p>
			<p>&#9632;&nbsp;Изделие повреждено вследствие природных стихий, пожаров, наводнений, землетрясений, бытовых факторов и прочих ситуаций, не зависящих от Подрядчика.</p>
			<p>&#9632;&nbsp;Возникло повреждение, вызванное попаданием внутрь изделия посторонних предметов, веществ, жидкостей, насекомых или животных.</p>
			<p>4.5. Согласно постановлению Правительства РФ от 19.01.1998г. №55, текстильные товары, швейные и трикотажные изделия возврату не подлежат.</p>
			<p>4.6. Подрядчик не производит устранение недостатков после истечения срока предъявления претензий, при неправильной эксплуатации результата работы, при появлении дефектов в результате естественного износа.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>5. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>
			<p>5.1.&nbsp;<em>Подрядчик вправе:</em></p>
			<p>5.1.1.&nbsp;не приступать к работе, приостановить её, если Заказчик нарушает свои обязанности по настоящему Договору;</p>
			<p>5.1.2.&nbsp;отказаться от заказа, оказании услуги, в случае, если качество предоставленной Заказчиком ткани не соответствует предъявляемым требованиям к качеству Изделия.</p>
			<p>5.2.&nbsp;<em>Подрядчик обязан:</em></p>
			<p>5.2.1.&nbsp;уведомлять Заказчика о наличии, либо отсутствии каких-либо материалов;</p>
			<p>5.2.2.&nbsp;изготовить Изделия в соответствии с данными, предоставленными Заказчиком для конструирования и пошива Изделий;</p>
			<p>5.2.3.&nbsp;при обнаружении недостатков при изготовлении Изделия по собственной вине, устранить эти недостатки своими силами и за свой счет в срок не более 45 дней со дня вынесения заключения по претензии Заказчика.</p>
			<p>5.3.&nbsp;<em>Заказчик вправе:</em></p>
			<p>5.3.1.&nbsp;отказаться от услуг доставки и монтажа Изделия, а так же забрать Изделие своими силами по согласованию Сторон.</p>
			<p>5.3.2.&nbsp;предоставить свой материал для пошива или изготовления Изделий;</p>
			<p>5.4.&nbsp;<em>Заказчик обязан:</em></p>
			<p>5.4.1. проверить заполненную Спецификацию (Приложение №1), согласовать все мерки или изменения в Изделии, предоставить всю необходимую информацию об Изделии (если материалы предоставляются Заказчиком);</p>
			<p>5.4.2. принять результат работы в срок, предусмотренный настоящим Договором;</p>
			<p>5.4.3. в разумный срок известить Подрядчика об обнаруженных недостатках в Изделиях, которые не могли быть выявлены при приемке.</p>
			<p>5.4.4. предоставить схему скрытой электропроводки, водоснабжения, отопления, кондиционирования и любых других скрытых коммуникаций в местах установки и монтажа Изделия.</p>
			<p>5.4.5. при проведении работ Заказчик самостоятельно отвечает за сохранностью монтируемых изделий и помещения (полы, стены, потолки, двери, мебель, окна и т.п.), в котором происходит монтаж/демонтаж.</p>
			<p>5.4.6. обеспечить в помещении, предназначенном для монтажа/демонтажа и установки Изделия доступ к электророзеткам с переменным напряжением 220 Вольт, а также обеспечить дневное либо искусственное освещение, пригодное для осуществления работ.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>6. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
			<p>6.1.&nbsp;Подрядчик несет ответственность за не сохранность предоставленных Заказчиком материала или иного имущества, оказавшегося во владении Подрядчика в связи с исполнением настоящего Договора.</p>
			<p>6.2.&nbsp;Заказчик несет ответственность за полноту сведений и правильность указанных &nbsp;им размеров (если замеры производились Заказчиком), необходимых для составления технического задания. При невозможности изготовления по разработанному проекту из-за &nbsp;неточностей &nbsp;или неполноты &nbsp;сведений, предоставленных &nbsp;Заказчиком, &nbsp;а &nbsp;также &nbsp;изменения &nbsp;размеров, &nbsp;где &nbsp;производились замеры, расходы по подгонке и доработке Изделия несет Заказчик.</p>
			<p>6.3.&nbsp;Риск случайной гибели или случайного повреждения Изделий до приемки Заказчиком несет Подрядчик только в случае если доставка этих Изделий осуществляется силами самого Подрядчика.</p>
			<p>6.4.&nbsp;В случае невыполнения работы, Подрядчик возвращает всю стоимость невыполненной работы.</p>
			<p>6.5.&nbsp;В случае просрочки выполнения заказа не по вине Заказчика более чем на 7 рабочих дней, Подрядчик выплачивает Заказчику неустойку в размере 0,01%  в день от суммы договора.</p>
			<p>6.6.&nbsp;За просрочку оплаты работы, согласно п.2.2. настоящего Договора, выполненной в соответствии с настоящим Договором, Заказчик уплачивает Подрядчику неустойку в размере 0,01% от суммы договора за каждый день просрочки.</p>
			<p>6.7.&nbsp;Подрядчик не несет ответственность за Программное обеспечение, установленное Заказчиком на Изделие. Также Подрядчик не несет ответственности за состояние Изделия Заказчика, устройств и технические неполадки, возникшие в процессе выполнения команд, заданных Заказчиком.</p>
			<p>6.8.&nbsp;Подрядчик не является участником отношений, связанных с производством, приобретением, использованием, обеспечением работоспособности устройств сторонних производителей, управление которыми осуществляется при помощи функций сервиса. Претензии получателя услуги к Подрядчику за сохранность монтируемых изделий и помещения (полы, стены, потолки, двери, мебель, окна и т.п.), в котором происходит монтаж/демонтаж, принимаются в течение производства работ по монтажу/демонтажу, после оформления сдачи-приема выполненных работ претензии не принимаются.</p>
			<p>6.9.&nbsp;<strong>В случае переноса даты передачи готового Изделия, принятия работ и оказания услуг, согласно Спецификации по инициативе или вине Заказчика на срок более трех календарных дней, Заказчик уплачивает Подрядчику сумму в размере 3% в день от основной суммы Договора, за каждый день ответственного хранения Изделия на складе Подрядчика  до момента непосредственной передачи, установки или монтажа Изделия в помещении Заказчика. При этом, отгрузка Изделия, оказание услуги, которое находилось на ответственном хранении на складе Подрядчика, осуществляется только после предоставления Заказчиком квитанции о фактически оплаченной сумме за ответственное хранение.</strong></p>

		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">2</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf3" class="pf w0 h0" data-page-no="3">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>7. ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ ДОГОВОРА</p>
			<p>7.1. &nbsp;Заказчик вправе отказаться (полностью или частично) от изготовления Изделия при условии оплаты Подрядчику фактически понесенных им расходов, а также сумму упущенной выгоды, предварительно уведомив Подрядчика не менее чем за пять дней до расторжения Договора.</p>
			<p>7.2. &nbsp;Подрядчик вправе отказаться от исполнения услуг при условии возмещения фактически понесенных им расходов, предварительно уведомив Заказчика не менее чем за пять дней до расторжения Договора.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>8. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ</p>
			<p>8.1. Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или избежать, включая, но, не ограничиваясь, объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения, наводнения, пожары и другие стихийные бедствия, запрещения экспорта или импорта (эмбарго), решений Правительства или решений государственных таможенных органов, действиями правоохранительных органов. Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и продолжительности действия непреодолимой силы.</p>
			<p>8.2. В случаях наступления обстоятельств, предусмотренных в п. 8.1, срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>9. РАЗРЕШЕНИЕ СПОРОВ</p>
			<p>9.1. Споры и разногласия, возникающие между Сторонами, разрешаются путем переговоров, в соответствии с действующим гражданским законодательством Российской Федерации.</p>
			<p>9.2. В случае возникновения споров между Подрядчиком и Заказчиком по вопросам, предусмотренным настоящим Договором, или в связи с ним, Стороны примут все меры к разрешению их путем переговоров между собой.</p>
			<p>9.3. При невозможности урегулирования в процессе переговоров споры разрешаются в порядке, установленном действующим законодательством, с соблюдением претензионного порядка разрешения спора. Обращения направляются на адрес электронной почты client@re-forma.ru или отправляются в письменном виде по адресу доставки корреспонденции либо по адресу: г. Москва, набережная Марка Шагала, д. 1 корпус 2 (помещение 9 и 9а).</p>
			<p>9.4. Претензия Заказчика должна содержать конкретные, обоснованные требования нарушения норм законодательства, к которой должны быть приложены копии документов, подтверждающих изложенные обстоятельства. Доставка претензионного материала осуществляется заказным письмом с уведомлением, по электронной почте, телеграммой либо нарочной (курьерской) связью. Факт получения документов должен подтверждаться распиской стороны в его получении.</p>
			<p>9.5. Сторона, получившая претензию, обязана ее рассмотреть в течение 10 (десяти) рабочих дней и направить мотивированный ответ, а при необходимости проведения экспертизы срок продлевается на весь период исследования.</p>
			<p>9.6. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке в соответствии с п.2. ст. 17 Закона о защите прав потребителей, с нормами главы 37 Гражданского кодекса Российской Федерации.</p>
			<p>9.7. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке в суде Республики Башкортостан г. Уфы.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
			<p>10.1. &nbsp;Настоящий Договор вступает в силу с момента подписания его Сторонами и действует до исполнения Сторонами своих обязательств.</p>
			<p>10.2. &nbsp;Любые изменения и дополнения к настоящему Договору будут являться неотъемлемой частью и действительны в том случае, если они совершены в письменной форме, оформлены надлежащим образом и подписаны обеими сторонами и уполномоченными представителями сторон.</p>
			<p>10.3 &nbsp;Настоящий Договор составлен в двух экземплярах. Оба экземпляра идентичны и имеют одинаковую юридическую силу. У каждой из Сторон находится один экземпляр настоящего Договора.</p>
			<p>10.4. &nbsp;Стороны допускают обмен экземплярами настоящего Договора, приложений и дополнительных соглашений к нему, подписанных одной стороной, сканированных и направленных другой стороне по адресам электронной почты, указанной в Реквизитах сторон, признавая тем самым юридическую силу названных документов. Кроме того, стороны признают переписку по электронной почте в качестве надлежащего доказательства, когда можно достоверно установить, от кого исходило сообщение и кому оно адресовано (п. 65 Постановления Пленума ВС РФ от 23.06.15 № 25).</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
			<p>Заказчик дает свое согласие на обработку своих персональных данных и использование их в целях заключения гражданско-правового договора, к которым относятся:</p>
			<p>- паспортные данные;</p>
			<p>- год, месяц, дата и место рождения, а также иные данные, содержащиеся в удостоверении личности;</p>
			<p>- данные о месте жительства, почтовом адресе, телефоне, адресе электронной почты;</p>
			<p>- данные о контактных номерах телефона.</p>
			<p>Настоящее согласие предоставляется на осуществление любых действий в отношении заказчика персональных данных, которые необходимы или желаемы для достижения указанной выше цели, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), передачу персональных данных, а также осуществление любых иных действий с моими персональными данными, предусмотренных действующим законодательством Российской Федерации.</p>
			<p>Заказчик проинформирован(а), Подрядчик гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
			<p>Данное согласие действует бессрочно с момента его выдачи.</p>
			<p>Данное согласие может быть отозвано в любой момент по моему письменному заявлению.</p>
			<p>Заказчик подтверждает, что, давая такое согласие, действует по собственной воле и в своих интересах.</p>

		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">3</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf4" class="pf w0 h0" data-page-no="4">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>ПРИМЕЧАНИЕ №1. ДОВЕРЕННЫЕ ЛИЦА, ИМЕЮЩИЕ ПРАВО ПОДПИСЫВАТЬ АКТ СДАЧИ-ПРИЕМА ВЫПОЛНЕННЫХ РАБОТ.</p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.0|default:'________________________________________/' }}</v></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.0|default:'+7_____________________________' }}</v></p>
            <p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.1|default:'________________________________________/' }}</v></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.1|default:'+7_____________________________' }}</v></p>
			<p>&nbsp;<em>Полномочия представителя на совершение юридически значимых действий от моего имени в рамках настоящего договора подтверждаю.</em></p>
			<p>&nbsp;</p>
			<p>&nbsp;Неотъемлемой частью настоящего Договора являются:</p>
			<p>&middot;&nbsp;Приложение № 1 &laquo;Спецификация&raquo;,</p>
			<p>&middot;&nbsp;Приложение № 2 &laquo;Материалы Заказчика&raquo; - в случае использования материалов Заказчика.</p>
			<p style="text-align: center; font-weight: bold;"><br>АДРЕСА И РЕКВИЗИТЫ СТОРОН</p>
			<p>&nbsp;</p>
			<table border="1" cellpadding="10" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ПОДРЯДЧИК:</b></p>
							<p align="center"><b>Индивидуальный предприниматель</b></p>
							<p align="center"><v>{{ postavshik.fio }}</v></p>
							<p>Юр.адрес: <v>{{ postavshik.adres1 }}</v> <v>{{ postavshik.adres2 }}</v></p>
							<p>ИНН: <v>{{ postavshik.inn }}</v></p>
							<p>ОГРНИП <v>{{ postavshik.ogrnip }}</v></p>
							<p>р/с: <v>{{ postavshik.rs }}</v></p>
							<p><v>{{ postavshik.bank1 }}</v> <v>{{ postavshik.bank2 }}</v></p>
							<p>к/с: <v>{{ postavshik.ks }}</v></p>
							<p>БИК <v>{{ postavshik.bik }}</v></p>
							<p>Тел: 8 (347) 299-11-70 (отдел по работе с клиентами)</p>
							<p>8 (937) 325-79-75 (сервис)</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись _______________________/ <v>{{ postavshik.inicialy }}</v>/</p>
							<p>&nbsp;</p>
						</td>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ЗАКАЗЧИК:</b></p>
							<p>Фамилия&nbsp;<v>{{ dogovor.passport_familiya|default:'___________________________' }}</v></p>
							<p>Имя&nbsp;<v>{{ dogovor.passport_imya|default:'_____________________________' }}</v></p>
							<p>Отчество &nbsp;<v>{{ dogovor.passport_otchestvo|default:'_____________________________' }}</v></p>
							<p>Дата рождения&nbsp;: <v>{{ dogovor.passport_birthday_date|default:'________________________' }}</v></p>
							<p>Паспорт:&nbsp;серия&nbsp;{% if dogovor.passport_seria and dogovor.passport_nomer %}<v>{{ dogovor.passport_seria }}</v> № <v>{{ dogovor.passport_nomer }}</v>{% else %}_______________________________{% endif %}</p>
							<p>выдан&nbsp;<v>{{ dogovor.passport_kem_vydan|default:'__________________________________ _____________________________________<br>__________________________________ _____________________________________<br>__________________________________ _____________________________________' }}</v></p>
							<p>дата выдачи <v>{{ dogovor.passport_kogda_vydan|default:'_____________' }}</v> к/п <v>{{ dogovor.passport_kp|default:'_____________' }}</v></p>
							<p>Адрес&nbsp;прописки: <v>{{ dogovor.adres_propiski|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Адрес установки: <v>{{ dogovor.adres_ustanovki|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Телефон:</p>
							<p>1. <v>{{ froze.client.phone|default:'_______________________' }}</v></p>
							<p>2. <v>{{ froze.client.phone_two|default:'_______________________' }}</v></p>
							<p>e-mail:____________________________________</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <v>{{ dogovor_more.inicialy|default:'_______________' }}</v>/</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<table border="2" cellpadding="20" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 100%;">
							<p>&nbsp;</p>
							<p style="font-size: 130%"> Уважаемый Заказчик! Обращаем Ваше внимание на то, что Подрядчик будет вести все переговоры по изделию, его изготовлению, назначению монтажных работ, обсуждать иные вопросы, возникающие по данному договору, а также обсуждать вопросы, касающиеся оплаты в рамках данного договора, только исключительно с самим Заказчиком, указанным в реквизитах сторон, или с его доверенным лицом, указанным в договоре в Примечании №1.</p>
							<p style="font-size: 130%">  Любая информация по заказу, полученная от лиц, не указанных в Договоре, не подлежит рассмотрению Подрядчиком.</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">4</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>

</div><div class="loading-indicator"></div>
</body>
<script>window.print();</script>
<style>
	.zakazchik p {
		border-bottom: solid 1px rgb(0,0,0);
	}
	p.no-border {
		border-bottom: none;
	}
	.t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0.page_without_logo {
		margin-top: -22px;
		padding-top: 0 !important;
	}
	img.logo {
		width: 87px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
		width: 2275px;
		white-space: normal;
		line-height: 39.5px;
		text-align: justify;
		left: 14.000000px;
		padding-top: 25px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
		text-indent: 143.650001px;
		margin: 0;
	}
	.pf1text {
		padding-top: 58px !important;
	}
	@media print{
		img.logo {
			width: 155px;
		}
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
			width: 4044.620px;line-height: 65.5px;
			left: 18.666667pt;
			padding-top: 42px;
		}
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
			text-indent: 243.650001px;
			margin: 0;
		}
		.pf1text {
			padding-top: 102px !important;
		}
	}
	v {
		color: black;
		font-weight: bold;
	}
	.requisites p {
		text-indent: 0px !important;
	}
</style>
</html>