<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/base.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/fancy.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/main.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovora_original_docx_view.css' %}"/>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/compatibility.min.js' %}"></script>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/theViewer.min.js' %}"></script>
	<script>try{theViewer.defaultViewer = new theViewer.Viewer({});}catch(e){}</script>
	<title>Мягкая мебель</title>
</head>
<body>
<div id="sidebar"><div id="outline"></div></div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
	<div class="pc pc1 w0 h0">
		<img class="bi x0 y0 w1 h1" src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/bg1.png' %}" style="opacity:0.5;filter:alpha(opacity=50)">
		<div class="t m0 x4 h5 y4 ff5 fs0 fc0 sc0 ls0 ws0">ДОГОВОР № {% if dogovor.nomer_dogovora %}<v>{{ dogovor.nomer_dogovora }}</v>{% else %}_____{% endif %} {% if froze.type_pay == 'internal_installment' %}А/В{% else %}<v>{{ postavshik.nomer_dog }}</v>{% endif %}</div>
		<div class="t m0 x5 h5 y5 fs0 fc0 sc0 ls0 ws0"><b>на изготовление мягкой мебели</b></div>
		<div class="t m0 x6 h6 y6 ff7 fs0 fc0 sc0 ls0 ws0">Республика Башкортостан, г.<span class="ff8"> </span>Уфа<span class="ff8">                                                                                                                                                     {% if dogovor.data_podpisaniya %}                   «<v>{{ dogovor.data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.data_podpisaniya_month }}</v> <v>{{ dogovor.data_podpisaniya|date:'Y' }}</v>{% else %}«____» _____________ 202___{% endif %} </span>г.</div>

		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 pf1text">
			<p>{% if dogovor.passport_familiya and dogovor.passport_imya and dogovor.passport_otchestvo %}<v>{{ dogovor.passport_familiya }}</v> <v>{{ dogovor.passport_imya }}</v> <v>{{ dogovor.passport_otchestvo }}</v>{% else %}_______________________________________________________________________________________________{% endif %}, именуемый в дальнейшем «Заказчик», с одной стороны и <b>Индивидуальный предприниматель <v>{{ postavshik.fio }}</v></b>, действующий на основании ОГРНИП <v>{{ postavshik.ogrnip }}</v>, именуемый в дальнейшем «Подрядчик», с другой стороны, заключили настоящий Договор о нижеследующем:</p>
            <p style="text-align: center; font-weight: bold;">1. Предмет договора</p>
            <p>1.1. Подрядчик обязуется по заданию Заказчика выполнить работу по изготовлению мягкой &nbsp;мебели (мягкая мебель в наборе, диваны модульные, диваны-кровати с механизмом трансформации, диваны модульные без механизма трансформации, диваны-кровати, кровати, кресла, сиденья, пуфы, мягкие стеновые панели<em>) <v>{{ dogovor.tip_opisanie_izdeliya|default:'_____________________________________________________________' }}</v> (далее по тексту &ndash; &laquo;Изделие&raquo;)</em>, по индивидуальным размерам и комплектации, предусмотренную настоящим Договором и передать Заказчику, а Заказчик обязуется принять и оплатить результат работы в порядке, сроки и по ценам, определённым настоящим Договором.</p>
            <p>1.2. Подрядчик обязуется по заданным Заказчиком размерам и на основании его требований и пожеланий разработать дизайн-проект, изготовить изделие в соответствии с утвержденным Заказчиком дизайн-проектом (Приложение №2), Перечнем материалов (Приложение №1)-далее Дизайн-проект, Бланком технического замера (Приложение №3), а также в соответствии с Техническими условиями  (Приложение №4), которые являются неотъемлемой частью настоящего Договора, в них согласовываются сторонами: вид изделия, количество наименований в заказе, комплектация, гарантийные условия и материал для изготовления изделия.</p>
            <p>1.3. После согласования, утверждения и подписания дизайн-проекта (Приложения №1, 2), Бланка технического замера (Приложение №3)<strong>Заказчик не имеет права вносить изменения в данные документы.</strong></p>
            <p>1.4. Все документы, указанные в п.1.2. настоящего Договора, составляются в 2-х экземплярах, скрепляются подписями Сторон, и обладают равной юридической силой. Каждой стороне передается по одному экземпляру документа.</p>
            <p>1.5. <strong>Подрядчик гарантирует, что при внесении авансового платежа Заказчик сохраняет Цену на изделие, но не может гарантировать наличие всех заказных материалов (с учетом индивидуализации договора) на момент исполнения Договора.</strong></p>
            <p>1.6. Подрядчик также обязуется при необходимости и по договоренности с Заказчиком выполнить дополнительные работы и оказать дополнительные услуги, а Заказчик обязуется оплатить их по отдельному заключенному договору.</p>
            &nbsp;
            <p style="text-align: center; font-weight: bold;">2. Порядок оформления заказа</p>
            <p>2.1. Перед принятием заказа Подрядчик проводит с Заказчиком необходимые консультации по материалам и комплектующим, особенностям изделия. Перед заключением Договора Подрядчик производит технический замер места установки мебели и делает дизайн-проект Заказа. Дизайн-проект разрабатывается индивидуально. Вся продукция производится в соответствии с внутренней технической документацией и техническим условием Подрядчика.</p>
            <p>2.2. Подрядчик оформляет дизайн-проект на основании данных с Бланка технического замера (Приложение №3). В заказе, если это необходимо, делается эскиз Изделия с обязательным указанием размеров: высоты, ширины и глубины.</p>
            <p>2.3. Визуализация проекта — далее Цветной чертеж — это условная демонстрация принятых решений, на которые указывает Заказчик, и не является самостоятельным дизайн-проектом по Договору. Цветной чертеж (Приложение №2) не отражает точных параметров изделия: размеров, цветов, направления и объемов текстур. Точные параметры изделия отражены в Чертеже с указанными размерами (Приложение №2).</p>
            <p>2.4. Заказчик после ознакомления с содержанием Заказа, подписывает документы, давая тем самым согласие на изготовление мебели.</p>
            <p>2.5. В соответствии с Постановлением Правительства РФ от 01 декабря 2009 года №982 «Об утверждении единого перечня продукции, подлежащего обязательной сертификации, и единого перечня продукции, подтверждение соответствия которой осуществляется в форме принятия декларации о соответствии» с изменениями, внесенными Постановлениями Правительства РФ от 20.10.2010г. №848,от 13.11.2010г. №906 материалы из которых изготавливаются изделия не подлежат обязательной сертификации и декларированию соответствия в Системе ГОСТ (Кол ОКП 571400,571430,571440,571450, 571460,571510)</p>
            <p>2.6. Если в рамках согласования документации будет создано и подписано несколько Приложений к Договору, то в случае возникновения спорных ситуаций, приоритетным является Приложение с более поздней датой подписания.</p>
            &nbsp;
            <p style="text-align: center; font-weight: bold;">3. Стоимость работ и порядок расчетов</p>
            <p>3.1. Изготавливаемая по настоящему Договору мебель определяется договорной ценой. <b>Стоимость выполняемых Подрядчиком работ по изготовлению изделия составляет {% if dogovor.vsego_k_oplate %}<v>{{ dogovor_more.vsego_k_oplate }}</v> (<v>{{ dogovor_more.vsego_k_oplate_propisyu }}</v>) <v>{{ dogovor_more.vsego_k_oplate_the_word }}</v>{% else %}_______________(______________________________){% endif %} 00 коп.</b></p>
            <p><b>Стоимость и наименование сопутствующих услуг в том числе составляет: {% if dogovor.naimenov_soputstv_izdeliy %}<v>{{ dogovor_more.summa_za_soputstv_uslugi }}</v> (<v>{{ dogovor_more.summa_za_soputstv_uslugi_propisyu }}</v>) <v>{{ dogovor_more.summa_za_soputstv_uslugi_the_word }}</v>{% else %}__________________  (________________________________________________) рублей{% endif %} 00 коп., что включает в себя (наименование: {% if dogovor.naimenov_soputstv_izdeliy %} <v>{{ dogovor.naimenov_soputstv_izdeliy }})</v>{% else %}________________){% endif %}</b></p>
            <p>3.2. Заказчик обязуется в день подписания Договора внести предоплату(авансовый платеж) в размере не менее {{ dogovor_more.oplata_predoplata_procent|default:'50' }}% от общей стоимости мебели, что составляет в денежном выражении &nbsp;{% if dogovor.oplata_predoplata_rub and dogovor.vsego_k_oplate %}<v>{{ dogovor_more.oplata_predoplata_rub }}</v> (<v>{{ dogovor_more.oplata_predoplata_rub_propisyu }}</v>) <v>{{ dogovor_more.oplata_predoplata_rub_the_word }}</v>{% else %}__________ ________(____________________________________________________) рублей{% endif %} 00 коп.</p>
            <p>3.3. Общая стоимость договора может быть изменена после “чистового” технического замера, при возможном изменении технических параметров помещения Заказчика до законченного им чистового ремонта. Общая стоимость Договора указывается сторонами в Дополнительном соглашении к настоящему Договору, подписанному уполномоченными представителями Сторон. </p>
            <p>3.4. Оплата оставшейся суммы от общей стоимости Договора, определенного на основании окончательного технического замера и заключенного возможного между сторонами Дополнительного соглашения, оплачивается Заказчиком в день подписания между Сторонами Акта сдачи-приема выполненных работ.</p>
            <p>3.5. Возможна досрочная оплата Заказчиком работ Подрядчику по настоящему Договору.</p>
            <p>3.6. Оплата по настоящему Договору производится наличными денежными средствами, либо в безналичном порядке через банковский терминал или на расчетный счет, с последующей выдачей кассового чека.</p>
            &nbsp;
            <p style="text-align: center; font-weight: bold;">4. Сроки и порядок выполнения работ</p>
            <p>4.1. Подрядчик приступает к выполнению работ по настоящему Договору при совокупности выполненных условий, определенных п. 4.2. настоящего Договора.</p>
            <p>4.2. <b>Срок выполнения работ по изготовлению изделия составляет {% if dogovor.srok_ispolneniya_rabot %}<v>{{ dogovor_more.srok_ispolneniya_rabot }}</v> (<v>{{ dogovor_more.srok_ispolneniya_rabot_propisyu }}</v>) <v>{{ dogovor_more.srok_ispolneniya_rabot_the_word }}</v>{% else %}________ (______ ___________________________________) рабочих дней{% endif %}, который начинает исчисляться со дня, следующего за датой &nbsp;выполнения Заказчиком в совокупности следующих условий:</b></p>
            <p>- <strong>внесения Заказчиком оплаты согласно п. 3.6. настоящего Договора;</strong></p>
            <p>- <strong>предоставления Подрядчику для Технического замера помещения с законченным чистовым ремонтом (стены покрашены, обои поклеены, натяжной потолок натянут, полы уложены, розетки выведены, плинтуса установлены, наличие межкомнатных дверей с наличниками);</strong></p>
            <p>- <strong>подписания Заказчиком Бланка технического замера (Приложение №3), либо отказа от проведения технического замера;</strong></p>
            <p>- <strong>При этом, если помещение не готово на чистовом/контрольном замере, то Заказчик обязан предоставить фото с готовым помещением на мессенджер WhatsApp по тел: +7 965-641-81-22, после чего начнет исчисляться срок выполнения работ;</strong></p>
            <p>- <strong>согласования Заказчиком окончательного варианта Дизайн-проекта путем подписания.</strong></p>
            <p>4.3. По настоящему Договору возможно досрочное выполнение работ. Заказчик обязан принять доставленное изделие, подписать Акт сдачи-приема выполненных работ, внести оплату оставшейся суммы от стоимости Заказа в полном объеме.</p>
            <p>4.4. В случае, если после подписания Договора, в процессе конструктивной обработки заказа станет очевидным, что изменение габаритных размеров отдельных изделий и комплектующих, а также количественный состав и качественные характеристики изделия, выходят за пределы технических условий Подрядчика, Подрядчик уведомляет Заказчика о соответствующих изменениях, путем направления в адрес Заказчика измененного Приложения №1 или Приложения №2.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">1</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
            <p>Допускаются следующие способы обмена информацией: мессенджер WhatsApp, электронная почта, указанная в реквизитах настоящего Договора. Заказчик в течение 2 (двух) календарных дней с момента уведомления, направляет в адрес Подрядчика свой мотивированный ответ - согласие на изменение, либо отказ. Подрядчик с момента получения уведомления о согласии Заказчика с изменениями заказа, приступает к дальнейшему исполнению Договора. В случае отказа Заказчика от изменений, ведутся переговоры до полного согласования Приложения №1 или Приложения №2.</p>
            <p>4.5. В случае, если Заказчик, изъявил желание изготовить изделие с нарушением технического условия Подрядчика и общепринятых в мебельной промышленности стандартов (габариты кухонных модулей, их расположение относительно друг друга, специфический конструктив модулей, применение фурнитуры не по прямому назначению и т. д.), все явные и скрытые риски, вызванные этими изменениями, ложатся на Заказчика. </p>
            <p>4.6. Конкретный день и время доставки изделия согласовывается с Заказчиком заблаговременно до наступления даты доставки, но не позже, чем за 3 (три) дня путем телефонных переговоров. При невозможности дозвониться до Заказчика, Подрядчик оставляет за собой право напомнить Заказчику о конкретном фактическом дне и времени доставки изделия посредством: WhatsApp мессенджера, СМС-сообщения по номеру, указанному Заказчиком в настоящем Договоре, или отправкой уведомления на электронную почту, указанную Заказчиком, или посредством телефонного звонка по номеру, указанному Заказчиком.</p>
            <p><strong>Если Заказчик не подтвердил дату доставки, дата окончания Договора продлевается на неделю в одностороннем порядке.</strong></p>
            <p>4.7. По завершению работ, предусмотренных п.4.2 настоящего Договора, Подрядчик предоставляет Заказчику Акт сдачи-приема выполненных работ.</p>
            <p>4.8. В случае мотивированного отказа Заказчика от подписания Акта сдачи-приема выполненных работ, сторонами составляется двухсторонний акт с перечнем необходимых доработок и сроков исправления.</p>
            <p>4.9. В случае, если Заказчик, изъявил желание изготовить изделие с нарушением общепринятых в мебельной промышленности стандартов: – ГОСТ 20400, ГОСТ 16371,ГОСТ 19917, все явные и скрытые риски, вызванные этими изменениями, ложатся на Заказчика.</p>
            &nbsp;
            <p style="text-align: center; font-weight: bold;">4.10. Технический замер помещения</p>
            <p>4.10.1 По согласованию сторон под термином «чистовой ремонт» понимается «Определенный вид подготовки помещения для осуществления технического замера и изготовления изделия по индивидуальным размерам: плоскости стен, пол и потолок оштукатурены и выровнены по вертикали и горизонтали, согласно СНиП 3.04.01-87 «Изоляционные и отделочные покрытия», напольное покрытие уложено, натяжной потолок «смонтирован», обои поклеены.</p>
            <p>4.10.2 Выезд специалиста по техническому замеру производится 2 раза – черновой технический замер (перед заключением договора) и чистовой технический замер (после заключения договора) и оплачивается Заказчиком в соответствии с действующими тарифами у Подрядчика. Если Заказчик вызывает замерщика во время ремонта, когда нет окончательных размеров помещения и еще не проведены коммуникации, не выполнены предоставленные требования по пунктам, которые были указаны на первичном техническом замере, то размеры будут приблизительными и может потребоваться дополнительный выезд замерщика. Все дополнительные выезды специалиста оплачиваются Заказчиком в соответствии с действующими тарифами у Подрядчика.</p>
            <p>4.10.3 Условия для проведения замера:</p>
                <p>- Заказчик обязан подготовить помещение к моменту проведения замера изделия: подготовить существующие или вновь возводимые стены, межкомнатные перегородки, откосы; выровнять неровности или кривизну прилегающих стен (пола, потолков);</p>
                <p>- подготовить необходимые мебельные конструкции (их полную готовность к приезду замерщика на объект Заказчика, они должны быть выставлены в уровне, стянуты между собой и должны находиться в конечном положении);</p>
                <p>- обеспечить наличие освещения для выполнения замера;</p>
                <p>- при заказе столешницы с мойкой, Заказчик обязан обеспечить наличие мойки на момент замера;</p>
                <p>- заказчик обязан предоставить на момент замера всю необходимую технику/сантехнику, которую предполагается встраивать в месте проведения монтажных работ.</p>
            <p>4.10.4 Заказчик или его доверенное лицо по Договору обязан присутствовать на техническом замере изделия, обеспечить доступ к месту проведения замера. В случае отсутствия Заказчика или его доверенного лица по Договору, замер считается не состоявшимся.</p>
            <p>4.10.5 После осуществления чистового/окончательного замера в помещении предполагаемой установки изделия, мебельные (опорные) и/или строительные конструкции (стены, откосы, полы, дверные проемы, потолок) не должны двигаться и подвергаться любому перемещению/изменению, в противном случае, требуется повторный выезд специалиста по техническому замеру в соответствии с действующими тарифами у Подрядчика. В случае несоблюдения Заказчиком условий, перечисленных выше, Подрядчик не несет ответственность за установку изделия по размерам итогового замера.</p>
            <p>4.10.6 Изделие изготавливается индивидуально, после проведения Подрядчиком чистового/контрольного замера и утвержденной сторонами технической документации. Технической документацией является Бланк технического замера и предоставленные требования по подготовке коммуникации, а также согласно разделу 1 настоящего Договора приложения, согласованные представителем Подрядчика и подписанные Заказчиком.</p>
            <p>4.10.7 При изготовлении изделия без проведения по требованию Заказчика чистового/контрольного замера, по чертежам, параметрам и размерам, предоставленным Заказчиком, Заказчик несет всю ответственность за предоставленные размеры и параметры изделия. </p>
            <p>4.10.8 В случае, если осуществление технического замера невозможно по причинам, независящим от Подрядчика, в частности, таким как: </p>
                <p>- отказ Заказчика демонтировать мебель, имеющуюся у него в помещении и препятствующую осуществлению технического замера;</p>
                <p>- отказ Заказчика в допуске сотрудников Подрядчика в помещение Заказчика;</p>
                <p>- отсутствие Заказчика или доверенного лица по Договору в день, на который был назначен технический замер Помещения на объекте;</p>
                <p>- а также по иным причинам, не зависящим от Подрядчика, то срок окончательного исполнения заказа может быть изменен в одностороннем порядке пропорционально срокам устранения причин.</p>
            &nbsp;
            <p align="center"><strong>5. Порядок приемки-передачи мебели</strong></p>
            <p>5.1. Перед наступлением срока готовности изделия к доставке Подрядчик уведомляет Заказчика о готовности изделия.  Подрядчик вправе досрочно поставить изделие с обязательным уведомлением Заказчика не позднее, чем за 3 дня до предполагаемой даты доставки.</p>
            <p>5.2. Заказчик обязан обеспечить беспрепятственный доступ представителям Подрядчика к месту монтажа изделия, подготовить место для складирования изделия, имеющее горизонтальную поверхность без перепадов и выступов стен и полов. В случае невыполнения данного условия Подрядчик не несет ответственность за качество изготовленного изделия.</p>
            <p>5.3.1. Разгрузка изделия и его занос в здание/помещение на 1-й этаж осуществляется Подрядчиком самостоятельно. Стоимость перечисленных услуг входит в стоимость Работ и дополнительно не оплачивается при наличии в здании технических средств подъема (лифта) и возможности его использования. Подъем негабаритных изделий рассчитывается индивидуально, согласно тарифам Подрядчика.</p>
            <p>5.3.2.<strong><u>К дате доставки мебели Заказчик обязан подготовить помещение согласно следующим требованиям:</u></strong></p>
            <p>- помещение должно быть очищено от строительного мусора;</p>
            <p>- температура воздуха в помещении должна быть не ниже +10 град. С;</p>
            <p>- освободить дверные проёмы, убрать крупногабаритные предметы, препятствующие транспортировке изделия в помещение;</p>
            <p>- демонтировать и вынести из помещения старую мебель. Подрядчик не производит демонтаж каких-либо изделий.</p>
            <p>5.4. Заказчик понимает и ознакомлен с тем, что: отдельные изделия и комплектующие не повторяют геометрию стен, потолка, пола и т.п., в связи с чем между изделием и граничащими с ним поверхностями (стены, пол, потолок и т.п.) будут или могут быть равномерные и/или неравномерные зазоры (расстояния, щели); при установке изделия на пол с имеющимися неровностями (завалы, прогибы, выпуклости и прочие недостатки) и вследствие чего являющимся неустойчивым и меняющим свою геометрию при оказании на него воздействия, в этих случаях собранное изделие будет стоять не устойчиво (не ровно), в связи с чем технические и качественные характеристики изделия не будут соответствовать заявленным.<strong> В этом случае Подрядчик не несет ответственности за качество и последствия выполненных работ.</strong></p>
            <p>5.5. Подрядчик не производит работы по выравниванию стен, полов и потолков. Подрядчик не несет ответственности за конструкции (проемы, ниши, короба, подиумы, инсталляции и т.д.), возведенные другими организациями, а также Подрядчик не несет ответственности за качество отделочных работ, произведенных другими организациями.</p>
            <p>5.6. Прием мебели производится Заказчиком, согласно эскизу (Приложение 1 и Приложение 2) в присутствии представителей обеих сторон, о чем составляется Акт сдачи-приема выполненных работ.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">2</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf3" class="pf w0 h0" data-page-no="3">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
            <p>5.7. Приемка изготовленного изделия по настоящему Договору осуществляется Заказчиком лично, либо доверенным лицом (лицами) Заказчика, указанным (указанными) в настоящем Договоре. Заказчик вправе изменить или дополнить перечень своих доверенных лиц в письменном виде с указанием информации о них (ФИО, телефон) и сведений о настоящем договоре (дата, номер). В случае отсутствия Заказчика или его доверенного лица в согласованный день передачи изделия, Подрядчик изделие не передает. Стороны согласовывают новую дату передачи изделия. При этом Заказчик осуществляет оплату за дополнительный выезд. Расходы представителей Подрядчика на объект Заказчика просчитываются индивидуально.</p>
            <p>5.8. Доверенные лица, имеющие право подписывать Бланк технического замера, Акт сдачи-приема выполненных работ, указаны в Примечании №1. Подписание Бланка технического замера и Акта сдачи-приема выполненных работ, доверенными лицами, считается подписанием данного Бланка и Акта самим Заказчиком. </p>
            <p>5.9. Мебель считается переданной Подрядчиком и принятой Заказчиком с переходом к нему права собственности, только после подписания сторонами Акта сдачи-приема мебели и полной оплаты за изделие.</p>
            <p>5.10. Заказчик, обнаруживший недостатки по изготовлению мебели при ее приемке, вправе ссылаться на них впоследствии, если они были зафиксированы в Акте сдачи-приема выполненных работ.</p>
            <p>5.11. Сотрудники Подрядчика, занимающиеся доставкой, не имеют права давать какие-либо обещания или принимать какие-либо обязательства от имени Подрядчика. Любые вопросы, возникающие в ходе доставки мебели, должны решаться Заказчиком и службой отдела по работе с клиентами Подрядчика (Тел: 8(495) 796-11-70, +7 903-796 11 70).</p>
            <p>5.12. Доставка изделия до места передачи его, указанного в реквизитах настоящего Договора (адрес доставки изделия), осуществляется Подрядчиком за счет Заказчика.</p>
            <p>5.13. Если при доставке изделия не возможно обеспечить въезд к подъезду Заказчика, то в данном случае изделие будет выгружено и погружено в другое транспортное средство для обеспечения въезда к подъезду. Оплата дополнительного транспортного средства, выгрузка и погрузка производится за счет Заказчика и стоимость просчитывается индивидуально.</p>
            <p>5.14. В случае не обеспечения Заказчиком надлежащей приемки изделия, повторная доставка (осуществляемая по вине Заказчика) производится в согласованные сторонами сроки за счет Заказчика и просчитывается индивидуально.</p>
            &nbsp;
            <p align="center"><strong>6. Права и обязанности сторон</strong></p>
            <p><strong>6.1. Права и обязанности Подрядчика:</strong></p>
            <p>6.1.1.<strong>Вправе:</strong></p>
            <p>- сдать результат работ досрочно</p>
            <p>- по своему усмотрению, устанавливать и вносить изменения в технические особенности и конструктив Изделия, не влияющие существенно на его внешний вид и стоимость, без уведомления Заказчика.</p>
            <p>- отказаться от исполнения части обязательств по настоящему договору, в случае обоснованной невозможности их исполнить.</p>
            <p>- в случае нарушения Заказчиком требований Разделов 3 и 5 настоящего Договора, а также случаях, указанных в пункте 4.1, Подрядчик имеет право в одностороннем порядке продлить срок выполнения работ, пропорционально сроку устранения Заказчиком допущенных нарушений;</p>
            <p>- приостановить исполнение работы по настоящему Договору и передачу мебели, не неся при этом ответственность за просрочку исполнения обязательств по Договору, в следующих случаях:</p>
            <p>а) не исполнение Заказчиком п. 3.2 настоящего Договора;</p>
            <p>б) по письменному заявлению Заказчика;</p>
            <p>- расторгнуть настоящий Договор в течение двух недель после подписания настоящего Договора с выплатой Заказчику всей внесенной им суммы Подрядчику, если обнаружится невозможность исполнения данного Договора.</p>
            <p>- подрядчик вправе для выполнения работ по настоящему Договору привлекать третьих лиц, оставаясь при этом ответственным перед Заказчиком за их действия в полном объеме.</p>
            <p>6.1.2. <strong>Обязан:</strong></p>
            <p>- обговорить с Заказчиком конкретную модель, цвет, параметры заказываемой мебели, эскиз с полным описанием, который является неотъемлемой частью настоящего Договора, или каталог, предоставить полную информацию о комплектации мебели, передать Заказчику гарантийный талон на изготовленную мебель, а также Технические условия;</p>
            <p>- по результатам технического замера произвести уточненный расчет стоимости заказа;</p>
            <p>- оформить договор и эскизы изделий, которые подписываются Заказчиком, при условии предоставления Заказчиком всех необходимых для этого сведений;</p>
            <p>- в случае возникновения обстоятельств, замедляющих ход работ или делающих дальнейшее продолжение работ невозможным, немедленно поставить об этом в известность Заказчика;</p>
            <p>- передать Заказчику изделие надлежащего качества и соответствующее техническим чертежам, составленным на основании контрольного замера, согласованным с Заказчиком, техническому условию компании и комплектации, описанной в спецификации, в срок, обозначенный настоящим Договором;</p>
            <p>- при возникновении необходимости в проведении дополнительных работ и в связи с этим в существенном повышении цены работы на определенном этапе выполнения работ по настоящему договору, Подрядчик должен своевременно предупредить об этом Заказчика.</p>
            <p>- устранить признанные Подрядчиком недостатки изделия, выявленные в процессе приемки изделия Заказчиком, в срок не более 45 дней со дня вынесения заключения по претензии Заказчика.</p>
            <p><strong>6.2. Права и обязанности Заказчика</strong></p>
            <p>6.2.1. <strong>Вправе:</strong></p>
            <p>- самостоятельно произвести замер и предоставить результаты замера Подрядчику для изготовления изделия. При этом Подрядчик освобождается от обязанности производить замер и не несет ответственность за несоответствие размеров изготовленной Подрядчиком мебели размерам помещения, в котором должна быть установлена мебель;</p>
            <p>- осуществлять контроль за выполнением работ по разгрузке и складировании изделия, не вмешиваясь в деятельность Подрядчика;</p>
            <p>- в случае выявления каких-либо недостатков Заказчик оставляет за собой право указать Подрядчику на устранение выявленных недостатков за счет Подрядчика в течение гарантийного срока;</p>
            <p>- известить Подрядчика об изменении размеров помещения, где производились замеры, если таковые изменения имели место быть. В этом случае при необходимости составляется новая дополнительная спецификация и делается перерасчет по сумме;</p>
            <p>- при передаче мебели производит проверку внешнего вида изделия, комплектации, качеству;</p>
            <p>- по желанию Заказчика возможно изготовление пробного образца декоративного покрытия (далее — образец). Изготовление первого образца бесплатно, последующие согласно тарифам компании. Согласованный образец утверждается подписью Заказчика и является неотъемлемой частью договора.</p>
            <p>6.2.2.<strong>Обязан:</strong></p>
            <p>- принять готовое изделие в порядке и в срок, установленные настоящим Договором, обеспечить надлежащие условия приема-передачи изделия в Помещении по адресу, указанному в настоящем Договоре;</p>
            <p>- освободить дверные проёмы, убрать крупногабаритные предметы, препятствующие транспортировке мебели в помещение. В случае если доставка произведена в указанный срок, но по вине Заказчика нет возможности произвести разгрузку или складирование, повторный выезд мастеров оплачивается дополнительно в соответствии с тарифами компании и составляется Дополнительное соглашение на продление сроков исполнения обязательств;</p>
            <p>- лично ознакомиться с Техническими условиями (Приложение №4);</p>
            <p>- произвести полный расчет с Подрядчиком в день доставки изделия Подрядчиком работ по настоящему Договору. Претензии к Подрядчику по изготовлению изделия устраняются по соглашению сторон и не являются поводом для неуплаты окончательного платежа в день доставки изделия. После доставки изделия, подписания Акта сдачи-приема выполненных работ Договор считается исполненным, и обращение Заказчика с претензиями о сколах, царапинах, механических повреждениях и т.п. дефектах может расцениваться Подрядчиком как преднамеренная порча изделия с целью возврата изделия со стороны Заказчика. В этом случае данное изделие возврату не подлежит.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">3</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf4" class="pf w0 h0" data-page-no="4">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">

            &nbsp;
            <p align="center"><strong>7. Гарантия и претензии по качеству работ</strong></p>
            <p>7.1. Изделие изготавливается по качеству, внешнему виду, габаритным размерам, способу трансформации в соответствии с требованиями ГОСТ 16371 и 19917, а цвет и рисунок облицовочных материалов и защитно-декоративных покрытий должны соответствовать образцам-эталонам, Дизайн-проекту и чертежам и Техническим условиям Подрядчика, утвержденных в установленном порядке (допускаются незначительные отклонения от образца эталонов находящихся в салонах Подрядчика, что является спецификой изготовления лицевых материалов и не является браком).</p>
            <p>7.2. Изготавливаемая в рамках настоящего договора мягкая мебель соответствует ГОСТ 23852 и 19917-2014. Отдельные детали изделия имеют предельно-допустимые отклонения в размерах, которые вместе с изъянами кривизны стен, могут в результате установки незначительно изменить общие габаритные размеры изделия. Внешний вид, качество сборки, требования к фурнитуре и трансформации изделия должны контролироваться визуально без применения приборов. Показатели мягкости мягких элементов определяются по ГОСТу 21640-91. Долговечность, прочность и устойчивость пуфов определяется по ГОСТам 12029 и 30211, а диванов, кроватей и кресел определяют по ГОСТам 19120,17340,19194,19918.3., на матрасы осуществляется на основании ГОСТ 19917-2014. Учитывая эти факторы, при проектировании изделия, зажатого между двумя стенами, делается технический отступ от второй стены, размер которого технолог выбирает самостоятельно, для беспрепятственной установки изделия в проем, щели остаются незакрытыми.</p>
            <p>7.3. <strong>На мягкую мебель, изготовленную для общественных, офисных, торговых и иных помещений, используемых в предпринимательских и иных целях не для личных нужд покупателей - 18 (восемнадцать)  месяцев. На мягкую мебель, используемую для личных нужд покупателя (физические лица), не связанных с осуществлением предпринимательской деятельности - 36 (тридцать шесть) месяцев. Гарантия на матрасы осуществляется на основании ГОСТ 19917-2014, по которому обязательный гарантийный срок на матрасы составляет 18 месяцев со дня покупки у Поставщика.</strong> Срок исчисляется с момента подписания Заказчиком Акта сдачи-приемки выполненных работ, при соблюдении Заказчиком правил ухода и эксплуатации за изделием.</p>
            <p>7.4. Гарантийные обязательства не распространяются на следующие случаи:</p>
            <p>- на естественный износ или дефекты, вызванные перегрузкой, неправильной (небрежной) эксплуатацией;</p>
            <p>- повреждение при установке изделий не Подрядчиком (не относящихся к фабрике мебели "Реформа), за исключением случаев обнаружения заводского брака;</p>
            <p>- нарушение рекомендаций Подрядчика по хранению, транспортировке, эксплуатации изделий после передачи их Заказчику;</p>
            <p>- проведение ремонта лицами, не имеющими на это полномочий со стороны Подрядчика;</p>
            <p>- умышленной или случайной порчи изделий, неправомерных действий третьих лиц либо действия обстоятельств непреодолимой силы;</p>
            <p>- на случаи нарушения Заказчиком правил по уходу и эксплуатации мебели, а именно:</p>
            <p>-- на случаи, связанные с воздействием влаги, воды, пара, высоких температур, попаданием прямых солнечных лучей (ультрафиолета), эксплуатация и хранение изделия вне помещений, попадания огня на мебель. Учитывая то, что изготовленная мебель из мягких элементов, то следует соблюдать требования по влажности в помещениях, которая должна быть не ниже 60%, температура окружающего воздуха не ниже 20 градусов. На дефекты, возникшие после и/или во время самостоятельной сборки, а равно разборки мебели Заказчиком; на дефекты, вызванные механическим воздействием на мебель, не предусмотренным правилами эксплуатации мебели (например: удар молотком, удар упавшим предметом, превышение нагрузки и прочее); на Изделие при его самостоятельной установке Заказчиком либо установки с привлечением третьей стороны; на Изделие, расположенное под кондиционером, это сплит-система и канальный кондиционер (исключение составляет отдельно стоящий мобильный кондиционер).</p>
            <p>7.5. Гарантийный срок начинает действовать с даты подписания Заказчиком акта сдачи-приемки выполненных работ по монтажу Подрядчиком.</p>
            <p>7.6. Недопустимо попадание на изделия растворителей, кислот, щелочей, абразивных материалов и т.п. Претензии не принимаются при несоблюдении правил по уходу и эксплуатации мебели.</p>
            <p>7.7. При обнаружении скрытых недостатков Заказа в течение 14 календарных дней, исчисляемых со дня подписания Акта сдачи-приемки, Заказчик вправе требовать от Подрядчика устранения выявленных недостатков. Под "скрытыми недостатками" стороны понимают недостатки, которые не могли быть обнаружены при визуальном осмотре Заказа. Подрядчик обязан заменить бракованные детали или комплектующие не позднее 30 дней после получения заявки Заказчика.</p>
            <p>7.8. Претензии Заказчика связанные с запахом новой мебели, Подрядчиком не принимаются до истечения срока 90 календарных дней с момента подписания Акта сдачи-приемки.</p>
            &nbsp;
            <p align="center"><strong>8. Ответственность сторон</strong></p>
            <p>8.1. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по настоящему Договору, несет ответственность в соответствии с действующими законами РФ и условиям настоящего Договора.</p>
            <p>8.2. В случае просрочки изготовления Изделия, согласно п.4.2. не по вине Заказчика более, чем на 5 рабочих дней, Подрядчик выплачивает Заказчику неустойку в размере 0,01% в день от суммы изготовления Изделия;</p>
            <p>8.3. За просрочку оплаты внесения оставшейся суммы с учетом авансового платежа от общей стоимости Договора, Заказчик уплачивает Подрядчику неустойку в размере 0,01% от общей стоимости Договора за каждый день просрочки.</p>
            <p>8.4. Заказчик несет ответственность за полноту сведений и правильность указанных им размеров (если замеры производились Заказчиком), необходимых для составления дизайнерского чертежа. При невозможности изготовления по разработанному проекту из-за неточностей или неполноты сведений, предоставленных Заказчиком, а также изменения размеров помещения, где производились замеры, расходы по подгонке и доработке мебели несет Заказчик.</p>
            <p>8.5. <strong>В случае переноса даты передачи готового Изделия и его монтажа по инициативе или вине Заказчика на срок <u>более трех календарных дней,</u> Заказчик уплачивает Подрядчику сумму в размере 3% в день от основной суммы Договора, согласно п. 3.1. настоящего Договора, за каждый день ответственного хранения изделия на складе Подрядчика до момента непосредственной передачи изделия в помещение Заказчика. При этом доставка изделия, которое находилось на ответственном хранении на складе Подрядчика, осуществляется только после предоставления Заказчиком подтверждения о фактически оплаченной сумме за ответственное хранение.</strong></p>
            <p>8.6. Риск случайной гибели результата работ или его части по ходу работ несет Подрядчик. Указанный риск переходит к Заказчику в момент принятия работ или его части. Если гибель результата работ произошла по вине Заказчика, Подрядчик вправе получить вознаграждение за выполненный на этот момент объем работ.</p>
            <p>8.7. В случае одностороннего необоснованного расторжения договора со стороны Заказчика последний обязуется возместить Подрядчику все понесенные в связи с выполнением данного договора затраты (ст. 32 «Закон о защите прав потребителей» №212-ФЗ от 17.12. 1999 г.)</p>
             &nbsp;
            <p align="center"><strong>9. Изменение и расторжение договора</strong></p>
            <p>9.1. Заказчик вправе отказаться (полностью или частично) от получения мебели при условии оплаты Подрядчику фактически понесенных им расходов, а также сумму упущенной выгоды, предварительно уведомив Подрядчика не менее чем за пять дней до расторжения договора.</p>
            <p>9.2. Подрядчик вправе отказаться от исполнения услуг при условии возмещения фактически понесенных им расходов, предварительно уведомив Заказчика не менее чем за пять дней до расторжения договора.</p>
            <p>9.3. При расторжении настоящего Договора по инициативе Заказчика по истечении одних суток с момента заключения Договора, внесенная Заказчиком предоплата является гарантией возмещения расходов, понесенных Подрядчиком в результате заключения настоящего Договора. Стоимость расходов определяется Подрядчиком исходя из объема, стоимости и сложности оформленного заказа. Денежная сумма возвращается Заказчику за вычетом стоимости вышеуказанных расходов.</p>
            <p>9.4. Расторжение Договора одной из сторон не освобождает стороны от удовлетворения претензий, поступивших до заявления о расторжении Договора.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">4</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf5" class="pf w0 h0" data-page-no="5">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">

            <p align="center"><strong>10. Форс-мажор</strong></p>
            <p>10.1. Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или избежать, включая, но не ограничиваясь, объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения, наводнения, пожары и другие стихийные бедствия, запрещения экспорта или импорта (эмбарго), решений Правительства или решений государственных таможенных органов, действиями правоохранительных органов. Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и продолжительности действия непреодолимой силы.</p>
            <p>10.2. Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.</p>
            <p>10.3. В случаях наступления обстоятельств, предусмотренных в п. 10.1, срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
            &nbsp;
            <p align="center"><strong>11. Разрешение споров.</strong></p>
            <p>11.1. Споры и разногласия, возникающие между Сторонами, разрешаются путём переговоров, в соответствии с действующим гражданским законодательством Российской Федерации.</p>
            <p>11.2. В случае возникновения споров между Исполнителем и Заказчиком по вопросам, предусмотренным настоящим Договором, или в связи с ним, Стороны примут все меры к разрешению их путем переговоров между собой.</p>
            <p>11.3. При невозможности урегулирования в процессе переговоров споры разрешаются в порядке, установленном действующим законодательством, с соблюдением претензионного порядка разрешения спора. Обращения направляются на адрес электронной почты client@re-forma.ru или отправляются в письменном виде по адресу доставки корреспонденции либо  по адресу: г. Москва, набережная Марка Шагала, д. 1 корпус 2 (помещение 9 и 9а).</p>
            <p>11.4. Претензия Заказчика должна содержать конкретные, обоснованные требования нарушения норм законодательства, к которой должны быть приложены копии документов, подтверждающих изложенные обстоятельства. Доставка претензионного материала осуществляется заказным письмом с уведомлением, по электронной почте, телеграммой либо нарочной (курьерской) связью. Факт получения документов должен подтверждаться распиской стороны в его получении.</p>
            <p>11.5. Сторона, получившая претензию, обязана ее рассмотреть в течение 10 (десяти) рабочих дней и направить мотивированный ответ, а при необходимости проведения экспертизы срок продляется на весь период исследования.</p>
            <p>11.6. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке в суде Республики Башкортостан г. Уфы.</p>
            &nbsp;
            <p align="center"><strong>12. Заключительные положения</strong></p>
            <p>12.1. Настоящий Договор вступает в силу с момента подписания его сторонами и действует до исполнения сторонами своих обязательств.</p>
            <p>12.2. Любые изменения и дополнения к настоящему Договору будут являться  неотъемлемой частью и действительны в том случае, если они совершены в письменной форме, оформлены надлежащим образом и подписаны обеими сторонами и уполномоченными представителями сторон.</p>
            <p>12.3. Настоящий Договор составлен в двух экземплярах. Оба экземпляра идентичны и имеют одинаковую юридическую силу. У каждой из сторон находится один экземпляр настоящего Договора.</p>
            <p>12.4. Условия настоящего Договора, дополнительных соглашений к нему и иная информация, полученная сторонами в соответствии с Договором, конфиденциальны и не подлежат разглашению.</p>
            <p>12.5. Стороны допускают обмен экземплярами настоящего Договора, приложений и дополнительных соглашений к нему, подписанных одной стороной, сканированных и направленных другой стороне по адресам электронной почты, указанной в Реквизитах сторон, признавая тем самым юридическую силу названных документов. Кроме того, стороны признают переписку по электронной почте в качестве надлежащего доказательства, когда можно достоверно установить, от кого исходило сообщение и кому оно адресовано (п. 65 Постановления Пленума ВС РФ от 23.06.15 № 25).</p>
            &nbsp;
			<p style="text-align: center; font-weight: bold;">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
			<p>Заказчик дает свое согласие на обработку своих персональных данных и использование их в целях заключения гражданско-правового договора, к которым относятся:</p>
			<p>- паспортные данные;</p>
			<p>- год, месяц, дата и место рождения, а также иные данные, содержащиеся в удостоверении личности;</p>
			<p>- данные о месте жительства, почтовом адресе, телефоне, адресе электронной почты;</p>
			<p>- данные о контактных номерах телефона.</p>
			<p>Настоящее согласие предоставляется на осуществление любых действий в отношении заказчика персональных данных, которые необходимы или желаемы для достижения указанной выше цели, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), передачу персональных данных, а также осуществление любых иных действий с моими персональными данными, предусмотренных действующим законодательством Российской Федерации.</p>
			<p>Заказчик проинформирован(а), Подрядчик гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
			<p>Данное согласие действует бессрочно с момента его выдачи.</p>
			<p>Данное согласие может быть отозвано в любой момент по моему письменному заявлению.</p>
			<p>Заказчик подтверждает, что, давая такое согласие, действует по собственной воле и в своих интересах.</p>
			&nbsp;
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">5</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf6" class="pf w0 h0" data-page-no="6">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">

            <p><b>Примечание №1. Доверенные лица, имеющие право подписывать Бланк технического замера, Акт сдачи-приема выполненных работ</b>.</p>
            <p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.0|default:'________________________________________/' }}</v></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.0|default:'+7_____________________________' }}</v></p>
            <p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.1|default:'________________________________________/' }}</v></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.1|default:'+7_____________________________' }}</v></p>
            <p><i>Полномочия представителя на совершение юридически значимых действий от моего имени в рамках настоящего договора подтверждаю.</i></p>
            <p>&nbsp;</p>
            <p><b>Примечание № 2. Гарантийный талон получен, заполнен. Технические условия Заказчиком прочитаны, на руки получены.</b></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
			<table border="1" cellpadding="10" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ПОДРЯДЧИК:</b></p>
							<p align="center"><b>Индивидуальный предприниматель</b></p>
							<p align="center"><v>{{ postavshik.fio }}</v></p>
							<p>Юр.адрес: <v>{{ postavshik.adres1 }}</v> <v>{{ postavshik.adres2 }}</v></p>
							<p>ИНН: <v>{{ postavshik.inn }}</v></p>
							<p>ОГРНИП <v>{{ postavshik.ogrnip }}</v></p>
							<p>р/с: <v>{{ postavshik.rs }}</v></p>
							<p><v>{{ postavshik.bank1 }}</v> <v>{{ postavshik.bank2 }}</v></p>
							<p>к/с: <v>{{ postavshik.ks }}</v></p>
							<p>БИК <v>{{ postavshik.bik }}</v></p>
							<p>Тел: 8 (347) 299-11-70 (отдел по работе с клиентами)</p>
							<p>8 (937) 325-79-75 (сервис)</p>
							<p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
							<p><b>_______________________/<v>{{ postavshik.inicialy }}</v>/</b></p>
                            <p>&nbsp;</p>
						</td>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ЗАКАЗЧИК:</b></p>
							<p>Фамилия&nbsp;<v>{{ dogovor.passport_familiya|default:'___________________________' }}</v></p>
							<p>Имя&nbsp;<v>{{ dogovor.passport_imya|default:'_____________________________' }}</v></p>
							<p>Отчество &nbsp;<v>{{ dogovor.passport_otchestvo|default:'_____________________________' }}</v></p>
							<p>Дата рождения&nbsp;: <v>{{ dogovor.passport_birthday_date|default:'________________________' }}</v></p>
                            <p>Место рождения&nbsp;: <v>{{ dogovor.passport_birthday_place|default:'________________________' }}</v></p>
							<p>Паспорт:&nbsp;серия&nbsp;{% if dogovor.passport_seria and dogovor.passport_nomer %}<v>{{ dogovor.passport_seria }}</v> № <v>{{ dogovor.passport_nomer }}</v>{% else %}_______________________________{% endif %}</p>
							<p>выдан&nbsp;<v>{{ dogovor.passport_kem_vydan|default:'__________________________________ _____________________________________<br>__________________________________ _____________________________________<br>__________________________________ _____________________________________' }}</v></p>
							<p>дата выдачи <v>{{ dogovor.passport_kogda_vydan|default:'_____________' }}</v> к/п <v>{{ dogovor.passport_kp|default:'_____________' }}</v></p>
							<p>Адрес&nbsp;прописки: <v>{{ dogovor.adres_propiski|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Адрес установки: <v>{{ dogovor.adres_ustanovki|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Телефон:</p>
							<p>1. <v>{{ froze.client.phone|default:'_______________________' }}</v></p>
							<p>2. <v>{{ froze.client.phone_two|default:'_______________________' }}</v></p>
							<p>e-mail:____________________________________</p>
							<p>&nbsp;</p>
							<p>Подпись ____________________/ <v>{{ dogovor_more.inicialy|default:'_______________' }}</v>/</p>
                            <p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
            <p>&nbsp;</p>
			<p>&nbsp;</p>
			<table border="2" cellpadding="20" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 100%;">
							<p>&nbsp;</p>
							<p style="font-size: 130%"> Уважаемый Заказчик! Обращаем Ваше внимание на то, что Подрядчик будет вести все переговоры по изделию, его изготовлению, назначению монтажных работ, обсуждать иные вопросы, возникающие по данному договору, а также обсуждать вопросы, касающиеся оплаты в рамках данного договора, только исключительно с самим Заказчиком, указанным в реквизитах сторон, или с его доверенным лицом, указанным в договоре в Примечании №1.</p>
							<p style="font-size: 130%">  Любая информация по заказу, полученная от лиц, не указанных в Договоре, не подлежит рассмотрению Подрядчиком.</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">6</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
</div><div class="loading-indicator"></div>
</body>
<script>window.print();</script>
<style>
	.t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0.page_without_logo {
		margin-top: -22px;
		padding-top: 0 !important;
	}

	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
		width: 2275px;
		white-space: normal;
		line-height: 39.5px;
		text-align: justify;
		left: 14.000000px;
		padding-top: 25px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
		text-indent: 143.650001px;
		margin: 0;
	}
	.pf1text {
		padding-top: 58px !important;
	}
	@media print{
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
			width: 3844.620px;
			line-height: 65.5px;
			left: 54pt;
			padding-top: 42px;
		}
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
			text-indent: 243.650001px;
			margin: 0;
		}
		.pf1text {
			padding-top: 102px !important;
		}
	}
	v {
		color: black;
		font-weight: bold;
	}
	.requisites p {
		text-indent: 0px !important;
	}
</style>
</html>