<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/base.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/fancy.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/main.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovora_original_docx_view.css' %}"/>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/compatibility.min.js' %}"></script>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/theViewer.min.js' %}"></script>
	<script>try{theViewer.defaultViewer = new theViewer.Viewer({});}catch(e){}</script>
	<title>Изготовление мебели</title>
</head>
<body>
<div id="sidebar"><div id="outline"></div></div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
	<div class="pc pc1 w0 h0">
		<img class="bi x0 y0 w1 h1" src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/bg1.png' %}?v=1" style="opacity:0.5;filter:alpha(opacity=50)">
		<div class="t m0 x4 h5 y4 ff5 fs0 fc0 sc0 ls0 ws0">ДОГОВОР № {% if dogovor.nomer_dogovora %}<v>{{ dogovor.nomer_dogovora }}</v>{% else %}_____{% endif %} {% if froze.type_pay == 'internal_installment' %}А/В{% else %}<v>{{ postavshik.nomer_dog }}</v>{% endif %}{% if dogovor.kakoy_tip_dogovora == 'kuhonny_2021_07_garnitur_lite' %}<v>/Л</v>{% endif %}</div>
		<div class="t m0 x5 h5 y5 fs0 fc0 sc0 ls0 ws0"><b>на изготовление мебели</b></div>
		<div class="t m0 x6 h6 y6 ff7 fs0 fc0 sc0 ls0 ws0">г.<span class="ff8"> </span>Уфа<span class="ff8">                                                                                                                                                                                                 {% if dogovor.data_podpisaniya %}                   «<v>{{ dogovor.data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.data_podpisaniya_month }}</v> <v>{{ dogovor.data_podpisaniya|date:'Y' }}</v>{% else %}«____» _____________ 202___{% endif %} </span>г.</div>

		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 pf1text">
			<p>{% if dogovor.passport_familiya and dogovor.passport_imya and dogovor.passport_otchestvo %}<v>{{ dogovor.passport_familiya }}</v> <v>{{ dogovor.passport_imya }}</v> <v>{{ dogovor.passport_otchestvo }}</v>{% else %}_______________________________________________________________________________________________{% endif %}, именуемый в дальнейшем «Заказчик», с одной стороны и <b>Индивидуальный предприниматель <v>{{ postavshik.fio }}</v></b>, действующий на основании ОГРНИП <v>{{ postavshik.ogrnip }}</v>, именуемый в дальнейшем «Подрядчик», с другой стороны, совместно именуемые в дальнейшем «Стороны», заключили настоящий Договор о следующем:</p>

			<p style="text-align: center; font-weight: bold;">1. Предмет договора</p>
			<p>1.1. Подрядчик &nbsp;оказывает услугу по изготовлению и монтажу мебели по индивидуальным размерам и комплектации по заказу, и передает ее &nbsp;в собственность Заказчику, а Заказчик обязан принять и оплатить на условиях настоящего Договора <v>{{ dogovor.tip_opisanie_izdeliya|default:'__________________________________________________' }}</v> &nbsp;<em>(наименование изделия)</em>&nbsp;в порядке, в сроки и по ценам, определённым настоящим договором.</p>
			<p>1.2. Подрядчик обязуется по заданным Заказчиком размерам и на основании его требований и пожеланий разработать дизайн-проект, изготовить и смонтировать Изделие в соответствии с утвержденным Заказчиком дизайн-проектом (Приложение №2), Перечнем материалов (Приложение №1)-далее Дизайн-проект, Бланком технического замера (Приложение №3), а так же в соответствии с Техническими условиями &nbsp;(Приложение №4) и Приложение №5, которые являются неотъемлемой частью настоящего Договора, в них согласовываются сторонами: вид Изделия, количество наименований в заказе, комплектация, гарантийные условия и материал для изготовления Изделия.</p>
			<p>1.3. После согласования и утверждения Дизайн-проекта (Приложения №1, 2), Бланка технического замера (Приложение №3)&nbsp;Заказчик не имеет права вносить изменения в данный документ.</p>
			<p>1.4. Все документы, указанные в п.1.2. настоящего Договора, составляются в 2-х экземплярах, скрепляются подписями Сторон, и обладают равной юридической силой. Каждой стороне передается по одному экземпляру документа.</p>
			<p>1.5. Подрядчик гарантирует, что при внесении авансового платежа Заказчик сохраняет Цену на изделие, но не может гарантировать наличие всех заказных материалов (с учетом индивидуализации договора) на момент исполнения Договора.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">2. Порядок оформления заказа</p>
			<p>2.1. Перед принятием заказа Подрядчик проводит с Заказчиком необходимые консультации по материалам и комплектующим, особенностям изделия.</p>
			<p>Перед заключением Договора Подрядчик производит технический замер места установки мебели и делает дизайн-проект Заказа. Дизайн-проект формируется из разработанных Подрядчиком моделей или разрабатывается индивидуально. Вся продукция производится в соответствии с внутренней технической документацией и техническим условием Подрядчика.</p>
			<p>2.2. Подрядчик оформляет дизайн-проект на основании данных с Бланка технического замера (Приложение №3). В заказе, если это необходимо, делается эскиз Изделия с обязательным указанием размеров: высоты, ширины и глубины.</p>
			<p>2.3. Визуализация проекта (далее Цветной чертеж) — это условная демонстрация принятых решений, на которые указывает Заказчик, и не является самостоятельным дизайн-проектом по договору. Цветной чертеж (Приложение №2) не отражает точных параметров изделия: размеров, цветов, направления и объемов текстур. Точные параметры изделия отражены в Чертеже с указанными размерами (Приложение №2).</p>
			<p><strong>2.4. Заказчик обязан предоставить схему скрытой электропроводки, водоснабжения, отопления, кондиционирования и любых других скрытых коммуникаций в местах установки и монтажа Изделия. Кроме того, в случае, если бытовая техника, предназначенная для монтажа вместе с мебелью в рамках настоящего договора, приобретена не у Подрядчика, Заказчик обязан в день заключения договора, либо в день проведения технического замера предоставить Подрядчику схемы и наименование встроенной бытовой техники, ее артикулы.</strong></p>
			<p><strong>В противном случае Подрядчик не несет ответственность за сохранность указанных коммуникаций и электрических приборов, а также за точные просчеты Изделия.</strong></p>
			<p>2.5. Заказчик после ознакомления с содержанием Заказа, подписывает документы, давая тем самым согласие на изготовление мебели.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold">3. Стоимость работ и порядок расчетов</p>
			<p><b>3.1. Изготавливаемая по настоящему Договору мебель определяется договорной ценой. Стоимость выполняемых Подрядчиком работ составляет {% if dogovor.vsego_k_oplate %}<v>{{ dogovor_more.vsego_k_oplate }}</v> (<v>{{ dogovor_more.vsego_k_oplate_propisyu }}</v>) <v>{{ dogovor_more.vsego_k_oplate_the_word }}</v>{% else %}________________ (______________________________________) рублей{% endif %} 00 коп.</b></p>
			<p>3.2. Стоимость работ по настоящему Договору может быть изменена при внесении Заказчиком изменений в Дизайн-проект или при возможном изменении технических параметров помещения Заказчика до законченного им чистового ремонта. Окончательная стоимость работ указывается сторонами в Дополнительном соглашении к настоящему Договору, подписанном уполномоченными представителями Сторон.</p>
			<p>3.3. Стоимость материалов, стоимость составления Дизайн-проекта, с использованием специальных программных и технических средств, входит в стоимость работ, предусмотренных настоящим Договором.</p>
			<p>Стороны согласны с тем, что стоимость составления Дизайн-проекта в зависимости от сложности проекта не может быть фиксированной, в связи с чем стороны установили, что в случае расторжения настоящего Договора по инициативе Заказчика до момента полного исполнения Подрядчиком своих обязательств, стоимость составления Дизайн-проекта принимается сторонами настоящего Договора равной 25 (двадцать пять) % от суммы настоящего Договора.</p>
			<p>3.4.Стоимость и наименование сопутствующих частей Изделия составляет: {% if dogovor.naimenov_soputstv_izdeliy %}<v>{{ dogovor_more.summa_za_soputstv_uslugi }}</v> (<v>{{ dogovor_more.summa_za_soputstv_uslugi_propisyu }}</v>) <v>{{ dogovor_more.summa_za_soputstv_uslugi_the_word }}</v>{% else %}_________________ (_____________________________________) рублей{% endif %} 00коп.{% if dogovor.naimenov_soputstv_izdeliy %}, <v>{{ dogovor.naimenov_soputstv_izdeliy }}</v>{% endif %}</p>
			<p>Окончательная стоимость и наименование сопутствующих частей Изделия будут определены после окончательного технического замера, согласно п.3.2 настоящего Договора.</p>
			<p>На момент подписания Договора Подрядчик гарантирует, что стоимость Изделия с учетом выбранных материалов, согласно п. 3.1. настоящего Договора сохраняется до момента исполнения обязательств Подрядчиком перед Заказчиком.</p>
			<p>3.5. В стоимость Договора включена доставка Изделия по указанному Заказчиком адресу и в соответствии с действующим у Подрядчика прейскурантом и составляет в денежном выражении {% if dogovor_more.stoimost_dostavki_vne_ufa or dogovor_more.stoimost_dostavki_vne_ufa == 0 %}<v>{{ dogovor_more.stoimost_dostavki_vne_ufa }}</v> (<v>{{ dogovor_more.stoimost_dostavki_vne_ufa_propisyu }}</v>) <v>{{ dogovor_more.stoimost_dostavki_vne_ufa_the_word }}</v>{% else %}_________________________ (_____________________________________) рублей{% endif %} 00 коп.</p>
			<p>3.6. Заказчик обязуется в день подписания Договора внести предоплату(авансовый платеж) в размере не менее <v>{{ dogovor_more.oplata_predoplata_procent|default:'50' }}%</v> от общей стоимости мебели, что составляет в денежном выражении {% if dogovor.oplata_predoplata_rub and dogovor.vsego_k_oplate %}<v>{{ dogovor_more.oplata_predoplata_rub }}</v> (<v>{{ dogovor_more.oplata_predoplata_rub_propisyu }}</v>) <v>{{ dogovor_more.oplata_predoplata_rub_the_word }}</v>{% else %}________________ (______________________________________) рублей{% endif %} 00 коп.</p>
			<p>3.7. Оплата оставшейся суммы от стоимости Заказа, определенного на основании окончательного технического замера и заключенного возможного между сторонами Дополнительного соглашения, оплачивается Заказчиком в день подписания между Сторонами Акта сдачи-приема выполненных работ, за исключением установки сопутствующих частей Изделия, указанных в п.3.4. настоящего Договора. Заказчик выплачивает Подрядчику оставшуюся сумму в течении 2-х дней после установки сопутствующих частей Изделия.</p>
			<p>3.8. Возможна досрочная оплата Заказчиком работ Подрядчику по настоящему Договору.</p>
			<p>3.9. Оплата по настоящему Договору производится наличными денежными средствами, либо в безналичном порядке&nbsp; через банковский терминал или на расчетный счет,&nbsp;с последующей выдачей &nbsp;кассового чека.</p>

			<p style="text-align: center; font-weight: bold;">4. Сроки и порядок выполнения работ</p>
			<p>4.1. Подрядчик приступает к выполнению работ по настоящему Договору в совокупности следующих условий: внесения Заказчиком предоплаты в соответствии с п. 3.6. настоящего Договора,&nbsp;проведения технического замера в помещении с чистовым ремонтом&nbsp;и утверждения Дизайн-проекта Изделия, составленного с учётом пожеланий Заказчика, с использованием Подрядчиком специальных программных и технических средств.</p>
			<p><b>4.2. Срок выполнения работ по настоящему Договору составляет {% if dogovor.srok_ispolneniya_rabot %}<v>{{ dogovor_more.srok_ispolneniya_rabot }}</v> (<v>{{ dogovor_more.srok_ispolneniya_rabot_propisyu }}</v>) <v>{{ dogovor_more.srok_ispolneniya_rabot_the_word }}</v>{% else %}___________ (______ ___________________________________) рабочих дней{% endif %}, который начинает исчисляться со дня, следующего за датой &nbsp;выполнения Заказчиком в совокупности следующих условий:</b></p>
			<p>&middot;&nbsp;<b>внесения Заказчиком оплаты согласно п. 3.6. настоящего Договора;</b></p>
			<p>&middot;&nbsp;<b>предоставления Подрядчику для Технического замера помещения с законченным чистовым ремонтом (стены покрашены, обои поклеены, натяжной потолок натянут, полы уложены, розетки выведены, плинтуса установлены); &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
			<p>&middot;&nbsp;<b>подписания Заказчиком Бланка технического замера (Приложение №3), либо письменного отказа от проведения технического замера;</b></p>
			<p>При этом, если помещение не готово на чистовом/контрольном замере, то Заказчик обязан предоставить фото с готовым помещением на мессенджер WhatsApp по тел: +7 965-641-81-22, после чего начнет исчисляться срок выполнения работ;</p>
			<p>&middot;&nbsp;<b>согласования Заказчиком окончательного варианта Дизайн-проекта путем подписания.</b></p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">1</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			&nbsp;

			<p>4.3. По настоящему Договору возможно досрочное выполнение работ. В случае, если Заказчик готов принять Изделие без монтажных работ, он обязан осмотреть доставленное Изделие и принять его, подписать Акт сдачи-приема выполненных работ, внести оплату оставшейся суммы от стоимости Заказа в полном объеме. При этом, повторный выезд специалистов Подрядчика для сборки (монтажа) Изделия оплачивается Заказчиком дополнительно в соответствии с действующим у Подрядчика прейскурантом.</p>
			<p>4.4. Подрядчик оставляет за собой право, по своему усмотрению и без дополнительного согласования с Заказчиком, принимать конструктивные решения при проектировании и производстве Изделия. В случае, если Заказчик хочет сделать конструктив по своему усмотрению, он обязан обсудить свое пожелание с Подрядчиком и при подтверждении Подрядчиком такого конструктива, обязательно зафиксировать данные изменения в спецификации изделия. Без соответствующей записи в спецификации, претензии по не соблюдению пожелания Заказчика не принимаются. </p>
			<p>4.5. В случае, если Заказчик, изъявил желание изготовить Изделие с нарушением технического условия Подрядчика и общепринятых в мебельной промышленности стандартов (габариты кухонных модулей, их расположение относительно друг друга, специфический конструктив модулей, применение фурнитуры не по прямому назначению и т. д.), все явные и скрытые риски, вызванные этими изменениями, ложатся на Заказчика. </p>
			<p>4.6. Конкретный день и время доставки Изделия в пределах Республики Башкортостан согласовывается с Заказчиком заблаговременно до наступления даты поставки.  Доставка в другие регионы РФ согласовывается с Заказчиком в срок не позже, чем за 5 (пять) дней путем телефонных переговоров.</p>
			<p>При невозможности дозвониться до Заказчика, Подрядчик оставляет за собой право напомнить Заказчику о конкретном фактическом дне и времени доставки Изделия посредством: WhatsApp мессенджера, СМС-сообщения по номеру, указанному Заказчиком в настоящем Договоре, или отправкой уведомления на электронную почту, указанную Заказчиком, или посредством телефонного звонка по номеру, указанному Заказчиком. Если Заказчик не подтвердил дату монтажа, дата окончания договора продлевается на неделю.</p>
			<p>4.7. Доставка Изделия осуществляется транспортом Подрядчика в согласованные Сторонами сроки по указанному Заказчиком в настоящем Договоре адресу установки.</p>
			<p>4.8. По завершении работ, предусмотренных п.1.4 и 3.7 настоящего Договора, Подрядчик предоставляет Заказчику Акт сдачи-приема выполненных работ.</p>
			<p>4.9. В случае мотивированного отказа Заказчика от подписания Акта сдачи-приема выполненных работ, сторонами составляется двухсторонний акт с перечнем необходимых доработок и сроков исправления.</p>
			<p>4.10. Если Заказчик приобретает сантехнику/технику не у Подрядчика, то Заказчик обязан передать по бланку технического замера (Приложение №3) Подрядчику артикулы сантехники/техники в день проведения технического замера, в противном случае Подрядчик не начинает изготовление Изделия.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">4.11. Технический замер помещения:</p>
			<p>4.11.1. По согласованию Сторон под термином «чистовой ремонт» понимается «Определенный вид подготовки помещения для осуществления технического замера и изготовления изделия по индивидуальным размерам: плоскости стен, пола и потолка оштукатурены и выровнены по вертикали и горизонтали согласно СНиП 3.04.01-87 «Изоляционные и отделочные покрытия», напольное покрытие уложено, натяжной потолок  «смонтирован», обои поклеены.</p>
			<p>4.11.2. Выезд специалиста по техническому замеру производится 2 раза – черновой технический замер (перед заключением договора) и чистовой технический замер (после заключения договора) Заказчиком  в соответствии с действующим у Подрядчика прейскурантом.</p>
			<p>4.11.3. Условия для проведения замера:</p>
				<p>- заказчик обязан подготовить помещение к моменту проведения замера изделия:</p>
				<p>- подготовить существующие или вновь возводимые стены, межкомнатные перегородки, откосы;</p>
				<p>- выровнять неровности или кривизну прилегающих стен (пола, потолков);</p>
				<p>- подготовить необходимые мебельные конструкции (их полную готовность к приезду замерщика на объект Заказчика, они должны быть выставлены в уровне, стянуты между собой и находятся в конечном положении);</p>
				<p>- обеспечить наличие освещения для выполнения замера;</p>
				<p>- при заказе столешницы с мойкой, Заказчик обязан обеспечить наличие мойки на момент замера;</p>
				<p>-заказчик обязан предоставить на момент замера всю необходимую технику/сантехнику, которую предполагается встраивать в месте проведения монтажных работ.</p>
			<p>4.11.4. Заказчик или его доверенное лицо по Договору обязан присутствовать на техническом замере изделия, обеспечить доступ к месту проведения замера. В случае отсутствия Заказчика или его доверенного лица по Договору, замер считается не состоявшимся;</p>
			<p>4.11.5. После осуществления чистового/окончательного замера в помещении предполагаемой установки изделия, мебельные (опорные) и/или строительные конструкции (стены, откосы, полы, дверные проемы, потолок) не должны двигаться и подвергаться любому перемещению/изменению, в противном случае, требуется повторный выезд специалиста по техническому замеру в соответствии с действующим у Подрядчика прейскурантом.</p>
			<p>В случае несоблюдения Заказчиком условий, перечисленных выше, Подрядчик не несет ответственность за установку изделия по размерам итогового замера.</p>
			<p>4.11.6. Изделие изготавливается индивидуально, после проведения Подрядчиком чистового/контрольного замера и утвержденной Сторонами технической документации. Технической документацией является Бланк технического замера и предоставленные требования по подготовки коммуникации, а также согласно разделу 1 настоящего Договора приложения, согласованные представителем Подрядчика и подписанные Заказчиком.</p>
			<p>4.11.7. При изготовлении изделия без проведения по требованию Заказчика чистового/контрольного замера, по чертежам, параметрам и размерам, предоставленным Заказчиком, Заказчик несет всю ответственность за предоставленные размеры и параметры изделия. В случае невозможности проведения монтажа изделия, изготовленного по чертежам и размерам, предоставленным Заказчиком, Подрядчик вправе отказаться от проведения монтажных работ, а Заказчик обязан принять и оплатить стоимость изготовленного изделия на объекте.</p>
			<p>4.11.8. В случае, если осуществление технического замера невозможно по причинам, независящим от Подрядчика, в частности, таким как: </p>
				<p>- отказ Заказчика демонтировать мебель, имеющуюся у него в помещении и препятствующую осуществлению технического замера;</p>
				<p>- отказ Заказчика в допуске сотрудников Подрядчика в помещение Заказчика; </p>
				<p>- отсутствие Заказчика или доверенного лица по Договору в день, на который был назначен технический замер Помещения на объекте ; </p>
				<p>- а также по иным причинам, не зависящим от Подрядчика, то срок окончательного исполнения заказа может быть изменен в одностороннем порядке пропорционально срокам устранения причин.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">5. Условия монтажа мебели и порядок приемки-передачи мебели</p>
			<p>5.1. Перед наступлением срока готовности изделия к доставке и монтажу Подрядчик уведомляет Заказчика о готовности мебели и уточняет место, дату предварительное время доставки и сборки Изделия. Подрядчик вправе досрочно поставить Изделие с обязательным уведомлением Заказчика не позднее, чем за 1 день до предполагаемой даты доставки.</p>
			<p>5.2. Заказчик обязан обеспечить возможность производить работы по установке Изделия в течении минимум 10 часов в день. А если в помещении Заказчика существует внутренний режим проведения шумовых работ, он должен уведомить об этом Подрядчика в момент подписания настоящего договора.</p>
			<p>5.3. Заказчик обязан обеспечить беспрепятственный доступ представителям Подрядчика к месту монтажа Изделия, подготовить место для установки и монтажа Изделия, имеющее горизонтальную поверхность без перепадов и выступов стен и полов. В случае невыполнения данного условия Подрядчик не несет ответственность за качество установки и монтажа Изделия.</p>
			<p><strong>При толщине стен менее 100 мм Подрядчик не несет ответственности за надежность крепления конструкции и испорченную отделку с противоположной стороны стены.</strong></p>
			<p><strong><u>К дате установки мебели Заказчик обязан подготовить помещение согласно следующим требованиям:</u></strong></p>
			<p>- помещение должно быть очищено от строительного мусора;</p>
			<p>- температура воздуха в помещении должна быть не ниже +10 град. С;</p>
			<p>- освободить дверные проёмы, убрать крупногабаритные предметы, препятствующие транспортировке Изделия в помещение;</p>
			<p>- демонтировать и вынести из помещения старую мебель. Подрядчик не производит демонтаж каких-либо изделий, если это не оговорено сторонами дополнительно и не оформлено как приложение к настоящему Договору;</p>
			<p><strong><u>5.4. Установка мебели производится только в полностью подготовленном помещении. </u></strong></p>
			<p>Под подготовленным помещением понимается помещение, отвечающее следующим требованиям:</p>
			<p>- полы должны быть выполнены с уклоном не более 2 (двух) градусов;</p>

		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">2</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf3" class="pf w0 h0" data-page-no="3">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>- стены, полы и потолки должны быть выровнены и составлять между собой угол равный 90 (девяносто) градусов;</p>
			<p>- стены должны быть приспособлены для крепления мебели в случае необходимости, обои поклеены/покрашены;</p>
			<p>- на время проведения монтажных работ должны быть удалены все посторонние лица, а также домашние животные.</p>
			<p>- закончены работы по подведению линий электропроводки с учетом требовании Подрядчика.</p>
			<p>- закончены работы по выводу провода для подключения вытяжки с учетом требовании Подрядчика.</p>
			<p>- закончены работы по размещению сантехнических коммуникаций с учетом требовании Подрядчика.</p>
			<p>- в случае, если дом построен из круглого бревна, бруса, Заказчику необходимо обшить стены, по которым планируется установка Изделия, прочным материалом (ДСП, фанера, гипсокартон и т.д) толщиной не менее 16 мм с использованием плавающих/скользящих креплений, и соблюсти вертикаль поверхности;</p>
			<p>- в случае, если требуется произвести монтаж навесных конструкций на стену из гипсокартона, то Заказчику необходимо обшивать эту стену в два слоя: 1-й слой лист фанеры, 12-15мм и более, 2-й слой лист гипсокартона.</p>
			<p>5.5. Заказчик должен обеспечить бригаде сборщиков постоянное электропитание (розетку) в помещении и обеспечить беспрепятственный доступ к электрощиту, искусственное освещение в помещении на время монтажа Изделия, а также надлежащую защиту покрытия пола, стен, потолка и других элементов помещения и предметов мебели во избежание порчи при доставке и монтаже Изделия.</p>
			<p><strong><u>5.6. Дополнительные услуги, не входящие в обязательства по настоящему договору не являются частью обязательств по настоящему договору и предоставляются заказчику по его желанию и за отдельную плату согласно прайс-листов Подрядчика. К ним относятся:</u></strong></p>
			<p>- Установка и подключение предоставленной Заказчиком техники и сантехнического оборудования. При отсутствии заказа на услугу установки, фасады, предназначенные для навески на встраиваемую технику, остаются не навешенными.</p>
			<p>- Работы связанные с переделкой или подгонкой Изделия под размеры и особенности помещения, вызванные не выполненными или некачественно выполненными Заказчиком, работами по ремонту помещения</p>
			<p>- Установка дополнительных элементов или механизмов, приобретаемых Заказчиком самостоятельно.</p>
			<p>5.7. При неровности полов, стен и потолков более 5мм между крайними точками прилегающие к Изделию, возможны:</p>
			<p>- перекос диагонали Изделия,</p>
			<p>- образование неровных зазоров между элементами конструкции Изделия по отношение друг к другу и по отношению к стенам, полам и потолку Заказчика</p>
			<p>- а также другие недостатки, связанные с изменением геометрии Изделия, независящими от работы Подрядчика.</p>
			<p>В этом случае Подрядчик не несет ответственности за качество и последствия выполненных работ.</p>
			<p>5.8. Подрядчик не производит работы по выравниванию стен, полов и потолков. Подрядчик не несет ответственности за конструкции (проемы, ниши, короба, подиумы, инсталляции и т.д.), возведенные другими организациями, а также Подрядчик не несет ответственности за качество отделочных работ, произведенных другими организациями.</p>
			<p>5.9. Электромонтажные и сантехнические работы Подрядчиком при установке и монтаже готового Изделия не производятся.</p>
			<p>5.10. Прием мебели производится Заказчиком, согласно эскизу (Приложение 1 и Приложение 2) в присутствии представителей обеих сторон, о чем составляется акт сдачи-приема.</p>
			<p>5.11. Приемка готового Изделия по настоящему Договору осуществляется Заказчиком лично, либо доверенным лицом (лицами) Заказчика, указанным (указанными) в настоящем Договоре.</p>
			<p>5.12. Доверенные лица, имеющие право подписывать Бланк технического замера, Акт сдачи-приема выполненных работ, указаны в Примечании №1. Подписание Бланка технического замера и Акта сдачи-приема выполненных работ, доверенными лицами, считается подписанием данного Бланка и Акта самим Заказчиком.</p>
			<p>5.13. Мебель считается переданной Исполнителем и принятым Заказчиком с переходом к нему права собственности, только после подписания сторонами акта сдачи-приема мебели и полной оплаты за Изделие.</p>
			<p>5.14. Заказчик, обнаруживший недостатки по изготовлению и установки мебели при ее приемке, вправе ссылаться на них впоследствии, если они были зафиксированы в акте приема-передачи мебели.</p>
			<p>5.15. Сотрудники Подрядчика, занимающиеся доставкой и установкой, не имеют права давать какие-либо обещания или принимать какие-либо обязательства от имени Подрядчика. Любые вопросы, возникающие в ходе доставки и установки мебели, должны решаться Заказчиком и службой отдела по работе с клиентами Подрядчика (Тел: 8(347) 299-11-70).</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">6. Права и обязанности сторон</p>
			<p><strong>6.1. Права и обязанности Подрядчика:</strong></p>
			<p>6.1.1.<strong>Вправе:</strong></p>
			<p>- сдать результат работ досрочно</p>
			<p>- по своему усмотрению, устанавливать и вносить изменения в технические особенности и конструктив Изделия, не влияющие существенно на его внешний вид и стоимость, без уведомления Заказчика.</p>
			<p>- отказаться от исполнения части обязательств по настоящему договору, в случае обоснованной невозможности их исполнить.</p>
			<p>- в случае нарушения Заказчиком требований Разделов 3 и 5 настоящего Договора, а также случаях указанных в пункте 4.1 Подрядчик имеет право в одностороннем порядке продлить срок выполнения работ, пропорционально сроку устранения Заказчиком допущенных нарушений.</p>
			<p>- приостановить исполнение работы по настоящему договору и передачу мебели, не неся при этом ответственность за просрочку исполнения обязательств по договору, в следующих случаях:</p>
			<p>а) не исполнение Заказчиком п. 3.6 настоящего Договора;</p>
			<p>б) по письменному заявлению Заказчика;</p>
			<p>- расторгнут настоящий договор в течение двух недель после подписания настоящего договора с выплатой Заказчику всей внесенной им суммы Подрядчику, если обнаружится невозможность исполнения данного договора.</p>
			<p>6.1.2. <strong>Обязан:</strong></p>
			<p>- оговорить с Заказчиком конкретную модель, цвет, параметры заказываемой мебели, эскиз с полным  описанием, который является неотъемлемой часть настоящего договора, или каталог, предоставить полную информацию о комплектации мебели, передать Заказчику гарантийный талон на изготовленную мебель, а также Технические условия;</p>
			<p>- по результатам технического замера произвести уточненный расчет стоимости заказа.</p>
			<p>- оформить договор и эскизы изделий, которые подписываются Заказчиком, при условии предоставления Заказчиком всех необходимых для этого сведений.</p>
			<p>- в случае возникновения обстоятельств, замедляющих ход работ или делающих дальнейшее продолжение работ невозможным, немедленно поставить об этом в известность Заказчика;</p>
			<p>- передать Заказчику, Изделие надлежащего качества и соответствующую техническим чертежам, составленным на основании контрольного замера, согласованным с Заказчиком, техническому условию компании и комплектации, описанной в спецификации, в срок, обозначенный  настоящим договором;</p>
			<p>- при возникновении необходимости в проведении дополнительных работ и в связи с этим в  существенном повышении цены работы на определенном этапе выполнения работ по настоящему договору, Подрядчик должен своевременно предупредить об этом Заказчика.</p>
			<p>- собрать и вывезти мусор до места специально-организованного для сбора мусора. Влажная уборка Изделия и помещения в обязательства Подрядчика не входит;</p>
			<p>устранить признанные Подрядчиком недостатки Изделия, выявленные в процессе приемки Изделия Заказчиком, в срок не более 45 дней со дня вынесения заключения по претензии Заказчика. </p>
			<p align="center"><strong>6.2. Права и обязанности Заказчика</strong></p>
			<p>6.2.1. <strong>Вправе:</strong></p>
			<p>- самостоятельно может произвести замер и предоставить результаты замера Подрядчику для изготовления изделий. При этом Подрядчик освобождается от обязанности производить замер и не несет ответственность за несоответствие размеров изготовленной Подрядчиком мебели размерам помещения, в котором должна быть установлена мебель.</p>
			<p>- осуществлять контроль за выполнением работ или монтажа Изделия, не вмешиваясь в деятельность Подрядчика;</p>
			<p>- забрать своими силами (самовывоз) изготовленный Заказ с производства по адресу: г Уфа, Республика Башкортостан, ул Ульяновых 57.</p>
			<p>- в случае выявления каких-либо недостатков Заказчик оставляет за собой право указать Подрядчику устранение выявленных недостатков за счет Подрядчика в течение гарантийного срока;</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">3</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf4" class="pf w0 h0" data-page-no="4">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>- известить Подрядчика об изменении размеров помещения, где производились замеры дизайнером, если таковые изменения имели место быть. В этом случае при необходимости составляется новая дополнительная спецификация.</p>
			<p>- при получении заказа производит проверку внешнего вида Изделия</p>
			<p>- по желанию заказчика возможно изготовление пробного образца декоративного покрытия (далее образец). Изготовление первого образца бесплатно, последующие согласно тарифам компании. Согласованный образец утверждается подписью Заказчика и является неотъемлемой частью договора.</p>
			<p>6.2.2.<strong>Обязан:</strong></p>
			<p>- принять готовое Изделие в порядке и в срок, установленные настоящим Договором, обеспечить надлежащие условия приема-передачи Изделия и выполненных Подрядчиком монтажных работ по установке Изделия в Помещении по адресу, указанному в настоящем Договоре.</p>
			<p>- освободить дверные проёмы, убрать крупногабаритные предметы, препятствующие транспортировке мебели в помещение. В случае если доставка произведена в указанный срок, но по вине Заказчика нет возможности произвести монтаж и установку, повторный выезд мастера оплачивается дополнительно. и составляется Дополнительное соглашение на продление сроков исполнения обязательств;</p>
			<p>- самостоятельно подготовить место для установки мебели.</p>
			<p>- осуществить проверку при приеме Изделия по количеству, качеству и комплектации, а после монтажа мебели обязан подписать акт сдачи-приема мебели, в случае если имеются претензии по качеству и комплектации, указать об этом в выше указанном акте;</p>
			<p>- лично ознакомиться с Техническими условиями (Приложение №4);</p>
			<p>- произвести полный расчет с Подрядчиком в день установки изделия Подрядчиком работ по настоящему Договору. Претензии к Подрядчику по изготовлению и монтажу Изделия устраняются по соглашению сторон и не являются поводом для неуплаты окончательного платежа в день монтажа Изделия. После установки и монтажа Изделия, подписания акта сдачи-приема выполненных работ Договор считается исполненным, и обращение Заказчика с претензиями о сколах, царапинах, механических повреждениях и т.п. дефектах может расцениваться Подрядчиком как преднамеренная порча Изделия с целью возврата Изделия со стороны Заказчика. В этом случае данное Изделие возврату не подлежит.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">7. Гарантии и претензии по качеству работ</p>
			<p>7.1. Качество выполненной Подрядчиком работы должно соответствовать условиям договора и Техническим условиям (Приложение № 4). Изделие должно храниться и эксплуатироваться в соответствии с рекомендациями Подрядчика. Недопустимо попадание на Изделия растворителей, кислот, щелочей, абразивных материалов и т.п. Рекомендуется протирать поверхность Изделия мягкой, сухой салфеткой с применением специальных средств для чистки мебели. </p>
			<p>7.2. Изделия, изготавливаемые в рамках настоящего договора, по причине неровности потолков и стен, в результате установки могут незначительно изменить общие габариты изделия. Учитывая эти факторы, при проектировании Изделия, зажатого между двумя стенами, делается технический отступ от стен, размер которого технолог выбирает самостоятельно, для беспрепятственной установки Изделия в проем. В случае, если размер этого отступа (щели между стеной и крайним корпусом Изделия) не превышает 20мм, щель остается незакрытой. В случае если Заказчик, при подписании договора зафиксировал в спецификации желание изготовить Изделие от стены до стены, Исполнитель проектирует Изделие таким образом, чтобы между стеной и крайним элементом Изделия остался проем не менее 50мм. Этот проем, закрывается доборной планкой, который подпиливается в размер по месту установки. </p>
			<p>7.3. Качество исполнения сборщиком технологических отверстий и выпилов, необходимых для подключения встраиваемой техники и пропуска труб не нормируется и не может быть основанием для претензии.</p>
			{% if dogovor.kakoy_tip_dogovora == 'kuhonny_2021_07_garnitur_lite' %}
			<p>7.4. <strong>На работы по изготовлению и сборки мебели, мебельную фурнитуру предусмотрен гарантийный срок 24 месяца при соблюдении Заказчиком инструкции по уходу и эксплуатации.</strong></p>
			{% else %}
			<p>7.4. <strong>На работы по изготовлению и сборки мебели, на мебельные фасады, на мебельные столешницы из ДСП с пластиковым покрытием, на мебельную фурнитуру гарантийный срок 24 (двадцать четыре) месяца, при соблюдении Заказчиком ухода и эксплуатации за Изделием.  Срок исчисляется с момента подписания Заказчиком акта сдачи-приема Изделия.</strong></p>
			{% endif %}
			<p>7.5. На осветительные приборы и их элементы (трансформаторы, выключатели и т.д) составляет 3 месяца с момента подписания Заказчиком Акта сдачи-приема Изделия.</p>
			<p>7.6. Подрядчик обязуется установить каменный плинтус бесплатно в день монтажа или в течении 10 рабочих дней, после получения сообщения от Заказчика о готовности фартука. По истечении 10 рабочих дней с момента подписания акта сдачи-приема готового Изделия, выезд специалиста на монтаж платный, согласно тарифам компании.</p>
			<p><u>7.7. Гарантийные обязательства не распространяются на следующие случаи:</u></p>
			<p>- на естественный износ или дефекты, вызванные перегрузкой, неправильной (небрежной) эксплуатацией.</p>
			<p>- повреждение при установке изделий не Подрядчиком, за исключением случаев обнаружения заводского брака;</p>
			<p>- нарушение рекомендаций Подрядчика по хранению, транспортировке, эксплуатации изделий после передачи их Заказчику;</p>
			<p>- проведение ремонта лицами, не имеющими на это полномочий со стороны Подрядчика;</p>
			<p>- умышленной или случайной порчи изделий, неправомерных действий третьих лиц либо действия обстоятельств непреодолимой силы.</p>
			<p>- на случаи нарушения Заказчиком инструкции по уходу и эксплуатации мебели, а именно:</p>
			<p> а)на случаи, связанные с воздействием влаги, воды, пара, высоких температур и огня на мебель.</p>
			<p> б)на дефекты, возникшие после и/или во время самостоятельной сборки, а равно разборки мебели Заказчиком.</p>
			<p> в)на дефекты, вызванные механическим воздействием на мебель, не предусмотренным правилами эксплуатации мебели (например: удар молотком, удар упавшим предметом, удар рукой, удар ногой, использование не по назначению и другое).</p>
			<p>- на случаи несоответствия размера ниши в мебели размерам встраиваемой бытовой техники, приобретенной не у Подрядчика, если в день заключения договора Заказчик не передал Подрядчику наименование и схемы встраиваемой бытовой техники. При самостоятельном вмешательстве Заказчика или третьих лиц при подключении бытовой техники (исключение составляет отдельно стоящая техника: СВЧ, холодильник, стиральная машина не встраиваемая), сантехники в элементы мебели (установка/врезка), установка столешницы, приобретенная не у Подрядчика, Заказчик теряет право на гарантийное обслуживание.</p>
			<p>- на элементы Изделия, переделанные по причине нарушения Заказчиком условий;</p>
			<p>- на Изделие при его самостоятельной установке Заказчиком либо установки с привлечением третьей стороны.</p>
			<p>- на случаи, когда фасады изделия в процессе эксплуатации могут изменить свое первоначальное положение, в связи с чем необходимо заказчиком производить простую регулировку фурнитуры.</p>
			<p>- на Изделие, расположенное под кондиционером, это сплит-система и канальный кондиционер (исключение составляет отдельно стоящий мобильный кондиционер).</p>
			<p>7.8. Гарантийный срок начинает действовать с даты подписания Заказчиком акта сдачи-приема выполненных Подрядчиком работ по монтажу или с получения Заказчиком изделия со склада Подрядчика при самовывозе.</p>
			<p>7.9. При обнаружении скрытых недостатков Заказа в течение 14 календарных дней, исчисляемых со дня подписания Акта сдачи-приема выполненных работ, Заказчик вправе требовать от Подрядчика устранения выявленных недостатков. Под "скрытыми недостатками" стороны понимают недостатки, которые не могли быть обнаружены при визуальном осмотре Заказа. Подрядчик обязан заменить бракованные детали или комплектующие не позднее 30 дней по нескольким изделиям после получения заявки Заказчика.</p>
			<p>7.10. Претензии Заказчика связанные с запахом новой мебели, Подрядчиком не принимаются до истечении срока 90 календарных дней с момента подписания акта сдачи-приема.</p>
			<p>7.11. Подрядчик не отвечает за недостатки Заказа, возникшие после его передачи Заказчику по вине последнего либо обстоятельств непреодолимой силы. </p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">8. Ответственность сторон</p>
			<p>8.1. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по настоящему Договору, несет ответственность в соответствии с действующими законами РФ и условиям настоящего Договора.</p>
			<p>8.2. В случае просрочки выполнения заказа согласно п.4.2. не по вине Заказчика более, чем на 5 рабочих дней, Подрядчик выплачивает Заказчику неустойку в размере 0,01% в день от суммы договора.</p>
			<p>8.3. За просрочку оплаты работы, выполненной в соответствии с настоящим Договором, Заказчик уплачивает Подрядчику неустойку в размере 0,01% от суммы договора за каждый день просрочки.</p>
			<p>8.4. Заказчик несет ответственность за полноту сведений и правильность указанных им размеров (если замеры производились Заказчиком), необходимых для составления дизайнерского чертежа. При невозможности изготовления по разработанному проекту из-за неточностей или неполноты сведений, предоставленных Заказчиком, а также изменения размеров помещения, где производились замеры, расходы по подгонке и доработке мебели несет Заказчик.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">4</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf5" class="pf w0 h0" data-page-no="5">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>8.5. В случае переноса даты передачи готового Изделия и его монтажа по инициативе или вине Заказчика на срок более трех календарных дней, Заказчик уплачивает Подрядчику сумму в размере 3% в день от основной суммы Договора, согласно п. 3.1. настоящего Договора, за каждый день ответственного хранения Изделия на складе Подрядчика до момента непосредственной установки и монтажа Изделия в помещении Заказчика. При этом выезд на монтаж готового Изделия, которое находилось на ответственном хранении на складе Подрядчика, осуществляется только после предоставления Заказчиком квитанции о фактически оплаченной сумме за ответственное хранение.</p>
			<p>8.6. Риск случайной гибели результата работ или его части по ходу работ несет Подрядчик. Указанный риск переходит к Заказчику в момент принятия работ или его части. Если гибель результата работ произошла по вине Заказчика, Подрядчик вправе получить вознаграждение за выполненный на этот момент объем работ.</p>
			<p>8.7. В случае одностороннего необоснованного расторжения договора со стороны Заказчика последний обязуется возместить Подрядчику все понесенные в связи с выполнением данного договора затраты (ст. 32 &laquo;Закон о защите прав потребителей&raquo; №212-ФЗ от 17.12.1999г.)</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">9. Изменение и расторжение договора</p>
			<p>9.1. Заказчик вправе отказаться (полностью или частично) от получения мебели при условии оплаты Подрядчику фактически понесенных им расходов, а также сумму упущенной выгоды, предварительно уведомив Подрядчика не менее чем за пять дней до расторжения договора.</p>
			<p>9.2. Подрядчик вправе отказаться от исполнения услуг при условии возмещения фактически понесенных им расходов, предварительно уведомив Заказчика не менее чем за пять дней до расторжения договора.</p>
			<p>9.3.&nbsp;При расторжении настоящего Договора по инициативе Заказчика по истечении одних суток с момента заключения Договора, внесенная Заказчиком предоплата является гарантией возмещения расходов, понесенных Подрядчиком в результате заключения настоящего Договора. Стоимость расходов определяется Подрядчиком исходя из объема, стоимости и сложности оформленного заказа. Денежная сумма возвращается Заказчику за вычетом стоимости вышеуказанных расходов.</p>
			<p>9.4. Расторжение Договора одной из сторон не освобождает стороны от удовлетворения претензий, поступивших до заявления о расторжении Договора.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">10. Форс-мажор</p>
			<p>10.1. Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или избежать, включая, но не ограничиваясь, объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения, наводнения, пожары и другие стихийные бедствия, запрещения экспорта или импорта (эмбарго), решений Правительства или решений государственных таможенных органов, действиями правоохранительных органов. Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и продолжительности действия непреодолимой силы.</p>
			<p>10.2. Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.</p>
			<p>10.3. При наступлении обстоятельств, указанных в п. 10.1, каждая из сторон должна без промедления в течение 10(десяти) дней известить о них в письменном виде другую сторону. Извещение должно содержать данные о характере обстоятельств, а также официальные документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния на возможность исполнения стороной своих обязательств по данному Договору.</p>
			<p>10.4. В случаях наступления обстоятельств, предусмотренных в п. 10.1, срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">11. Разрешение споров</p>
			<p>11.1. Споры и разногласия, возникающие между Сторонами, разрешаются путем переговоров, в соответствии с действующим гражданским законодательством Российской Федерации.</p>
			<p>11.2. В случае возникновения споров между Исполнителем и Заказчиком по вопросам, предусмотренным настоящим Договором, или в связи с ним, Стороны примут все меры к разрешению их путем переговоров между собой.</p>
			<p>11.3. При невозможности урегулирования в процессе переговоров споры разрешаются в порядке, установленном действующим законодательством, с соблюдением претензионного порядка разрешения спора. Обращения направляются на адрес электронной почты client@re-forma.ru или отправляется в письменном виде по адресу доставки корреспонденции: <v>{{ postavshik.adres1_post }}</v> <v>{{ postavshik.adres2_post }}</v>.</p>
			<p>11.4. Претензия Заказчика должна содержать конкретные, обоснованные требования нарушения норм законодательства, к которой должны быть приложены копии документов, подтверждающих изложенные обстоятельства. Доставка претензионного материала осуществляется заказным письмом с уведомлением, по электронной почте, телеграммой либо нарочной (курьерской) связью. Факт получения документов должен подтверждаться распиской стороны в его получении.</p>
			<p>11.5.Сторона, получившая претензию, обязана ее рассмотреть в течение десяти рабочих дней и направить мотивированный ответ, а при необходимости проведения экспертизы срок продлевается на весь период исследования.</p>
			<p>11.6. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке в соответствии с п.2. ст. 17 Закона о защите прав потребителей, с нормами главы 37 Гражданского кодекса Российской Федерации.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">12. Заключительные положения</p>
			<p>12.1. Настоящий Договор вступает в силу с момента подписания его Сторонами и действует до исполнения Сторонами своих обязательств.</p>
			<p>12.2. Любые изменения и дополнения к настоящему Договору будут являться неотъемлемой частью и действительны в том случае, если они совершены в письменной форме, оформлены надлежащим образом и подписаны обеими сторонами и уполномоченными представителями сторон.</p>
			<p>12.3. Настоящий Договор составлен в двух экземплярах. Оба экземпляра идентичны и имеют одинаковую юридическую силу. У каждой из Сторон находится один экземпляр настоящего Договора.</p>
			<p>12.4. Условия настоящего Договора, дополнительных соглашений к нему и иная информация, полученная Сторонами в соответствии с Договором, конфиденциальны и не подлежат разглашению.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
			<p>Заказчик дает свое согласие на обработку своих персональных данных и использование их в целях заключения гражданско-правового договора, к которым относятся:</p>
			<p>- паспортные данные;</p>
			<p>- год, месяц, дата и место рождения, а также иные данные, содержащиеся в удостоверении личности;</p>
			<p>- данные о месте жительства, почтовом адресе, телефоне, адресе электронной почты;</p>
			<p>- данные о контактных номерах телефона.</p>
			<p>Настоящее согласие предоставляется на осуществление любых действий в отношении заказчика персональных данных, которые необходимы или желаемы для достижения указанной выше цели, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), передачу персональных данных, а также осуществление любых иных действий с моими персональными данными, предусмотренных действующим законодательством Российской Федерации.</p>
			<p>Заказчик проинформирован(а), Подрядчик гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
			<p>Данное согласие действует бессрочно с момента его выдачи.</p>
			<p>Данное согласие может быть отозвано в любой момент по моему письменному заявлению.</p>
			<p>Заказчик подтверждает, что, давая такое согласие, действует по собственной воле и в своих интересах.</p>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">5</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div id="pf6" class="pf w0 h0" data-page-no="6">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>&nbsp;</p>
			<p><b>Примечание №1. Доверенные лица, имеющие право подписывать Бланк технического замера, Акт сдачи-приема выполненных работ</b>.</p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.0|default:'________________________________________/' }}</v></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.0|default:'+7_____________________________' }}</v></p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.1|default:'________________________________________/' }}</v></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.1|default:'+7_____________________________' }}</v></p>
			<p>&nbsp;</p>
			<p><b>Примечание № 2. Гарантийный талон получен, заполнен. Технические условия Заказчиком прочитаны, на руки получены.</b></p>
			<p>&nbsp;</p>
			<table border="1" cellpadding="10" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ПОДРЯДЧИК:</b></p>
							<p align="center"><b>Индивидуальный предприниматель</b></p>
							<p align="center"><v>{{ postavshik.fio }}</v></p>
							<p>Юр.адрес: <v>{{ postavshik.adres1 }}</v> <v>{{ postavshik.adres2 }}</v></p>
							<p>ИНН: <v>{{ postavshik.inn }}</v></p>
							<p>ОГРНИП <v>{{ postavshik.ogrnip }}</v></p>
							<p>р/с: <v>{{ postavshik.rs }}</v></p>
							<p><v>{{ postavshik.bank1 }}</v> <v>{{ postavshik.bank2 }}</v></p>
							<p>к/с: <v>{{ postavshik.ks }}</v></p>
							<p>БИК <v>{{ postavshik.bik }}</v></p>
							<p>Тел: 8 (347) 299-11-70 (отдел по работе с клиентами)</p>
							<p>8 (937) 325-79-75 (сервис)</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p><b>_______________________/ <v>{{ postavshik.inicialy }}</v>/</b></p>
							<p>&nbsp;</p>
						</td>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ЗАКАЗЧИК:</b></p>
							<p>Фамилия&nbsp;<v>{{ dogovor.passport_familiya|default:'___________________________' }}</v></p>
							<p>Имя&nbsp;<v>{{ dogovor.passport_imya|default:'_____________________________' }}</v></p>
							<p>Отчество &nbsp;<v>{{ dogovor.passport_otchestvo|default:'_____________________________' }}</v></p>
							<p>Дата рождения&nbsp;: <v>{{ dogovor.passport_birthday_date|default:'________________________' }}</v></p>
							<p>Паспорт:&nbsp;серия&nbsp;{% if dogovor.passport_seria and dogovor.passport_nomer %}<v>{{ dogovor.passport_seria }}</v> № <v>{{ dogovor.passport_nomer }}</v>{% else %}_______________________________{% endif %}</p>
							<p>выдан&nbsp;<v>{{ dogovor.passport_kem_vydan|default:'__________________________________ _____________________________________<br>__________________________________ _____________________________________<br>__________________________________ _____________________________________' }}</v></p>
							<p>дата выдачи <v>{{ dogovor.passport_kogda_vydan|default:'_____________' }}</v> к/п <v>{{ dogovor.passport_kp|default:'_____________' }}</v></p>
							<p>Адрес&nbsp;прописки: <v>{{ dogovor.adres_propiski|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Адрес установки: <v>{{ dogovor.adres_ustanovki|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Телефон:</p>
							<p>1. <v>{{ froze.client.phone|default:'_______________________' }}</v></p>
							<p>2. <v>{{ froze.client.phone_two|default:'_______________________' }}</v></p>
							<p>e-mail:____________________________________</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <v>{{ dogovor_more.inicialy|default:'_______________' }}</v>/</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<table border="2" cellpadding="20" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 100%;">
							<p>&nbsp;</p>
							<p style="font-size: 130%"> Уважаемый Заказчик! Обращаем Ваше внимание на то, что Подрядчик будет вести все переговоры по изделию, его изготовлению, назначению монтажных работ, обсуждать иные вопросы, возникающие по данному договору, а также обсуждать вопросы, касающиеся оплаты в рамках данного договора, только исключительно с самим Заказчиком, указанным в реквизитах сторон, или с его доверенным лицом, указанным в договоре в Примечании №1.</p>
							<p style="font-size: 130%">  Любая информация по заказу, полученная от лиц, не указанных в Договоре, не подлежит рассмотрению Подрядчиком.</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">6</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
</div><div class="loading-indicator"></div>
</body>
<script>window.print();</script>
<style>
.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
	font-size: 0.95em;
}
.t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0.page_without_logo {
	margin-top: -22px;
	padding-top: 0 !important;
}
.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
	width: 2275px;
	white-space: normal;
	line-height: 39.5px;
	text-align: justify;
	left: 14.000000px;
	padding-top: 25px;
}
.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
	text-indent: 143.650001px;
	margin: 0;
}
.pf1text {
	padding-top: 58px !important;
}
.FontSize {
	width: 2100px;
	font-size: 27pt !important;
	line-height: 10pt !important;
	text-align: justify !important;
	white-space: normal !important;
}
@media print{
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
		width: 3844.620px;
		line-height: 65.5px;
		left: 54pt;
		padding-top: 42px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
		text-indent: 243.650001px;
		margin: 0;
	}
	.pf1text {
		padding-top: 102px !important;
	}
	.FontSize {
		width: 3700px;
		font-size: 47pt !important;
		line-height: 20pt !important;
		text-align: justify !important;
		white-space: normal !important;
	}


}
v {
	color: black;
	font-weight: bold;
}
.requisites p {
	text-indent: 0px !important;
}
</style>
</html>