<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/base.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/fancy.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/main.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovora_original_docx_view.css' %}"/>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/compatibility.min.js' %}"></script>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/theViewer.min.js' %}"></script>
	<script>try{theViewer.defaultViewer = new theViewer.Viewer({});}catch(e){}</script>
	<title>Матрасы</title>
</head>
<body>
<div id="sidebar"><div id="outline"></div></div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
	<div class="pc pc1 w0 h0">
		<img class="bi x0 y0 w1 h1 logo" src="{% static 'dogovora/02_logo.jpg' %}" style="opacity:0.5;filter:alpha(opacity=50)">

		<div class="t m0 x4 h5 y4 ff5 fs0 fc0 sc0 ls0 ws0">    ДОГОВОР</div>
		<div class="t m0 x5 h5 y5 fs0 fc0 sc0 ls0 ws0" style="margin-left: 5px;"><b>КУПЛИ-ПРОДАЖИ № {% if dogovor.nomer_dogovora %}<v>{{ dogovor.nomer_dogovora }}</v>{% else %}_____{% endif %} <v>{{ postavshik.nomer_dog }}</v>/М</b></div>
		<div class="t m0 x6 h6 y6 ff7 fs0 fc0 sc0 ls0 ws0">г.<span class="ff8"> </span>Уфа<span class="ff8">                                                                                                                                                                                                 {% if dogovor.data_podpisaniya %}                   «<v>{{ dogovor.data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.data_podpisaniya_month }}</v> <v>{{ dogovor.data_podpisaniya|date:'Y' }}</v>{% else %}«____» _____________ 20____{% endif %} </span>г.</div>

		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 pf1text">
			<p>{% if dogovor.passport_familiya and dogovor.passport_imya and dogovor.passport_otchestvo %}<v>{{ dogovor.passport_familiya }}</v> <v>{{ dogovor.passport_imya }}</v> <v>{{ dogovor.passport_otchestvo }}</v>{% else %}_______________________________________________________________________________________________{% endif %}, именуемый в дальнейшем «Покупатель», с одной стороны, и <b>ООО "<v>{{ postavshik.fio }}</v>"</b>, именуемый в дальнейшем «Продавец», в лице директора Садыкова Фархада Идиятулловича, действующего на основании Устава, с другой стороны, совместно именуемые в дальнейшем «Стороны», заключили настоящий Договор о следующем:</p>

			<p style="text-align: center; font-weight: bold;">1. ПРЕДМЕТ ДОГОВОРА</p>
			<p>1.1. По настоящему Договору Продавец обязуется передать в собственность Покупателя Товар, в ассортименте и в количестве, указанных в “Спецификации”, согласно п. 1.2. настоящего Договора, в срок, предусмотренный Договором, а также выполнить, если это указано в “Спецификации”, работы по доставке Товара (далее по тексту - "Работы"), а Покупатель обязуется оплатить и принять Товар, принять выполненные Работы в порядке, установленном настоящим Договором.</p>
			<p>1.2. Товар продается Покупателю по образцу на основании ознакомления Покупателя с предложенными Продавцом образцами Товаров или их описаниями, содержащимися в каталогах, проспектах, буклетах, фотоснимков или средств связи или иными способами.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">&ldquo;СПЕЦИФИКАЦИЯ&rdquo;</p>
			<table border="1" cellpadding="20" cellspacing="0" width="100%">
				<tr>
					<td style="vertical-align: top; width: 5%;"><i>№</i></td>
					<td style="vertical-align: top; width: 60%; text-align: center;"><i>Наименование товара</i></td>
					<td style="vertical-align: top; width: 10%; text-align: center;"><i>Кол-во</i></td>
					<td style="vertical-align: top; width: 25%; text-align: center;"><i>Цена (руб.)</i></td>
				</tr>
				<tr>
					<td>1</td>
					<td><v>{{ tovarnyy_chek.1.tovchek_naim_tovara|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.1.tovchek_kolvo|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.1.tovchek_tsena|default:'' }}</v></td>
				</tr>
				<tr>
					<td>2</td>
					<td><v>{{ tovarnyy_chek.2.tovchek_naim_tovara|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.2.tovchek_kolvo|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.2.tovchek_tsena|default:'' }}</v></td>
				</tr>
				<tr>
					<td>3</td>
					<td><v>{{ tovarnyy_chek.3.tovchek_naim_tovara|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.3.tovchek_kolvo|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.3.tovchek_tsena|default:'' }}</v></td>
				</tr>
				<tr>
					<td>4</td>
					<td><v>{{ tovarnyy_chek.4.tovchek_naim_tovara|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.4.tovchek_kolvo|default:'' }}</v></td>
					<td><v>{{ tovarnyy_chek.4.tovchek_tsena|default:'' }}</v></td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center;">ИТОГО:</td>
					<td><v>{{ tovarnyy_chek.itogo_summa }} руб.</v></td>
				</tr>
			</table>
			<p>&nbsp;</p>
			<table border="1" cellpadding="20" cellspacing="0" width="100%">
				<tr>
					<td style="width: 20%;">ДОСТАВКА</td>
					<td style="width: 40%; text-align: center;">□ да</td>
					<td style="width: 40%; text-align: center;">□ нет</td>
				</tr>
				<tr>
					<td>Адрес доставки</td>
					<td colspan="2"><v>{{ dogovor.adres_ustanovki|default:'' }}</v></td>
				</tr>
			</table>
			<p>&nbsp;</p>
			<p>1.3. Ассортимент, количество, цена единицы товара и общая сумма Договора определяются в “Спецификации”, являющимся неотъемлемой частью настоящего Договора.</p>
			<p style="text-align: center; font-weight: bold;">2. ЦЕНА ДОГОВОРА И ПОРЯДОК РАСЧЕТОВ</p>
			<p><b>2.1. Цена Товара по настоящему Договору составляет {% if dogovor.vsego_k_oplate %}<v>{{ dogovor_more.vsego_k_oplate }}</v> (<v>{{ dogovor_more.vsego_k_oplate_propisyu }}</v>) <v>{{ dogovor_more.vsego_k_oplate_the_word }}</v>{% else %}________________ (______________________________________) рублей{% endif %}.</b></p>
			<p>2.2. Покупатель оплачивает цену Товара в 100% объеме в день заключения Договора.</p>
			<p>2.3. Оплата по настоящему Договору производится наличными денежными средствами, либо в безналичном порядке через банковский терминал или на расчетный счет, с последующей выдачей кассового чека.</p>
			<p style="text-align: center; font-weight: bold;">3. ПОРЯДОК ОТГРУЗКИ И ПЕРЕДАЧИ ТОВАРА</p>
			<p>3.1. Доставка Товара на адрес Покупателя осуществляется, если это указано в Спецификации, транспортом Продавца в согласованные Сторонами сроки по указанному Покупателем в настоящем Договоре адресу доставки.</p>
			<p><b>3.2. Срок исполнения обязанности Продавца передать Товар Покупателю:</b></p>
			{% if dogovor.technics_sroki_dostavki_tehniki == 1 %}
			<p><b>-Товар должен быть передан Покупателю в день исполнения обязательств по  договору на изготовление мебели №{% if dogovor_more.drugoy_dogovor_nomer %}<v>{{ dogovor.drugoy_dogovor.nomer_dogovora }}</v> от {% if dogovor_more.drugoy_dogovor_data_podpisaniya %}«<v>{{ dogovor_more.drugoy_dogovor_data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.drugoy_dogovor_data_podpisaniya_month }}</v> <v>{{ dogovor_more.drugoy_dogovor_data_podpisaniya|date:'Y' }}</v>{% else %}__ от __ ____ 20__г{% endif %}{% endif %}.</b></p>
			{% else %}
			<p><b>-Товар должен быть передан Покупателю в течение <u>{{ dogovor.technics_sroki_dostavki_tehniki_v_dnyah|default:'___' }}</u> рабочих дней со дня заключения Договора и выполнения обязательства согласно п. 2.2. настоящего Договора при отсутствии заключенного договора на изготовление мебели.</b></p>
			{% endif %}
			<p>3.3. Покупатель обязан осмотреть Товар на отсутствие внешних повреждений, проверить соответствие качества, количества, комплектности и ассортимента, согласно условиям настоящего Договора и принять Товар. Товар принимается Покупателем путем подписания Сторонами Акта сдачи-приема Товара.</p>
			<p>3.4. В случае отказа от подписания Акта сдачи-приема Товара Покупатель обязан в течение 3 (трех) календарных дней предоставить Продавцу в письменной форме мотивированный отказ от сдачи-приёма Товара. Факт не предоставления Покупателем в указанный срок обоснованных письменных замечаний Продавцу означает безоговорочное принятие Товара по настоящему Договору и по юридическим последствиям приравнивается к подписанию Покупателем Акта сдачи-приема Товара. В этом случае Продавец оформляет Акт сдачи-приема Товара в одностороннем порядке, и обязательства Продавца по передаче, установке и монтажу Товара считаются исполненными надлежаще и в полном объеме.</p>
			<p>3.5. Право собственности на Товар, а также риск случайной гибели или повреждения Товара переходят от Продавца к Покупателю с даты подписания Акта сдачи-приема Товара.</p>
			<p style="text-align: center; font-weight: bold;">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>
			<p>4.1. Продавец обязан и вправе:</p>
			<p>4.1.1. Передать Покупателю Товар надлежащего качества и в обусловленном настоящим Договором ассортименте.</p>
			<p>4.1.2. В случаях, когда Покупатель в нарушение закона, иных правовых актов или настоящего Договора не принимает Товар или отказывается его принять, Продавец вправе потребовать от Покупателя принять Товар или отказаться от исполнения Договора в соответствии с пунктом &quot;Ответственность сторон&quot;.</p>
			<p>4.2. Покупатель обязан и вправе:</p>
			<p>4.2.1. Осуществить проверку при приемке Товара по количеству, качеству и ассортименту, подписать Акта сдачи-приема Товара.</p>
			<p>4.2.2. Сообщить Продавцу о замеченных при приемке или в процессе эксплуатации недостатках проданного Товара в срок до 7 (семи) календарных дней с момента передачи данного Товара.</p>
			<p>4.2.3. Оплатить купленный Товар в срок, установленный Договором.</p>
			<p>4.3. Товар, не соответствующий наименованию, количеству и ассортименту считается принятым, если Покупатель в разумный срок после его получения не сообщит Продавцу о своем отказе от Товара.</p>
			<p>4.4. Если Покупатель не отказался от Товара, наименование, количество и ассортимент которого не соответствует данному Договору, он обязан его оплатить по цене, согласованной с Продавцом. В случае, когда Продавцом не приняты необходимые меры по согласованию цены в разумный срок, Покупатель оплачивает Товар по цене, которая в момент заключения Договора при сравнимых обстоятельствах обычно взималась за аналогичный Товар.</p>
			<p>4.5. Покупатель, которому передан Товар ненадлежащего качества, вправе по своему выбору потребовать от Продавца:</p>
			<p>&ndash; соразмерного уменьшения покупной цены;</p>
			<p>&ndash; безвозмездного устранения недостатков Товара в разумный срок;</p>
			<p>&ndash; возмещения своих расходов на устранению недостатков Товара.</p>
			<p>4.6. В случае существенного нарушения требований к качеству Товара (обнаружение неустранимых недостатков, недостатков, которые не могут быть устранены без несоразмерных расходов или затрат времени или выявляются неоднократно либо проявляются вновь после их устранения, и других подобных недостатков) Покупатель вправе по своему выбору:</p>
			<p>&ndash; отказаться от исполнения данного Договора и потребовать возврата уплаченной за Товар денежной суммы;</p>
			<p>&ndash; потребовать замены Товара ненадлежащего качества Товаром, соответствующим Договору.</p>
			<p>4.7. Покупатель имеет право самостоятельно забрать Товар со склада Продавца (в том числе перевозка транспортной компании нанятой Покупателем). В данном случае, обязательства Продавца по срокам передачи Товара считаются выполненными, право собственности переходит к Покупателю с момента передачи Товара Покупателю (в том числе перевозчику-транспортной компании). Товар забирает Покупатель со склада Продавца: г. Уфа, ул. Ульяновых, д. 57.</p>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">1</div>
	</div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;">5. ГАРАНТИЙНЫЙ СРОК ТОВАРА</p>
			<p>5.1. Гарантийный срок на матрасы осуществляется на основании ГОСТ 19917-2014, по которому обязательный гарантийный срок на матрасы составляет 18 месяцев со дня покупки у Поставщика.</p>
			<p>5.2. Гарантийный срок начинает течь с момента передачи Товара Покупателю.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">6. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
			<p>6.1. За нарушение срока уплаты цены Договора, предусмотренного п. 2.1. настоящего Договора, Продавец вправе потребовать от Покупателя уплаты пени в размере 0,01 % от суммы Договора за каждый день просрочки.</p>
			<p>6.2. За нарушение срока передачи Товара, согласно одному из условий п.3.2 настоящего Договора, не по вине Покупателя более, чем на 5 рабочих дней, Покупатель вправе потребовать от Продавца уплаты пени в размере 0,01% в день от суммы Договора за каждый день просрочки.</p>
			<p>6.3. По настоящему Договору возможно досрочное выполнение работ. В случае, если возникла необходимость перенести дату окончания работ на более поздний срок по инициативе или вине Покупателя, то Покупатель уплачивает Продавцу сумму в размере 3% в день от основной суммы Договора, согласно п. 2.1. настоящего Договора, за каждый день ответственного хранения Товара на складе Продавца до момента непосредственной доставки Товара до Покупателя. Стороны заключают между собой дополнительное соглашение на продление сроков.</p>
			<p>6.5. В случае одностороннего необоснованного расторжения Договора со стороны Покупателя последний обязуется возместить Продавцу все понесенные в связи с выполнением данного Договора затраты (ст. №32 &laquo;Закон о защите прав потребителей&raquo; №212-ФЗ от 17.12. 1999г.)</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">7. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ</p>
			<p>7.1. Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или избежать, включая, но не ограничиваясь, объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения, наводнения, пожары и другие стихийные бедствия, запрещения экспорта или импорта (эмбарго), решений Правительства или решений государственных таможенных органов, действиями правоохранительных органов. Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и продолжительности действия непреодолимой силы.</p>
			<p>7.2. Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.</p>
			<p>7.3. При наступлении обстоятельств, указанных в п. 7.1, каждая из сторон должна без промедления в течение 10 (десяти) дней известить о них в письменном виде другую сторону. Извещение должно содержать данные о характере обстоятельств, а также официальные документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния на возможность исполнения стороной своих обязательств по данному Договору.</p>
			<p>7.4. В случаях наступления обстоятельств, предусмотренных в п. 7.1, срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
			<p>7.5. Если обстоятельства непреодолимой силы продолжают действовать более 30 (тридцати) дней, то каждая Сторона вправе в одностороннем порядке отказаться от исполнения Договора.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">8. РАЗРЕШЕНИЕ СПОРОВ</p>
			<p>8.1. Споры и разногласия, возникающие между Сторонами, разрешаются путём переговоров, в соответствии с действующим гражданским законодательством Российской Федерации.</p>
			<p>8.2. В случае возникновения споров между Продавцом и Покупателем по вопросам, предусмотренным настоящим Договором, или в связи с ним, Стороны примут все меры к разрешению их путем переговоров между собой.</p>
			<p>8.3. При невозможности урегулирования в процессе переговоров споры разрешаются в порядке, установленном действующим законодательством, с соблюдением претензионного порядка разрешения спора. Обращения направляются на адрес электронной почты client@re-forma.ru или отправляется в письменном виде по адресу доставки корреспонденции: <v>{{ postavshik.adres1_post }}</v> <v>{{ postavshik.adres2_post }}</v>.</p>
			<p>8.4. Претензия Покупателя должна содержать конкретные, обоснованные требования нарушения норм законодательства, к которой должны быть приложены копии документов, подтверждающих изложенные обстоятельства. Доставка претензионного материала осуществляется заказным письмом с уведомлением, по электронной почте, телеграммой либо нарочной (курьерской) связью. Факт получения документов должен подтверждаться распиской стороны в его получении.</p>
			<p>8.5. Сторона, получившая претензию, обязана ее рассмотреть в течение 14 (четырнадцати) рабочих дней и направить мотивированный ответ, а при необходимости проведения экспертизы срок продляется на весь период исследования.</p>
			<p>8.6. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке на основе действующего законодательства Российской Федерации.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ И ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
			<p>9.1. Настоящий Договор вступает в силу с даты его подписания Сторонами и действует до полного исполнения Сторонами обязательств по нему.</p>
			<p>9.2. Все изменения и дополнения к настоящему Договору должны быть составлены в письменной форме и подписаны обеими Сторонами.</p>
			<p>9.3. Настоящий Договор может быть расторгнут по взаимному соглашению Сторон, а также по иным основаниям, предусмотренным действующим законодательством Российской Федерации.</p>
			<p>9.4. Все извещения, сообщения, связанные с исполнением настоящего Договора, направляются Сторонами друг другу в письменной форме.</p>
			<p>9.5. Во всем остальном, что не предусмотрено настоящим Договором, Стороны руководствуются действующим законодательством Российской Федерации.</p>
			<p>9.6. Договор составлен в двух экземплярах, по одному для каждой из Сторон.</p>
			<p> Неотъемлемую часть договора составляют:</p>
			<p>&laquo;Спецификация&raquo;</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
			<p>Покупатель дает свое согласие на обработку своих персональных данных и использование их в целях заключения гражданско-правового договора, к которым относятся:</p>
			<p>- паспортные данные;</p>
			<p>- год, месяц, дата и место рождения, а также иные данные, содержащиеся в удостоверении личности;</p>
			<p>- данные о месте жительства, почтовом адресе, телефоне, адресе электронной почты;</p>
			<p>- данные о контактных номерах телефона.</p>
			<p>Настоящее согласие предоставляется на осуществление любых действий в отношении Покупателя персональных данных, которые необходимы или желаемы для достижения указанной выше цели, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), передачу персональных данных, а также осуществление любых иных действий с моими персональными данными, предусмотренных действующим законодательством Российской Федерации.</p>
			<p>Покупатель проинформирован(а), Продавец гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
			<p>Данное согласие действует бессрочно с момента его выдачи.</p>
			<p>Данное согласие может быть отозвано в любой момент по моему письменному заявлению.</p>
			<p>Покупатель подтверждает, что, давая такое согласие, действует по собственной воле и в своих интересах.</p>
			&nbsp;
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">2</div>
	</div>
</div>
<div id="pf3" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>&nbsp;</p>
			<p><b>Примечание №1. Доверенные лица, имеющие право подписывать Акта сдачи-приема Товара:</b></p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.0|default:'________________________________________/' }}</v></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.0|default:'+7_____________________________' }}</v></p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.1|default:'________________________________________/' }}</v></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.1|default:'+7_____________________________' }}</v></p>
			<p>&nbsp;</p>
			<p style="text-align: center; font-weight: bold;"><br>АДРЕСА И РЕКВИЗИТЫ СТОРОН</p>
			<table border="1" cellpadding="10" cellspacing="0" class="requisites" style="margin-left: 0%;">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ПРОДАВЕЦ:</b></p>
							<p align="center"><b>Общество с ограниченной ответсвенностью</b></p>
							<p align="center">"<v>{{ postavshik.fio }}</v>"</p>
							<p>Юр.адрес: <v>{{ postavshik.adres1 }}</v> <v>{{ postavshik.adres2 }}</v></p>
							<p>ИНН: <v>{{ postavshik.inn }}</v></p>
							<p>КПП: <v>{{ postavshik.kpp }}</v></p>
							<p>ОГРН <v>{{ postavshik.ogrn }}</v></p>
							<p>р/с: <v>{{ postavshik.rs }}</v></p>
							<p><v>{{ postavshik.bank1 }}</v> <v>{{ postavshik.bank2 }}</v></p>
							<p>к/с: <v>{{ postavshik.ks }}</v></p>
							<p>БИК <v>{{ postavshik.bik }}</v></p>
							<p>Тел: 8 (347) 299-11-70 (отдел по работе с клиентами)</p>
							<p>8 (937) 325-79-75 (сервис)</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <b>Садыков Ф.И./</b></p>
							<p>&nbsp;</p>
						</td>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ПОКУПАТЕЛЬ:</b></p>
							<p>Фамилия&nbsp;<v>{{ dogovor.passport_familiya|default:'___________________________' }}</v></p>
							<p>Имя&nbsp;<v>{{ dogovor.passport_imya|default:'_____________________________' }}</v></p>
							<p>Отчество &nbsp;<v>{{ dogovor.passport_otchestvo|default:'_____________________________' }}</v></p>
							<p>Дата рождения&nbsp;: <v>{{ dogovor.passport_birthday_date|default:'________________________' }}</v></p>
							<p>Место рождения&nbsp;: <v>{{ dogovor.passport_birthday_place|default:'________________________' }}</v></p>
							<p>Паспорт:&nbsp;серия&nbsp;{% if dogovor.passport_seria and dogovor.passport_nomer %}<v>{{ dogovor.passport_seria }}</v> № <v>{{ dogovor.passport_nomer }}</v>{% else %}_______________________________{% endif %}</p>
							<p>выдан&nbsp;<v>{{ dogovor.passport_kem_vydan|default:'__________________________________ _____________________________________<br>__________________________________ _____________________________________<br>__________________________________ _____________________________________' }}</v></p>
							<p>дата выдачи <v>{{ dogovor.passport_kogda_vydan|default:'_____________' }}</v> к/п <v>{{ dogovor.passport_kp|default:'_____________' }}</v></p>
							<p>Адрес&nbsp;прописки: <v>{{ dogovor.adres_propiski|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Адрес доставки: <v>{{ dogovor.adres_ustanovki|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Телефон:</p>
							<p>1. <v>{{ froze.client.phone|default:'_______________________' }}</v></p>
							<p>2. <v>{{ froze.client.phone_two|default:'_______________________' }}</v></p>
							<p>e-mail:____________________________________</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <v>{{ dogovor_more.inicialy|default:'_______________' }}</v>/</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<table border="2" cellpadding="20" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 100%;">
							<p>&nbsp;</p>
							<p style="font-size: 130%"> Уважаемый Покупатель! Обращаем Ваше внимание на то, что Продавец будет вести все переговоры по изделию, его изготовлению, назначению монтажных работ, обсуждать иные вопросы, возникающие по данному договору, а также обсуждать вопросы, касающиеся оплаты в рамках данного договора, только исключительно с самим Заказчиком, указанным в реквизитах сторон, или с его доверенным лицом, указанным в договоре в Примечании №1.</p>
							<p style="font-size: 130%">  Любая информация по заказу, полученная от лиц, не указанных в Договоре, не подлежит рассмотрению Продавцом.</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">3</div>
	</div>
</div>


</div><div class="loading-indicator"></div>
</body>
<script>window.print();</script>
<style>
table.uslugi tr:nth-child(2) td:nth-child(3) {
	text-align: center;
}
table.uslugi td:nth-child(2) {
	text-align: center;
}
.zakazchik p {
	border-bottom: solid 1px rgb(0,0,0);
}
p.no-border {
	border-bottom: none;
}
.t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0.page_without_logo {
	margin-top: -22px;
	padding-top: 0 !important;
}
img.logo {
	width: 105px;
}
.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
	width: 2275px;
	white-space: normal;
	line-height: 36px;
	text-align: justify;
	left: 14.000000px;
	padding-top: 25px;
}
.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
	text-indent: 143.650001px;
	margin: 0;
}
.pf1text {
	padding-top: 58px !important;
}
@media print{
	img.logo {
		width: 198px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
		width: 4044.620px;line-height: 65.5px;
		left: 18.666667pt;
		padding-top: 42px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
		text-indent: 243.650001px;
		margin: 0;
	}
	.pf1text {
		padding-top: 102px !important;
	}
}
v {
	color: black;
	font-weight: bold;
}
.requisites p {
	text-indent: 0px !important;
}
</style>
</html>