<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/base.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/fancy.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovor_izgotovlenie_mebeli/main.css' %}"/>
	<link rel="stylesheet" href="{% static 'dogovora/dogovora_original_docx_view.css' %}"/>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/compatibility.min.js' %}"></script>
	<script src="{% static 'dogovora/dogovor_izgotovlenie_mebeli/theViewer.min.js' %}"></script>
	<script>try{theViewer.defaultViewer = new theViewer.Viewer({});}catch(e){}</script>
	<title>Экспресс дизайн–проект</title>
</head>
<body>
<div id="sidebar"><div id="outline"></div></div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
	<div class="pc pc1 w0 h0">
		<img class="bi x0 y0 w1 h1 logo" src="{% static 'dogovora/02_logo.jpg' %}" style="opacity:0.5;filter:alpha(opacity=50)">

		<div class="t m0 x4 h5 y4 ff5 fs0 fc0 sc0 ls0 ws0">ДОГОВОР № {% if dogovor.nomer_dogovora %}<v>{{ dogovor.nomer_dogovora }}</v>{% else %}_____{% endif %} РД</div>
		<div class="t m0 x5 h5 y5 fs0 fc0 sc0 ls0 ws0" style="margin-left: -70px;"><b>НА РАЗРАБОТКУ ЭКСПРЕСС ДИЗАЙН – ПРОЕКТА</b></div>
		<div class="t m0 x6 h6 y6 ff7 fs0 fc0 sc0 ls0 ws0">г.<span class="ff8"> </span>Уфа<span class="ff8">                                                                                                                                                                                                 {% if dogovor.data_podpisaniya %}                   «<v>{{ dogovor.data_podpisaniya|date:'j' }}</v>» <v>{{ dogovor_more.data_podpisaniya_month }}</v> <v>{{ dogovor.data_podpisaniya|date:'Y' }}</v>{% else %}«____» _____________ 20____{% endif %} </span>г.</div>

		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 pf1text">
			<p>{% if dogovor.passport_familiya and dogovor.passport_imya and dogovor.passport_otchestvo %}<v>{{ dogovor.passport_familiya }}</v> <v>{{ dogovor.passport_imya }}</v> <v>{{ dogovor.passport_otchestvo }}</v>{% else %}_______________________________________________________________________________________________{% endif %}, именуемый в дальнейшем «Заказчик», с одной стороны и <b>Индивидуальный предприниматель <v>{{ postavshik.fio }}</v></b>, действующий на основании ОГРНИП <v>{{ postavshik.ogrnip }}</v>, именуемый в дальнейшем «Исполнитель», в лице директора Садыкова Фархада Идиятулловича, и/или доверенное лицо на основании Доверенности <v>{{ postavshik.doverennost }}</v>, с другой стороны, именуемые вместе «Стороны», а по отдельности «Сторона», заключили настоящий Договор о нижеследующем:</p>
			<br>
			<p style="text-align: center; font-weight: bold;">1. ПРЕДМЕТ ДОГОВОРА</p>
			<p align="center">1.1. Заказчик поручает, а Исполнитель принимает на себя обязательства разработать Экспресс Дизайн - проект (далее по тексту &ndash; &laquo;Дизайн - проект&raquo;) жилого помещения, общей площадью по горизонту пола __________(______________________________________________________) кв.м., расположенного по адресу: _________________________________________________________________________________________________ (далее по тексту - &laquo;Помещение&raquo; или &laquo;Объект&raquo;), согласно Перечню работ (Приложение № 1).</p>
			<p>1.2. Дизайн-проект разрабатывается по заданию Заказчика (Техническое задание (Приложение №2), согласованному с Исполнителем.</p>
			<p>1.3. Исполнитель обязуется сдать результат выполненных работ Заказчику, а Заказчик обязуется принять его и оплатить в установленные сроки.</p>
			<p>1.4. В случае необходимости Перечень работ может быть увеличен по соглашению Сторон. Увеличение объема работ фиксируется в форме Дополнительного соглашения к настоящему Договору, а также приводит к соответствующему увеличению общего срока исполнения и стоимости работы.</p>
			<p style="text-align: center; font-weight: bold;">2. СРОК ВЫПОЛНЕНИЯ РАБОТ</p>
			<p>2.1. Исполнитель приступает к выполнению работ по настоящему Договору в течении 2 дней при выполнении совокупности следующих условий:</p>
			<ul>
				<li>внесения Заказчиком оплаты в соответствии с п. 3.2.1. настоящего Договора;</li>
				<li>предоставления Заказчиком Технического паспорта или иных технических документов (кадастрового паспорта, поэтажного плана;</li>
				<li>проведения обследования и обмера Исполнителем Помещения.</li>
			</ul>
			<p>2.2. Срок выполнения работ по настоящему Договору рассчитывается как сумма сроков, необходимых на выполнение работ каждого этапа. Сроки исполнения этапов работы закреплены в Перечне работ (Приложение № 1).</p>
			<p>2.3 Рабочие дни, в течении которых Дизайн-проект находится на рассмотрении у Заказчика, не входят в срок выполнения работ, указанных в Перечне работ (Приложение № 1).</p>
			<p style="text-align: center; font-weight: bold;">3. СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЕТОВ</p>
			<p>3.1. Общая стоимость работ, предусмотренных настоящим Договором, составляет {% if dogovor.vsego_k_oplate %}<v>{{ dogovor_more.vsego_k_oplate }}</v> (<v>{{ dogovor_more.vsego_k_oplate_propisyu }}</v>) <v>{{ dogovor_more.vsego_k_oplate_the_word }}</v>{% else %}________________ (______________________________________) рублей{% endif %} 00 коп., из расчета __________ (________________________________________________________) рублей 00 коп. за 1 м2.</p>
			<p>3.2. Оплата по настоящему Договору производится Заказчиком в следующем порядке:</p>
			<p>3.2.1. Заказчик обязуется в день подписания Договора внести предоплату (авансовый платеж) в размере не менее <v>{{ dogovor_more.oplata_predoplata_procent|default:'50' }}%</v> от общей стоимости работ, что в денежном выражении составляет {% if dogovor.oplata_predoplata_rub and dogovor.vsego_k_oplate %}<v>{{ dogovor_more.oplata_predoplata_rub }}</v> (<v>{{ dogovor_more.oplata_predoplata_rub_propisyu }}</v>) <v>{{ dogovor_more.oplata_predoplata_rub_the_word }}</v>{% else %}________________ (______________________________________) рублей{% endif %} 00 коп.</p>
			<p>3.2.2. Оплата оставшейся суммы от стоимости Заказа, определенного на основании обмерного замера Помещения и заключенного между сторонами Дополнительного соглашения, оплачивается Заказчиком в день подписания между Сторонами Акта приема- сдачи выполненных работ.</p>
			<p>3.3. В случае досрочного выполнения Исполнителем работ, Заказчик вправе досрочно принять и оплатить работы в соответствии с условиями п. 3.2.2. настоящего Договора.</p>
			<p>3.4. Заказчик уведомлен о том, что в случае несоответствия указанной в п. 1.1. настоящего Договора площади Помещения ее фактической площади (в сторону увеличения), установленной после произведенного Исполнителем непосредственного замера Помещения, Исполнитель производит перерасчет площади Помещения, и Стороны подписывают Дополнительное соглашение, в котором указывается новая площадь Помещения, стоимость работ и срок уплаты дополнительного платежа. Изменения площади Помещения также описываются в Листе согласования.</p>
			<p>3.5. Оплата по настоящему Договору производится наличными денежными средствами, либо в безналичном порядке&nbsp; через банковский терминал или на расчетный счет,&nbsp;с последующей выдачей &nbsp;кассового чека.</p>
			<p>3.6. Право собственности на Дизайн-проект Помещения переходит к Заказчику по настоящему Договору после подписания между Сторонами окончательного Акта приема - сдачи выполненных работ, полной оплаты выполненных работ и передачи Исполнителем Заказчику оригинала Дизайн-проекта Помещения на бумажном носителе.</p>
			<p style="text-align: center; font-weight: bold;">4. ПОРЯДОК ВЫПОЛНЕНИЯ РАБОТ</p>
			<p>4.1. Работы по разработке Дизайн - проекта выполняются Исполнителем в два этапа:</p>
			<p>4.1.1. 1 этап - Первый этап работ - &laquo;Планировочное решение&raquo;. Первый этап работ выполняется в течение срока указанного в Перечне работ (Приложение №1) с момента выполнения совокупности условий указанных в п. 2.1. настоящего Договора.</p>
			<p>Планировочное решение включает в себя план Помещения, где обозначены расстановка мебели и размещение сантехнического оборудования с их общими габаритными размерами, а также Экспликацию частей Помещения с указанием их площадей.</p>
			<p>4.1.2. Исполнитель выполняет 2 варианта Планировочного решения, которое должно быть утверждено Заказчиком в течение 3 (трех) дней с момента его предоставления Исполнителем.</p>
			<p>4.1.3. Утвержденный вариант Планировочного решения передается Исполнителем Заказчику на бумажном носителе или по адресу электронной почты Заказчика, указанному в соответствующей части раздела 14 настоящего Договора, именуемой далее &laquo;Электронная почта Заказчика&raquo; и подписывается Сторонами Акт приема-сдачи выполненных работ Первого этапа. Подписанный Акт приема-сдачи выполненных работ 1(первого) этапа служит основой для дальнейшей работы над Дизайн -проектом и не подлежит изменению. Заказчик утверждает свое согласие с тем виденьем интерьера, которое представлено на Эскизе или Коллаже и Планировочном решении в любой форме, в том числе и посредством электронной почты Исполнителя, указанной в соответствующей части раздела 14 настоящего Договора (далее по тексту - &laquo;Электронная почта Исполнителя&raquo;).</p>
			<p>4.1.4. В случае несогласия с предоставленным Планировочным решением Заказчик в течение 3 (трёх) дней с момента получения направляет на электронную почту Исполнителя мотивированное возражение, с указанием, того что хочет изменить в печатном виде и отправляет на Электронную почту Исполнителя.</p>
			<p>4.1.5. После получения возражения, Исполнитель в течение 3 (дней) рабочих дней производит в Планировочном решении Дополнительную правку, указывает в Листе согласований (Приложение №3) и передает новый вариант Планировочного решения Заказчику на бумажном носителе или по Электронной почте Заказчика.</p>
			<p>4.1.6. В случае не поступления в течение 3 (трёх) дней на электронную почту Исполнителя возражения, Планировочное решение считается утвержденным Заказчиком. В случае проведения Дополнительной правки Планировочного решения срок выполнения первого этапа работ увеличивается пропорционально сроку выполнения работ Исполнителем.</p>
			<p>4.1.7. Данная услуга разработки Экспресс дизайн - проекта предполагает одну единственную Дополнительную правку, после чего Заказчик обязан согласовать переданные Исполнителем на рассмотрение Эскизы, Коллажи и Планировочное решение, либо оплатить последующие Дополнительные правки.</p>
			<p>4.1.8. В случае, если Заказчик оплатил Дополнительную правку, то процедура, описанная в п. 4.1.1 повторяется с момента получения Исполнителем денежных средств за Дополнительную правку, далее повторяется процедура указанная в п. 4.1.2.</p>
			<p>4.1.9. 2 этап - Второй этап работ - создание &laquo;Рабочих чертежей&raquo;, &laquo;Стилистического решения&raquo;, &laquo;3 &ndash; д схем помещений&raquo;. Второй этап работ выполняется Исполнителем, в течение срока указанного в Перечне работ (Приложение №1) с момента выполнения совокупности условий указанных в п. 2.1. настоящего Договора и подписания Акта приема-сдачи выполненных работ Первого этапа работ.</p>
			<p>4.3. В случае, если возникла необходимость перенести дату окончания работ на более поздний срок, Стороны заключают между собой Дополнительное соглашение о переносе сроков выполнения работ.</p>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">1</div>
	</div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>4.4. Стороны установили, что время, затраченное ими на согласование и утверждение Первого и Второго этапа, не входит в общий срок выполнения работ по настоящему Договору, при этом Заказчик, обязан в срок не более 3 (трех) дней принимать решение об утверждении, либо внесении в Дизайн-проект Дополнительной правки.</p>
			<p>4.5. При внесении Заказчиком Дополнительной правки, в ранее согласованный Сторонами Дизайн - проект производится Исполнителем на платной основе на основании заключённого между Сторонами Дополнительного соглашения. Заключение Заказчиком Дополнительного соглашения возможно путем непосредственного подписания экземпляров Дополнительного соглашения, а также посредством проставления Заказчиком на распечатанном экземпляре Дополнительного соглашения своей подписи, сканирования подписанного экземпляра Дополнительного соглашения и направления его по адресу Электронной почты Исполнителя.</p>
			<p>4.6. При внесении Дополнительной правки Заказчиком в ходе выполнения Исполнителем работ по разработке Дизайн - проекта , в ранее согласованный Дизайн-проект, либо его части, отражаются в Листе согласований (Приложении № 3)</p>
			<p>4.7. В случае, если строительные конструкции Помещения, имеют отклонения от Дизайн - проекта, отклонения не были выявлены при визуальном осмотре и не имелось возможности их выявить, а Заказчик не уведомил Исполнителя о наличии таких отклонений, то Исполнитель не несет ответственности за возможные дополнительные финансовые затраты Заказчика<u>, </u>а так же за невозможность реализации в полном объеме концепции Дизайн &ndash; проекта.</p>
			<p style="text-align: center; font-weight: bold;">5. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>
			<p><strong>5.1. Исполнитель обязуется:</strong></p>
			<p>5.1.1. Выполнить работы в сроки закрепленные в Перечне работ (Приложение № 1) настоящего Договора и передать Заказчику готовый Дизайн-проект в соответствии с утвержденным Сторонами Техническим заданием, а также требованиями технических норм и правил действующего Законодательства Российской Федерации.</p>
			<p>5.1.2. При получении от Заказчика конкретного запроса о состоянии дел по разработке указанного в п. 1.1. настоящего Договора Экспресс дизайн - проекта, проинформировать Заказчика об этом не более 2-х раз в течение срока выполнения работ по настоящему Договору.</p>
			<p>5.1.3. Исполнитель вправе привлечь третьих лиц к выполнению своих обязательств по настоящему Договору. Исполнитель несет в полном объеме ответственность за качество и сроки выполнения работ привлеченными им третьими лицами, как за свои собственные действия в рамках настоящего Договора.</p>
			<p>5.1.4 Исполнитель вправе досрочно завершить работу с согласия Заказчика при условии выполнения ее качественно и в полном объеме.</p>
			<p>5.1.5. Исполнитель не несет ответственности за материальные ценности Заказчика или третьих лиц, находящиеся в Помещении.</p>
			<p><strong>5.2. Заказчик обязуется:</strong></p>
			<p>5.2.1. В согласованное Сторонами время обеспечить Исполнителю доступ в Помещение для проведения его обмера. В случае, если в оговоренный Сторонами настоящего договора день и время проведения замера Заказчик отсутствовал, то Исполнитель составляет об этом соответствующий акт. Новый срок проведения замера устанавливается Сторонами в дополнительном соглашении к настоящему Договору.</p>
			<p>Срок выполнения работ, указанный в Перечне работ (Приложение № 1) настоящего Договора, увеличивается пропорционально сроку, в течение которого Заказчик не обеспечил Исполнителю доступ в Помещение для проведения его обмера.</p>
			<p>5.2.2. Своевременно оказывать содействие Исполнителю в выполнении работ в объеме и на условиях, предусмотренных настоящим Договором, в том числе путем предоставления Технического паспорта или иных технических документов (кадастрового паспорта, поэтажного плана и т.д.) Помещения.</p>
			<p>5.2.3. Своевременно, в соответствии с условиями п. 3.2.1.-3.2.2. настоящего Договора, принять и оплатить выполненные Исполнителем работы.</p>
			<p>5.2.4. В случае необходимости, указать Доверенное лицо, имеющее право подписывать Бланк обмера Помещения, Акт приема-сдачи выполненных работ, указаного в Примечании №1, настоящего Договора. Подписание Бланка обмера Помещения, Акт приема- сдачи выполненных работ, доверенным лицом, считается подписанием данного Бланка и Акта самим Заказчиком.</p>
			<p style="text-align: center; font-weight: bold;">6. ПОРЯДОК СДАЧИ-ПРИЕМКИ РАБОТ</p>
			<p>6.1. Приемка выполненных работ по настоящему Договору производится Заказчиком в соответствии с требованиями Технического задания в следующем порядке:</p>
			<p>6.2. При завершении каждого из этапов работ, предусмотренных пунктами 4.1.1. , 4.1.9. настоящего Договора, Исполнитель не позднее сроков, указанных в Перечне работ (Приложение № 1) настоящего Договора, предоставляет Заказчику промежуточный Акт приема &ndash; сдачи выполненных работ,</p>
			<p>6.3. При полном завершении работ Исполнитель не позднее срока, указанного в Перечне работ (Приложение № 1) настоящего Договора, предоставляет Заказчику окончательный Акт приема-сдачи выполненных работ с приложением к нему Дизайн - проекта помещения со всей документацией, предусмотренной Техническим заданием и условиями настоящего Договора.</p>
			<p>6.4. Окончательная приемка и обсуждение выполненной Исполнителем работы осуществляется Заказчиком при участии Исполнителя в порядке, оговоренном Сторонами.</p>
			<p>6.5. Заказчик обязан в течение 3 (трех) дней с момента наступления срока выполнения работ, предусмотренных настоящим Договором, проверить и принять выполненные Исполнителем работы или дать мотивированный отказ от приемки работы. Непредоставление Заказчиком Исполнителю в указанный срок обоснованных письменных замечаний означает безоговорочное принятие Заказчиком работ по настоящему Договору и по юридическим последствиям приравнивается к подписанию Заказчиком Акта приема - сдачи выполненных работ. Исполнитель оформляет Акт приема-сдачи выполненных работ в одностороннем порядке, и обязательства Исполнителя считаются исполненными надлежащим образом, в полном объеме и в оговоренный Сторонами срок.</p>
			<p>6.6. В случае мотивированного и своевременного отказа Заказчика в принятии результатов работ, Сторонами составляется двухсторонний акт с перечнем необходимых доработок и сроков их выполнения силами и за счет Исполнителя. Предельная продолжительность исправления Дизайн - проекта по замечаниям определяется по согласованию Сторон. После устранения Исполнителем всех нарушений, Стороны в двухдневный срок подписывают Акт приема &ndash; сдачи исправленных Исполнителем работ.</p>
			<p>6.7. Оригинал разработанного Дизайн -проекта и вся документация по нему передается Заказчику только после полной оплаты выполненных Исполнителем работ по настоящему Договору.</p>
			<p>6.8. В случае досрочного выполнения Исполнителем работ по разработке Дизайн - проекта, Исполнитель уведомляет об этом Заказчика по номеру телефона, указанному в разделе 14 в настоящем Договоре, а также при необходимости другими возможными способами уведомления: путем направления по указанному номеру телефона Заказчика SMS &ndash; сообщения, отправки соответствующего сообщения по Электронной почте Заказчика. Данные способы уведомления Заказчика могут быть использованы во всех случаях уведомления Заказчика, связанных с исполнением настоящего Договора.</p>
			<p>6.9. В случае невозможности исполнения Договора, возникшей по обстоятельствам, за которые ни одна из Сторон не отвечает, или по вине Заказчика, Стороны заключают Соглашение о расторжении Договора. При этом Заказчик оплачивает Исполнителю стоимость фактически выполненных Исполнителем работ на момент определения невозможности исполнения настоящего Договора.</p>
			<p>6.10. Исполнитель гарантирует, что работы по созданию Дизайн - проекта будут выполнены с надлежащим качеством в объеме и в сроки, предусмотренные настоящим Договором, в соответствии с утвержденным Техническим заданием и действующими техническим нормами и правилами.</p>
			<p>6.11. Заказчик знакомится с правилами работы Исполнителя, примерами работ и форматом презентации работ до заключения Договора. Подписывая настоящий Договор, Заказчик соглашается с порядком работы над Дизайн - проектом, степенью детализации проекта и форматом получения результата по каждому этапу.</p>
			<p>6.12. Разрабатываемый Дизайн-проект в рамках настоящего Договора является авторским художественным проектом. Цель создания Дизайн - проекта сформировать художественную концепцию оформления интерьера. В силу этого, Дизайн-проект не должен быть оформлен по ГОСТ, но должен отвечать строительным нормам, требованиям и действующему законодательству. Дизайн-проект содержит сведения о внешнем виде будущего интерьера, его потребительских свойствах и качествах. Дизайн - проект не должен содержать инженерные проекты и детальную разработку отдельных элементов. Дизайн - проект является творческой работой Исполнителя, которая регламентируется исключительно эстетическими соображениями и удобством эксплуатации.</p>
			<p style="text-align: center; font-weight: bold;">7. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
			<p>7.1. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по настоящему Договору, несет ответственность в соответствии с действующими законами РФ и условиям настоящего Договора.</p>
			<p>7.2. В случае нарушения Исполнителем сроков выполнения работ (этапов работ), Заказчик вправе предъявить Исполнителю требование о выплате неустойки (пени) из расчета 0,1% от стоимости невыполненной работы за каждый день просрочки, но не более 3 (трех) % от стоимости работ (этапов работ) по настоящему Договору.</p>
			<p>7.3. За задержку оплаты выполненных работ (этапов работ) Исполнитель имеет право взыскать с Заказчика неустойку (пени) из расчета 0,1% от стоимости суммы Договора за каждый день просрочки, но не более 3 % от стоимости работ работ за каждый день просрочки.</p>
			<p>7.4. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора в результате событий чрезвычайного характера, которые сторона не могла предвидеть или предотвратить разумными мерами (форс-мажорные обстоятельства).</p>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">2</div>
	</div>
</div>
<div id="pf3" class="pf w0 h0" data-page-no="3">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>7.5 Исполнитель не несет никакой ответственности за действия третьих лиц, являющихся производителями и/или поставщиками товаров, а также за сами товары, которые будут указаны Исполнителем в спецификациях,&nbsp; созданных в результате оказания услуг по настоящему договору.</p>
			<p>7.6. Исполнитель не несет ответственность за невыполнение своих обязательств по настоящему Договору , если оно вызвано действием или бездействием Заказчика, повлекшим невыполнение Заказчиком собственных обязательств по настоящему Договору.</p>
			<p>7.7. Исполнитель не несет ответственности за несоответствие Дизайн - проекта требованиям застройщика, генеральному плану и/или другим особым требованиям третьих лиц в случае, если Заказчиком не была предоставлена вся соответствующая документация, фиксирующие данные требования, до согласования Технического задания ( Приложение № 2) к настоящему Договору.</p>
			<p style="text-align: center; font-weight: bold;">8. РАЗРЕШЕНИЕ СПОРОВ</p>
			<p>8.1. Споры и разногласия, возникающие между Сторонами, разрешаются путём переговоров, в соответствии с действующим гражданским законодательством Российской Федерации.</p>
			<p>8.2. В случае возникновения споров между Исполнителем и Заказчиком по вопросам, предусмотренным настоящим Договором, или в связи с ним, Стороны примут все меры к разрешению их путем переговоров между собой.</p>
			<p>8.3. При невозможности урегулирования в процессе переговоров споры разрешаются в порядке, установленном действующим законодательством, с соблюдением претензионного порядка разрешения спора. Обращения направляются на адрес электронной почты client@re-forma.ru или отправляется в письменном виде по адресу доставки корреспонденции: <v>{{ postavshik.adres1_post }}</v> <v>{{ postavshik.adres2_post }}</v>.</p>
			<p>8.4. Претензия Заказчика должна содержать конкретные, обоснованные требования нарушения норм законодательства, к которой должны быть приложены копии документов, подтверждающих изложенные обстоятельства. Доставка претензионного материала осуществляется заказным письмом с уведомлением, по электронной почте, телеграммой либо нарочной (курьерской) связью. Факт получения документов должен подтверждаться распиской стороны в его получении.</p>
			<p>8.5.Сторона, получившая претензию, обязана ее рассмотреть в течение 10 (десяти) рабочих дней и направить мотивированный ответ.</p>
			<p>8.6. В случае, когда возникшие споры путем переговоров не урегулированы, они подлежат разрешению в судебном порядке.</p>
			<p style="text-align: center; font-weight: bold;">9. АВТОРСКИЕ ПРАВА</p>
			<p>9.1. С момента подписания Акта приема - сдачи выполненных работ Исполнитель передает в собственность Заказчика материальные носители, отображающие Дизайн - проект, и одновременно передает Заказчику права на публичную демонстрацию, право неограниченного использования проектной документации для строительства данного Объекта.</p>
			<p>9.2. Дизайн - проект, разработанный в рамках настоящего Договора, может быть использован Заказчиком для строительства повторно только с предварительного письменного согласия автора проекта или авторского коллектива.</p>
			<p>9.3. Заказчик обязуется при использовании Дизайн - проекта в печатных и электронных СМИ, строительных информационных щитах указывать автора или авторский коллектив, разработавший Дизайн - проект.</p>
			<p>9.4. Исполнитель как автор Дизайн - проекта, разработанный в рамках настоящего Договора, без указания точного адреса и персональных данных Заказчика имеет право на:</p>
			<p>9.4.1. - фото и видео съёмку реализованного Объекта.</p>
			<p>9.4.2. -использовать Дизайн -проект, созданный по настоящему Договору, а также фото и видео материалы реализованного Объекта для публичной демонстрации и рекламы своей деятельности (размещать на Интернет-сайтах, выставлять на профессиональные смотры, выставки и публиковать в печатных изданиях).</p>
			<p>9.4.3. -использовать в своей профессиональной деятельности примеры, методы и стилистические решения, содержащиеся в Дизайн -проекте, созданных по настоящему Договору.</p>
			<p style="text-align: center; font-weight: bold;">10. ПОРЯДОК РАСТОРЖЕНИЯ ДОГОВОРА</p>
			<p>10.1. В случае невозможности исполнения Договора, возникшей по обстоятельствам по вине Заказчика, Стороны заключают Соглашение о расторжении Договора. При этом Заказчик оплачивает Исполнителю стоимость фактически выполненных Исполнителем работ, а также сумму упущенной выгоды, предварительно уведомив Исполнителя не менее чем за 2 (два) дня до расторжения Договора.</p>
			<p>10.2. В случае, когда невозможность исполнения заказа возникла по обстоятельствам, за которые ни одна из сторон не отвечает, Заказчик возмещает Исполнителю фактически понесенные им расходы.</p>
			<p>10.3. В случае расторжения Договора на определенном этапе его реализации, применяются правила о договорах, элементы которых составляют содержание данного этапа: о договоре возмездного оказания услуг, о предоставлении неисключительного права на использование результата интеллектуальной деятельности.</p>
			<p style="text-align: center; font-weight: bold;">11. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ</p>
			<p>11.1. Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или избежать, включая, но не ограничиваясь, объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения, наводнения, пожары и другие стихийные бедствия, запрещения экспорта или импорта (эмбарго), решений Правительства или решений государственных таможенных органов, действиями правоохранительных органов. Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и продолжительности действия непреодолимой силы.</p>
			<p>11.2. Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.</p>
			<p>11.3. При наступлении обстоятельств, указанных в п. 11.1, каждая из сторон должна без промедления в течение 10 (десяти) дней известить о них в письменном виде другую сторону. Извещение должно содержать данные о характере обстоятельств, а также официальные документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния на возможность исполнения стороной своих обязательств по данному Договору.</p>
			<p>11.4. В случаях наступления обстоятельств, предусмотренных в п. 11.1, срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия.</p>
			<p>11.5. Если обстоятельства непреодолимой силы продолжают действовать более 30 (тридцати) дней, то каждая Сторона вправе в одностороннем порядке отказаться от исполнения Договора.</p>
			<p style="text-align: center; font-weight: bold;">12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
			<p>12.1. Настоящий Договор вступает в силу с момента подписания его Сторонами и действует до исполнения Сторонами своих обязательств.</p>
			<p>12.2. Все приложения к настоящему договору, оформленные в соответствии с действующим законодательством РФ, являются его неотъемлемой частью.</p>
			<p>12.3. Любые изменения и дополнения к настоящему Договору будут являться неотъемлемой частью и действительны в том случае, если они совершены в письменной форме, оформлены надлежащим образом и подписаны обеими сторонами и уполномоченными представителями сторон.</p>
			<p>12.4. На момент подписания настоящего Договора все предыдущие переговоры и переписка по нему теряют силу.</p>
			<p>12.5. Настоящий Договор составлен в двух экземплярах. Оба экземпляра идентичны и имеют одинаковую юридическую силу. У каждой из Сторон находится один экземпляр настоящего Договора.</p>
			<p>12.6. Условия настоящего Договора, Дополнительных соглашений к нему и иная информация, полученная Сторонами в соответствии с Договором, конфиденциальны и не подлежат разглашению.</p>
			<p style="text-align: center; font-weight: bold;">13. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</p>
			<p>13.1. Планировочное решение &ndash; варианты планировки помещения с расстановкой мебели.</p>
			<p>13.2. Экспресс дизайн - проект &ndash; многостраничный документ, варьирующийся по содержанию, в зависимости от указанного Заказчиком Перечня работ при заполнении Технического задания.</p>
			<p>13.3. Аналоги &ndash; фотоизображения интерьеров и материалов, когда-либо созданных другими авторами. Аналоги используются Дизайнером с целью демонстрации своего художественного замысла Заказчику.</p>
			<p>13.4. Коллаж &ndash;лист с нанесенными на него изображениями мебели, предметов интерьера, аналогов интерьера соответствующим реальным объектам, либо максимально приближенными к реально существующим на интерьерном рынке.</p>
			<p>13.5. Техническое задание- документ содержащий вопросы, ответы на которые позволяют Исполнителю создать Экспресс дизайн &ndash; проект.</p>
			<p>13.6. Дополнительная правка - внесение в Дизайн-проект Помещения изменения, требующего от Исполнителя значительных затрат времени для доработки или разработки новой концепции Дизайн-проекта. Изменение коллажа или эскиза или планировочного решение по инициативе Заказчика с целью улучшения в понимании Заказчика качества работы Исполнителя. Услуга разработки Экспресс дизайн &ndash; проекта включает в себя одну бесплатную правку. Дополнительные правки оплачиваются отдельно. Дополнительная правка возможна при наличии соответствующего письменного обращения Заказчика.</p>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">3</div>
	</div>
</div>
<div id="pf4" class="pf w0 h0" data-page-no="4">
	<div class="pc w0 h0">
		<div class="t m0 x8 h6 ff8 fs0 fc0 sc0 ls0 ws0 page_without_logo">
			<p>К настоящему Договору прилагаются и являются его неотъемлемой частью следующие Приложения:</p>
			<p>Приложение №1 &ndash; &ldquo;Перечень работ&rdquo;,</p>
			<p>Приложение №2 &ndash; &ldquo;Техническое задание&rdquo;,</p>
			<p>Приложение №3 &ndash; &ldquo;Лист согласования&rdquo;,</p>
			<p>Приложение №4 &ndash; &ldquo;Акт приема-сдачи выполненных работ первого этапа&rdquo;,</p>
			<p>Приложение №5 &ndash; &ldquo;Акт приема-сдачи выполненных работ второго этапа &rdquo;,</p>
			<p>Приложение №6 &ndash; &ldquo;Акт приема-сдачи выполненных работ&rdquo;.</p>
			<p style="font-weight: bold;"><br>Примечание №1. Доверенные лица, имеющие право подписывать Бланк обмера Помещения, Акт приема - сдачи выполненных работ</p>
			<p>&nbsp;</p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.0|default:'________________________________________/' }}</v></p>
			<p>Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.0|default:'+7_____________________________' }}</v></p>
			<p>Фамилия И.О. <v>{{ dogovor_more.doverennye_lica.1|default:'________________________________________/' }}</v></p>
			<p>Конт. телефон доверенного лица <v>{{ dogovor_more.doverennye_lica_telefony.1|default:'+7_____________________________' }}</v></p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
			<p>Заказчик дает свое согласие на обработку своих персональных данных и использование их в целях заключения гражданско-правового договора, к которым относятся:</p>
			<p>- паспортные данные;</p>
			<p>- год, месяц, дата и место рождения, а также иные данные, содержащиеся в удостоверении личности;</p>
			<p>- данные о месте жительства, почтовом адресе, телефоне, адресе электронной почты;</p>
			<p>- данные о контактных номерах телефона.</p>
			<p>Настоящее согласие предоставляется на осуществление любых действий в отношении заказчика персональных данных, которые необходимы или желаемы для достижения указанной выше цели, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам), передачу персональных данных, а также осуществление любых иных действий с моими персональными данными, предусмотренных действующим законодательством Российской Федерации.</p>
			<p>Заказчик проинформирован(а), Исполнитель гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
			<p>Данное согласие действует бессрочно с момента его выдачи.</p>
			<p>Данное согласие может быть отозвано в любой момент по моему письменному заявлению.</p>
			<p>Заказчик подтверждает, что, давая такое согласие, действует по собственной воле и в своих интересах.</p>
			&nbsp;
			<p style="text-align: center; font-weight: bold;"><br>14. РЕКВИЗИТЫ</p>
			<p>&nbsp;</p>
			<table border="1" cellpadding="10" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ИСПОЛНИТЕЛЬ:</b></p>
							<p align="center"><b>Индивидуальный предприниматель</b></p>
							<p align="center"><v>{{ postavshik.fio }}</v></p>
							<p>Юр.адрес: <v>{{ postavshik.adres1 }}</v> <v>{{ postavshik.adres2 }}</v></p>
							<p>ИНН: <v>{{ postavshik.inn }}</v></p>
							<p>ОГРНИП <v>{{ postavshik.ogrnip }}</v></p>
							<p>р/с: <v>{{ postavshik.rs }}</v></p>
							<p><v>{{ postavshik.bank1 }}</v> <v>{{ postavshik.bank2 }}</v></p>
							<p>к/с: <v>{{ postavshik.ks }}</v></p>
							<p>БИК <v>{{ postavshik.bik }}</v></p>
							<p>Тел: 8(347) 299-11-70 (отдел по работе с клиентами)</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p><b>_______________________/<v>{{ postavshik.inicialy }}</v>/</b></p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
						</td>
						<td style="vertical-align: top; width: 50%;">
							<p align="center"><b>ЗАКАЗЧИК:</b></p>
							<p>Фамилия&nbsp;<v>{{ dogovor.passport_familiya|default:'___________________________' }}</v></p>
							<p>Имя&nbsp;<v>{{ dogovor.passport_imya|default:'_____________________________' }}</v></p>
							<p>Отчество &nbsp;<v>{{ dogovor.passport_otchestvo|default:'_____________________________' }}</v></p>
							<p>Дата рождения&nbsp;: <v>{{ dogovor.passport_birthday_date|default:'________________________' }}</v></p>
							<p>Паспорт:&nbsp;серия&nbsp;{% if dogovor.passport_seria and dogovor.passport_nomer %}<v>{{ dogovor.passport_seria }}</v> № <v>{{ dogovor.passport_nomer }}</v>{% else %}_______________________________{% endif %}</p>
							<p>выдан&nbsp;<v>{{ dogovor.passport_kem_vydan|default:'__________________________________ _____________________________________<br>__________________________________ _____________________________________<br>__________________________________ _____________________________________' }}</v></p>
							<p>дата выдачи <v>{{ dogovor.passport_kogda_vydan|default:'_____________' }}</v> к/п <v>{{ dogovor.passport_kp|default:'_____________' }}</v></p>
							<p>Адрес&nbsp;прописки: <v>{{ dogovor.adres_propiski|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Адрес установки: <v>{{ dogovor.adres_ustanovki|default:'___________________________ _________________________________________<br>___________________________ _________________________________________' }}</v></p>
							<p>Телефон:</p>
							<p>1. <v>{{ froze.client.phone|default:'_______________________' }}</v></p>
							<p>2. <v>{{ froze.client.phone_two|default:'_______________________' }}</v></p>
							<p>e-mail:____________________________________</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>Подпись ____________/ <v>{{ dogovor_more.inicialy|default:'_______________' }}</v>/</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<table border="2" cellpadding="20" cellspacing="0" class="requisites">
				<tbody>
					<tr>
						<td style="vertical-align: top; width: 100%;">
							<p>&nbsp;</p>
							<p style="font-size: 130%"> Уважаемый Заказчик! Обращаем Ваше внимание на то, что Исполнитель будет вести все переговоры по изделию, его изготовлению, назначению монтажных работ, обсуждать иные вопросы, возникающие по данному договору, а также обсуждать вопросы, касающиеся оплаты в рамках данного договора, только исключительно с самим Заказчиком, указанным в реквизитах сторон, или с его доверенным лицом, указанным в договоре в Примечании №1.</p>
							<p style="font-size: 130%">  Любая информация по заказу, полученная от лиц, не указанных в Договоре, не подлежит рассмотрению Исполнителем.</p>
							<p>&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
	<div class="c x1 y1 w2 h2">
		<div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">4</div>
	</div>
</div>
</div><div class="loading-indicator"></div>
</body>
<script>window.print();</script>
<style>
	.zakazchik p {
		border-bottom: solid 1px rgb(0,0,0);
	}
	p.no-border {
		border-bottom: none;
	}
	.t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0.page_without_logo {
		margin-top: -22px;
		padding-top: 0 !important;
	}
	img.logo {
		width: 111px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
		width: 2275px;
		white-space: normal;
		line-height: 39.5px;
		text-align: justify;
		left: 14.000000px;
		padding-top: 25px;
	}
	.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
		text-indent: 143.650001px;
		margin: 0;
	}
	.pf1text {
		padding-top: 58px !important;
	}
	@media print{
		img.logo {
			width: 198px;
		}
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 {
			width: 4044.620px;line-height: 65.5px;
			left: 18.666667pt;
			padding-top: 42px;
		}
		.pf.w0.h0 .t.m0.x8.h6.ff8.fs0.fc0.sc0.ls0.ws0 p {
			text-indent: 243.650001px;
			margin: 0;
		}
		.pf1text {
			padding-top: 102px !important;
		}
	}
	v {
		color: black;
		font-weight: bold;
	}
	.requisites p {
		text-indent: 0px !important;
	}
</style>
</html>