<!DOCTYPE html>
{% spaceless %}
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Реформа{% endblock %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>


    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'custom/bootstrap_docs.css' %}" rel="stylesheet">
	<link href="{% static 'custom/styles.css' %}?v=47" rel="stylesheet">
</head>
<body>
    {% include "froze/navbar.html" %}
    {% block content %}{% endblock content %}
<!--    {% include "froze/footer.html" %}-->

	<script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <link href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">

	<script src="{% static 'bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <link href="{% static 'bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" rel="stylesheet">
	<script src="{% static 'bootstrap3-typeahead/bootstrap3-typeahead.min.js' %}"></script>

    <script src="{% static 'custom/base.js' %}?v=23"></script>
	<script src="{% static 'custom/javascripts.js' %}?v=47"></script>



</body>
</html>
{% endspaceless %}