.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:1.296000px;}
._5{width:3.060000px;}
._1{width:4.536000px;}
._4{width:5.724000px;}
._7{width:7.272000px;}
._a{width:10.044000px;}
._d{width:11.232000px;}
._b{width:12.348000px;}
._6{width:13.860000px;}
._12{width:15.192000px;}
._13{width:16.488000px;}
._10{width:18.288000px;}
._f{width:21.384000px;}
._c{width:22.752000px;}
._0{width:32.148000px;}
._3{width:55.404000px;}
._9{width:59.256000px;}
._8{width:61.056000px;}
._e{width:63.432000px;}
._11{width:135.432000px;}
.fc1{color:rgb(60,60,60);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs0{font-size:44.000000px;}
.y99{bottom:13.295998px;}
.y2{bottom:15.568000px;}
.ya3{bottom:18.122002px;}
.y98{bottom:35.196999px;}
.y97{bottom:47.098000px;}
.y96{bottom:58.999001px;}
.y95{bottom:70.899994px;}
.ya2{bottom:77.626991px;}
.y7c{bottom:78.000000px;}
.y94{bottom:82.800995px;}
.y3f{bottom:85.605026px;}
.ya1{bottom:89.527992px;}
.y40{bottom:90.500000px;}
.y7b{bottom:92.412031px;}
.y93{bottom:94.701996px;}
.y3e{bottom:95.954025px;}
.ya0{bottom:101.428993px;}
.y7a{bottom:102.761032px;}
.y3d{bottom:106.303024px;}
.y92{bottom:106.602997px;}
.y79{bottom:113.110031px;}
.y9f{bottom:113.329994px;}
.y8a{bottom:114.076042px;}
.y3c{bottom:116.652023px;}
.y91{bottom:118.503998px;}
.y78{bottom:123.459030px;}
.y9e{bottom:125.230995px;}
.y3b{bottom:127.001022px;}
.y90{bottom:130.404995px;}
.y77{bottom:133.808029px;}
.y9d{bottom:137.131992px;}
.y3a{bottom:137.350018px;}
.y8f{bottom:142.305992px;}
.y76{bottom:144.157026px;}
.y39{bottom:147.699018px;}
.y9c{bottom:149.032993px;}
.y8e{bottom:154.206993px;}
.y75{bottom:154.506027px;}
.y38{bottom:158.048019px;}
.y9b{bottom:160.933994px;}
.y74{bottom:164.855026px;}
.y8d{bottom:166.107993px;}
.y37{bottom:168.397018px;}
.y9a{bottom:172.834993px;}
.y73{bottom:175.204025px;}
.y8c{bottom:178.008994px;}
.y36{bottom:178.746016px;}
.y72{bottom:185.553024px;}
.y8b{bottom:188.357994px;}
.y35{bottom:189.095016px;}
.y71{bottom:195.902021px;}
.y34{bottom:199.444016px;}
.y70{bottom:206.251022px;}
.y33{bottom:209.793011px;}
.y6f{bottom:216.600021px;}
.y32{bottom:220.142012px;}
.y6e{bottom:226.949020px;}
.y31{bottom:230.491013px;}
.y6d{bottom:237.298019px;}
.y30{bottom:240.840012px;}
.y6c{bottom:247.647018px;}
.y2f{bottom:251.189011px;}
.y6b{bottom:257.996017px;}
.y2e{bottom:261.538010px;}
.y6a{bottom:268.345013px;}
.y0{bottom:270.000000px;}
.y2d{bottom:271.887039px;}
.y69{bottom:279.340038px;}
.y2c{bottom:282.236038px;}
.y68{bottom:290.335037px;}
.y2b{bottom:292.585037px;}
.y67{bottom:300.684036px;}
.y2a{bottom:302.934036px;}
.y66{bottom:311.033035px;}
.y29{bottom:313.283035px;}
.y65{bottom:321.382034px;}
.y28{bottom:323.632034px;}
.y64{bottom:331.731031px;}
.y27{bottom:333.981033px;}
.y63{bottom:342.080032px;}
.y89{bottom:344.330029px;}
.y26{bottom:344.330032px;}
.y62{bottom:352.429031px;}
.y88{bottom:354.679029px;}
.y25{bottom:354.679031px;}
.y61{bottom:362.778030px;}
.y24{bottom:365.028030px;}
.y23{bottom:375.377029px;}
.y60{bottom:383.476027px;}
.y22{bottom:385.726028px;}
.y5f{bottom:393.825027px;}
.y21{bottom:396.075027px;}
.y5e{bottom:404.174026px;}
.y20{bottom:406.424026px;}
.y5d{bottom:414.523022px;}
.y1f{bottom:416.773026px;}
.y5c{bottom:424.872023px;}
.y87{bottom:427.122023px;}
.y5b{bottom:435.221024px;}
.y1e{bottom:437.471024px;}
.y5a{bottom:445.570023px;}
.y1d{bottom:447.820023px;}
.y59{bottom:457.471024px;}
.y1c{bottom:458.169022px;}
.y1b{bottom:468.518021px;}
.y58{bottom:469.372025px;}
.y1a{bottom:478.867020px;}
.y57{bottom:481.273026px;}
.y19{bottom:489.216019px;}
.y56{bottom:496.622021px;}
.y18{bottom:499.565018px;}
.y55{bottom:506.971020px;}
.y17{bottom:509.914017px;}
.y86{bottom:509.914032px;}
.y54{bottom:517.320021px;}
.y16{bottom:520.263027px;}
.y85{bottom:520.263031px;}
.y53{bottom:527.669022px;}
.y15{bottom:530.612028px;}
.y84{bottom:530.612030px;}
.y52{bottom:538.018021px;}
.y14{bottom:540.961029px;}
.y51{bottom:548.367020px;}
.y13{bottom:551.310028px;}
.y50{bottom:558.716019px;}
.y12{bottom:561.659027px;}
.y4f{bottom:569.065018px;}
.y11{bottom:572.008026px;}
.y4e{bottom:579.414017px;}
.y10{bottom:582.357025px;}
.y4d{bottom:589.763031px;}
.y83{bottom:592.706024px;}
.y4c{bottom:600.112030px;}
.yf{bottom:603.055027px;}
.y4b{bottom:610.461027px;}
.y82{bottom:613.404022px;}
.ye{bottom:613.404026px;}
.y4a{bottom:620.810028px;}
.y81{bottom:623.753021px;}
.yd{bottom:623.753027px;}
.y49{bottom:631.159027px;}
.y80{bottom:634.102024px;}
.yc{bottom:634.102028px;}
.y48{bottom:641.508026px;}
.y7f{bottom:644.451025px;}
.yb{bottom:644.451027px;}
.y47{bottom:651.857025px;}
.ya{bottom:654.800026px;}
.y46{bottom:662.206025px;}
.y7e{bottom:665.149025px;}
.y45{bottom:674.206020px;}
.y9{bottom:675.498024px;}
.y44{bottom:685.201023px;}
.y7d{bottom:685.847023px;}
.y8{bottom:685.847025px;}
.y7{bottom:696.196026px;}
.y6{bottom:706.545025px;}
.y43{bottom:716.894024px;}
.y5{bottom:727.243023px;}
.y42{bottom:727.243025px;}
.y41{bottom:737.592024px;}
.y4{bottom:747.941024px;}
.y3{bottom:758.290024px;}
.y1{bottom:780.408024px;}
.h4{height:24.380859px;}
.h5{height:24.996094px;}
.h2{height:26.642000px;}
.h3{height:29.326172px;}
.h8{height:197.759995px;}
.h1{height:537.000000px;}
.h6{height:716.500000px;}
.h7{height:729.000000px;}
.h0{height:841.900024px;}
.w2{width:6.375000px;}
.w5{width:229.949997px;}
.w6{width:255.750000px;}
.w1{width:491.500000px;}
.w3{width:492.000000px;}
.w4{width:495.000000px;}
.w0{width:595.299988px;}
.x2{left:0.400000px;}
.x12{left:6.150000px;}
.x13{left:20.350000px;}
.xe{left:60.500000px;}
.x0{left:62.500000px;}
.x6{left:63.799999px;}
.x5{left:77.999999px;}
.x11{left:85.515001px;}
.x15{left:110.395998px;}
.xd{left:131.999996px;}
.xa{left:149.999996px;}
.x8{left:239.264007px;}
.x4{left:241.217007px;}
.x9{left:251.091994px;}
.xc{left:260.964995px;}
.x10{left:265.119994px;}
.x3{left:268.068005px;}
.xb{left:270.152999px;}
.xf{left:284.197997px;}
.x7{left:286.173004px;}
.x14{left:300.424999px;}
.x1{left:546.824976px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:1.728000pt;}
._5{width:4.080000pt;}
._1{width:6.048000pt;}
._4{width:7.632000pt;}
._7{width:9.696000pt;}
._a{width:13.392000pt;}
._d{width:14.976000pt;}
._b{width:16.464000pt;}
._6{width:18.480000pt;}
._12{width:20.256000pt;}
._13{width:21.984000pt;}
._10{width:24.384000pt;}
._f{width:28.512000pt;}
._c{width:30.336000pt;}
._0{width:42.864000pt;}
._3{width:73.872000pt;}
._9{width:79.008000pt;}
._8{width:81.408000pt;}
._e{width:84.576000pt;}
._11{width:180.576000pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:58.666667pt;}
.y99{bottom:17.727997pt;}
.y2{bottom:20.757333pt;}
.ya3{bottom:24.162669pt;}
.y98{bottom:46.929331pt;}
.y97{bottom:62.797333pt;}
.y96{bottom:78.665334pt;}
.y95{bottom:94.533325pt;}
.ya2{bottom:103.502655pt;}
.y7c{bottom:104.000000pt;}
.y94{bottom:110.401327pt;}
.y3f{bottom:114.140035pt;}
.ya1{bottom:119.370656pt;}
.y40{bottom:120.666667pt;}
.y7b{bottom:123.216042pt;}
.y93{bottom:126.269328pt;}
.y3e{bottom:127.938700pt;}
.ya0{bottom:135.238658pt;}
.y7a{bottom:137.014709pt;}
.y3d{bottom:141.737366pt;}
.y92{bottom:142.137329pt;}
.y79{bottom:150.813375pt;}
.y9f{bottom:151.106659pt;}
.y8a{bottom:152.101390pt;}
.y3c{bottom:155.536031pt;}
.y91{bottom:158.005330pt;}
.y78{bottom:164.612040pt;}
.y9e{bottom:166.974660pt;}
.y3b{bottom:169.334696pt;}
.y90{bottom:173.873327pt;}
.y77{bottom:178.410706pt;}
.y9d{bottom:182.842656pt;}
.y3a{bottom:183.133357pt;}
.y8f{bottom:189.741323pt;}
.y76{bottom:192.209368pt;}
.y39{bottom:196.932025pt;}
.y9c{bottom:198.710658pt;}
.y8e{bottom:205.609324pt;}
.y75{bottom:206.008036pt;}
.y38{bottom:210.730693pt;}
.y9b{bottom:214.578659pt;}
.y74{bottom:219.806702pt;}
.y8d{bottom:221.477324pt;}
.y37{bottom:224.529358pt;}
.y9a{bottom:230.446658pt;}
.y73{bottom:233.605367pt;}
.y8c{bottom:237.345325pt;}
.y36{bottom:238.328021pt;}
.y72{bottom:247.404032pt;}
.y8b{bottom:251.143992pt;}
.y35{bottom:252.126689pt;}
.y71{bottom:261.202695pt;}
.y34{bottom:265.925354pt;}
.y70{bottom:275.001363pt;}
.y33{bottom:279.724014pt;}
.y6f{bottom:288.800028pt;}
.y32{bottom:293.522682pt;}
.y6e{bottom:302.598694pt;}
.y31{bottom:307.321350pt;}
.y6d{bottom:316.397359pt;}
.y30{bottom:321.120015pt;}
.y6c{bottom:330.196025pt;}
.y2f{bottom:334.918681pt;}
.y6b{bottom:343.994690pt;}
.y2e{bottom:348.717346pt;}
.y6a{bottom:357.793350pt;}
.y0{bottom:360.000000pt;}
.y2d{bottom:362.516052pt;}
.y69{bottom:372.453384pt;}
.y2c{bottom:376.314718pt;}
.y68{bottom:387.113383pt;}
.y2b{bottom:390.113383pt;}
.y67{bottom:400.912048pt;}
.y2a{bottom:403.912048pt;}
.y66{bottom:414.710714pt;}
.y29{bottom:417.710714pt;}
.y65{bottom:428.509379pt;}
.y28{bottom:431.509379pt;}
.y64{bottom:442.308042pt;}
.y27{bottom:445.308044pt;}
.y63{bottom:456.106710pt;}
.y89{bottom:459.106705pt;}
.y26{bottom:459.106710pt;}
.y62{bottom:469.905375pt;}
.y88{bottom:472.905373pt;}
.y25{bottom:472.905375pt;}
.y61{bottom:483.704041pt;}
.y24{bottom:486.704041pt;}
.y23{bottom:500.502706pt;}
.y60{bottom:511.301369pt;}
.y22{bottom:514.301371pt;}
.y5f{bottom:525.100037pt;}
.y21{bottom:528.100037pt;}
.y5e{bottom:538.898702pt;}
.y20{bottom:541.898702pt;}
.y5d{bottom:552.697362pt;}
.y1f{bottom:555.697367pt;}
.y5c{bottom:566.496030pt;}
.y87{bottom:569.496030pt;}
.y5b{bottom:580.294698pt;}
.y1e{bottom:583.294698pt;}
.y5a{bottom:594.093363pt;}
.y1d{bottom:597.093363pt;}
.y59{bottom:609.961365pt;}
.y1c{bottom:610.892029pt;}
.y1b{bottom:624.690694pt;}
.y58{bottom:625.829366pt;}
.y1a{bottom:638.489360pt;}
.y57{bottom:641.697367pt;}
.y19{bottom:652.288025pt;}
.y56{bottom:662.162694pt;}
.y18{bottom:666.086690pt;}
.y55{bottom:675.961360pt;}
.y17{bottom:679.885356pt;}
.y86{bottom:679.885376pt;}
.y54{bottom:689.760028pt;}
.y16{bottom:693.684036pt;}
.y85{bottom:693.684041pt;}
.y53{bottom:703.558695pt;}
.y15{bottom:707.482704pt;}
.y84{bottom:707.482707pt;}
.y52{bottom:717.357361pt;}
.y14{bottom:721.281372pt;}
.y51{bottom:731.156026pt;}
.y13{bottom:735.080037pt;}
.y50{bottom:744.954692pt;}
.y12{bottom:748.878703pt;}
.y4f{bottom:758.753357pt;}
.y11{bottom:762.677368pt;}
.y4e{bottom:772.552022pt;}
.y10{bottom:776.476034pt;}
.y4d{bottom:786.350708pt;}
.y83{bottom:790.274699pt;}
.y4c{bottom:800.149373pt;}
.yf{bottom:804.073369pt;}
.y4b{bottom:813.948036pt;}
.y82{bottom:817.872030pt;}
.ye{bottom:817.872035pt;}
.y4a{bottom:827.746704pt;}
.y81{bottom:831.670695pt;}
.yd{bottom:831.670703pt;}
.y49{bottom:841.545369pt;}
.y80{bottom:845.469365pt;}
.yc{bottom:845.469371pt;}
.y48{bottom:855.344035pt;}
.y7f{bottom:859.268033pt;}
.yb{bottom:859.268036pt;}
.y47{bottom:869.142700pt;}
.ya{bottom:873.066701pt;}
.y46{bottom:882.941367pt;}
.y7e{bottom:886.865367pt;}
.y45{bottom:898.941360pt;}
.y9{bottom:900.664032pt;}
.y44{bottom:913.601364pt;}
.y7d{bottom:914.462697pt;}
.y8{bottom:914.462700pt;}
.y7{bottom:928.261368pt;}
.y6{bottom:942.060033pt;}
.y43{bottom:955.858699pt;}
.y5{bottom:969.657364pt;}
.y42{bottom:969.657366pt;}
.y41{bottom:983.456032pt;}
.y4{bottom:997.254698pt;}
.y3{bottom:1011.053365pt;}
.y1{bottom:1040.544032pt;}
.h4{height:32.507812pt;}
.h5{height:33.328125pt;}
.h2{height:35.522666pt;}
.h3{height:39.101562pt;}
.h8{height:263.679993pt;}
.h1{height:716.000000pt;}
.h6{height:955.333333pt;}
.h7{height:972.000000pt;}
.h0{height:1122.533366pt;}
.w2{width:8.500000pt;}
.w5{width:306.599996pt;}
.w6{width:341.000000pt;}
.w1{width:655.333333pt;}
.w3{width:656.000000pt;}
.w4{width:660.000000pt;}
.w0{width:793.733317pt;}
.x2{left:0.533333pt;}
.x12{left:8.200000pt;}
.x13{left:27.133334pt;}
.xe{left:80.666667pt;}
.x0{left:83.333333pt;}
.x6{left:85.066666pt;}
.x5{left:103.999999pt;}
.x11{left:114.020002pt;}
.x15{left:147.194664pt;}
.xd{left:175.999995pt;}
.xa{left:199.999995pt;}
.x8{left:319.018675pt;}
.x4{left:321.622676pt;}
.x9{left:334.789326pt;}
.xc{left:347.953327pt;}
.x10{left:353.493326pt;}
.x3{left:357.424006pt;}
.xb{left:360.203999pt;}
.xf{left:378.930663pt;}
.x7{left:381.564006pt;}
.x14{left:400.566666pt;}
.x1{left:729.099967pt;}
}
