CSS-код:

/* footer */
* {
	margin: 0;
	padding: 0;
}
html,
body,
.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
.footer {
	height: 80px;
	margin-top: -80px;
}
/* footer */

.forprintfontfamily {
    font-family: 'Montserrat', sans-serif;
}
.frozesallunit {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}

.pull-right {
    float: right!important;
}

.go_to_offer {
    margin-left: 35px;
}
form.dogovora .input-group .form-control:first-child, .input-group .form-control:last-child {
    border-radius: 4px !important;
}

/* Пагинация */

/* Пагинация */

