.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-1.024000px;}
._4{width:1.184000px;}
._5{width:2.688000px;}
._3{width:3.968000px;}
._8{width:5.088000px;}
._1{width:6.240000px;}
._d{width:8.160000px;}
._b{width:9.472000px;}
._0{width:11.232000px;}
._a{width:13.184000px;}
._c{width:14.208000px;}
._7{width:15.616000px;}
._6{width:16.896000px;}
._2{width:48.000000px;}
._11{width:115.200000px;}
._10{width:173.088000px;}
._f{width:275.200000px;}
._e{width:708.672000px;}
.fc2{color:rgb(0,176,80);}
.fc1{color:rgb(63,63,63);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:20.000000px;}
.fs2{font-size:24.000000px;}
.fs0{font-size:32.000000px;}
.fs1{font-size:36.000000px;}
.y67{bottom:2.947019px;}
.y68{bottom:5.674018px;}
.y72{bottom:13.131999px;}
.y71{bottom:22.330999px;}
.y66{bottom:26.829994px;}
.y65{bottom:60.128992px;}
.y6d{bottom:70.684000px;}
.y64{bottom:78.527002px;}
.y6c{bottom:80.062998px;}
.y2e{bottom:81.181051px;}
.y6b{bottom:89.441999px;}
.y2d{bottom:91.759052px;}
.y63{bottom:96.925013px;}
.y6a{bottom:98.820998px;}
.y69{bottom:101.244998px;}
.y2c{bottom:102.336996px;}
.y2f{bottom:112.000000px;}
.y2b{bottom:112.914997px;}
.y62{bottom:115.323008px;}
.y49{bottom:120.897028px;}
.y2a{bottom:133.493000px;}
.y61{bottom:133.721003px;}
.y56{bottom:144.771004px;}
.y7b{bottom:148.068014px;}
.y60{bottom:152.119013px;}
.y29{bottom:156.490009px;}
.y7a{bottom:158.646015px;}
.y28{bottom:170.288017px;}
.y5f{bottom:170.517008px;}
.y27{bottom:184.086018px;}
.y5e{bottom:188.915003px;}
.y26{bottom:197.884026px;}
.y79{bottom:199.802021px;}
.y55{bottom:205.021004px;}
.y5d{bottom:207.313013px;}
.y25{bottom:211.682026px;}
.y54{bottom:217.071007px;}
.y24{bottom:225.480013px;}
.y5c{bottom:225.711008px;}
.y53{bottom:229.121010px;}
.y23{bottom:239.278017px;}
.y52{bottom:241.171005px;}
.y5b{bottom:244.109003px;}
.y22{bottom:253.076014px;}
.y51{bottom:254.600008px;}
.y5a{bottom:262.507006px;}
.y50{bottom:263.799004px;}
.y21{bottom:266.874016px;}
.y4f{bottom:275.849007px;}
.y20{bottom:280.672016px;}
.y59{bottom:280.905008px;}
.y4e{bottom:287.899006px;}
.y1f{bottom:294.470024px;}
.y58{bottom:299.303007px;}
.y4d{bottom:299.949005px;}
.y1e{bottom:308.268024px;}
.y4c{bottom:311.999006px;}
.y57{bottom:317.701006px;}
.y1d{bottom:322.066029px;}
.y78{bottom:323.344039px;}
.y4b{bottom:324.049006px;}
.y1c{bottom:335.864037px;}
.y4a{bottom:336.099007px;}
.y77{bottom:344.129012px;}
.y1b{bottom:349.662037px;}
.y76{bottom:364.914016px;}
.y1a{bottom:370.240040px;}
.y19{bottom:392.868031px;}
.y75{bottom:398.044035px;}
.y18{bottom:411.266020px;}
.y74{bottom:421.041035px;}
.y17{bottom:429.664021px;}
.y73{bottom:441.619038px;}
.y16{bottom:448.062031px;}
.y6e{bottom:449.000000px;}
.y15{bottom:466.460009px;}
.y14{bottom:484.858011px;}
.y48{bottom:491.581013px;}
.y47{bottom:502.159016px;}
.y13{bottom:503.256010px;}
.y46{bottom:512.737019px;}
.y12{bottom:521.654011px;}
.y45{bottom:523.315023px;}
.y11{bottom:532.232014px;}
.y44{bottom:533.893024px;}
.y10{bottom:542.810017px;}
.y43{bottom:544.471027px;}
.y42{bottom:555.049030px;}
.yf{bottom:563.388020px;}
.y41{bottom:575.627018px;}
.ye{bottom:583.966024px;}
.yd{bottom:594.544025px;}
.y40{bottom:596.205023px;}
.y3f{bottom:606.783024px;}
.yc{bottom:615.122023px;}
.yb{bottom:625.700022px;}
.y3e{bottom:627.361029px;}
.ya{bottom:636.278021px;}
.y3d{bottom:637.939030px;}
.y9{bottom:646.856022px;}
.y3c{bottom:658.517017px;}
.y8{bottom:669.854021px;}
.y3b{bottom:679.673025px;}
.y7{bottom:681.904024px;}
.y3a{bottom:690.251026px;}
.y6{bottom:693.954027px;}
.y39{bottom:700.829027px;}
.y5{bottom:706.004026px;}
.y38{bottom:711.407026px;}
.y4{bottom:718.054026px;}
.y37{bottom:721.985027px;}
.y36{bottom:732.563025px;}
.y3{bottom:739.303026px;}
.y70{bottom:740.888025px;}
.y35{bottom:743.141027px;}
.y34{bottom:753.719027px;}
.y2{bottom:762.732025px;}
.y33{bottom:764.297026px;}
.y1{bottom:771.931025px;}
.y32{bottom:774.875025px;}
.y6f{bottom:784.875025px;}
.y31{bottom:785.453026px;}
.y0{bottom:791.500000px;}
.y30{bottom:806.031025px;}
.h4{height:0.500000px;}
.h8{height:15.556641px;}
.h7{height:16.664062px;}
.h3{height:22.218750px;}
.h1{height:22.500000px;}
.h9{height:24.890625px;}
.h6{height:24.996094px;}
.h2{height:27.671875px;}
.hb{height:30.799999px;}
.ha{height:322.500000px;}
.h5{height:347.419006px;}
.h0{height:841.900024px;}
.w6{width:23.750000px;}
.wa{width:52.349998px;}
.w8{width:65.300003px;}
.wb{width:72.400002px;}
.w9{width:93.599998px;}
.wc{width:107.800003px;}
.w1{width:128.500000px;}
.w7{width:135.149994px;}
.w2{width:143.500000px;}
.w4{width:265.649994px;}
.w3{width:289.500000px;}
.w5{width:540.500000px;}
.w0{width:595.299988px;}
.xc{left:6.400000px;}
.xb{left:7.800000px;}
.x3{left:14.240000px;}
.x10{left:16.969000px;}
.x0{left:21.000000px;}
.x18{left:22.402001px;}
.x11{left:28.000000px;}
.x19{left:32.083001px;}
.x15{left:42.602000px;}
.x14{left:49.900000px;}
.x16{left:56.387000px;}
.x1e{left:85.000003px;}
.xe{left:107.026999px;}
.xf{left:110.026999px;}
.xa{left:146.798996px;}
.x13{left:153.854007px;}
.x1d{left:155.800006px;}
.x17{left:183.549994px;}
.x8{left:200.339007px;}
.x5{left:209.588000px;}
.x2{left:216.416000px;}
.x6{left:225.035004px;}
.x7{left:226.054993px;}
.x9{left:246.860003px;}
.x4{left:253.983005px;}
.x12{left:264.265994px;}
.x1{left:276.957995px;}
.xd{left:295.300000px;}
.x1a{left:339.449987px;}
.x1b{left:390.299994px;}
.x1c{left:461.199987px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-1.365333pt;}
._4{width:1.578667pt;}
._5{width:3.584000pt;}
._3{width:5.290667pt;}
._8{width:6.784000pt;}
._1{width:8.320000pt;}
._d{width:10.880000pt;}
._b{width:12.629333pt;}
._0{width:14.976000pt;}
._a{width:17.578667pt;}
._c{width:18.944000pt;}
._7{width:20.821333pt;}
._6{width:22.528000pt;}
._2{width:64.000000pt;}
._11{width:153.600000pt;}
._10{width:230.784000pt;}
._f{width:366.933333pt;}
._e{width:944.896000pt;}
.fs3{font-size:26.666667pt;}
.fs2{font-size:32.000000pt;}
.fs0{font-size:42.666667pt;}
.fs1{font-size:48.000000pt;}
.y67{bottom:3.929358pt;}
.y68{bottom:7.565358pt;}
.y72{bottom:17.509332pt;}
.y71{bottom:29.774666pt;}
.y66{bottom:35.773326pt;}
.y65{bottom:80.171989pt;}
.y6d{bottom:94.245333pt;}
.y64{bottom:104.702670pt;}
.y6c{bottom:106.750664pt;}
.y2e{bottom:108.241402pt;}
.y6b{bottom:119.255999pt;}
.y2d{bottom:122.345403pt;}
.y63{bottom:129.233350pt;}
.y6a{bottom:131.761331pt;}
.y69{bottom:134.993331pt;}
.y2c{bottom:136.449328pt;}
.y2f{bottom:149.333333pt;}
.y2b{bottom:150.553329pt;}
.y62{bottom:153.764010pt;}
.y49{bottom:161.196037pt;}
.y2a{bottom:177.990667pt;}
.y61{bottom:178.294670pt;}
.y56{bottom:193.028005pt;}
.y7b{bottom:197.424019pt;}
.y60{bottom:202.825350pt;}
.y29{bottom:208.653346pt;}
.y7a{bottom:211.528020pt;}
.y28{bottom:227.050690pt;}
.y5f{bottom:227.356010pt;}
.y27{bottom:245.448023pt;}
.y5e{bottom:251.886670pt;}
.y26{bottom:263.845367pt;}
.y79{bottom:266.402695pt;}
.y55{bottom:273.361338pt;}
.y5d{bottom:276.417351pt;}
.y25{bottom:282.242701pt;}
.y54{bottom:289.428009pt;}
.y24{bottom:300.640017pt;}
.y5c{bottom:300.948011pt;}
.y53{bottom:305.494680pt;}
.y23{bottom:319.037356pt;}
.y52{bottom:321.561340pt;}
.y5b{bottom:325.478671pt;}
.y22{bottom:337.434685pt;}
.y51{bottom:339.466677pt;}
.y5a{bottom:350.009341pt;}
.y50{bottom:351.732005pt;}
.y21{bottom:355.832021pt;}
.y4f{bottom:367.798676pt;}
.y20{bottom:374.229355pt;}
.y59{bottom:374.540011pt;}
.y4e{bottom:383.865341pt;}
.y1f{bottom:392.626699pt;}
.y58{bottom:399.070676pt;}
.y4d{bottom:399.932007pt;}
.y1e{bottom:411.024033pt;}
.y4c{bottom:415.998675pt;}
.y57{bottom:423.601341pt;}
.y1d{bottom:429.421371pt;}
.y78{bottom:431.125385pt;}
.y4b{bottom:432.065342pt;}
.y1c{bottom:447.818715pt;}
.y4a{bottom:448.132009pt;}
.y77{bottom:458.838683pt;}
.y1b{bottom:466.216049pt;}
.y76{bottom:486.552021pt;}
.y1a{bottom:493.653386pt;}
.y19{bottom:523.824041pt;}
.y75{bottom:530.725380pt;}
.y18{bottom:548.354693pt;}
.y74{bottom:561.388046pt;}
.y17{bottom:572.885361pt;}
.y73{bottom:588.825384pt;}
.y16{bottom:597.416041pt;}
.y6e{bottom:598.666667pt;}
.y15{bottom:621.946678pt;}
.y14{bottom:646.477348pt;}
.y48{bottom:655.441350pt;}
.y47{bottom:669.545354pt;}
.y13{bottom:671.008013pt;}
.y46{bottom:683.649358pt;}
.y12{bottom:695.538681pt;}
.y45{bottom:697.753365pt;}
.y11{bottom:709.642685pt;}
.y44{bottom:711.857366pt;}
.y10{bottom:723.746689pt;}
.y43{bottom:725.961370pt;}
.y42{bottom:740.065374pt;}
.yf{bottom:751.184026pt;}
.y41{bottom:767.502691pt;}
.ye{bottom:778.621366pt;}
.yd{bottom:792.725367pt;}
.y40{bottom:794.940030pt;}
.y3f{bottom:809.044032pt;}
.yc{bottom:820.162697pt;}
.yb{bottom:834.266696pt;}
.y3e{bottom:836.481372pt;}
.ya{bottom:848.370694pt;}
.y3d{bottom:850.585373pt;}
.y9{bottom:862.474696pt;}
.y3c{bottom:878.022690pt;}
.y8{bottom:893.138695pt;}
.y3b{bottom:906.230700pt;}
.y7{bottom:909.205365pt;}
.y3a{bottom:920.334702pt;}
.y6{bottom:925.272036pt;}
.y39{bottom:934.438703pt;}
.y5{bottom:941.338702pt;}
.y38{bottom:948.542702pt;}
.y4{bottom:957.405368pt;}
.y37{bottom:962.646703pt;}
.y36{bottom:976.750699pt;}
.y3{bottom:985.737368pt;}
.y70{bottom:987.850700pt;}
.y35{bottom:990.854703pt;}
.y34{bottom:1004.958702pt;}
.y2{bottom:1016.976034pt;}
.y33{bottom:1019.062701pt;}
.y1{bottom:1029.241366pt;}
.y32{bottom:1033.166700pt;}
.y6f{bottom:1046.500033pt;}
.y31{bottom:1047.270701pt;}
.y0{bottom:1055.333333pt;}
.y30{bottom:1074.708033pt;}
.h4{height:0.666667pt;}
.h8{height:20.742188pt;}
.h7{height:22.218750pt;}
.h3{height:29.625000pt;}
.h1{height:30.000000pt;}
.h9{height:33.187500pt;}
.h6{height:33.328125pt;}
.h2{height:36.895833pt;}
.hb{height:41.066666pt;}
.ha{height:430.000000pt;}
.h5{height:463.225342pt;}
.h0{height:1122.533366pt;}
.w6{width:31.666667pt;}
.wa{width:69.799998pt;}
.w8{width:87.066671pt;}
.wb{width:96.533335pt;}
.w9{width:124.799998pt;}
.wc{width:143.733337pt;}
.w1{width:171.333333pt;}
.w7{width:180.199992pt;}
.w2{width:191.333333pt;}
.w4{width:354.199992pt;}
.w3{width:386.000000pt;}
.w5{width:720.666667pt;}
.w0{width:793.733317pt;}
.xc{left:8.533333pt;}
.xb{left:10.400000pt;}
.x3{left:18.986666pt;}
.x10{left:22.625333pt;}
.x0{left:28.000000pt;}
.x18{left:29.869335pt;}
.x11{left:37.333333pt;}
.x19{left:42.777334pt;}
.x15{left:56.802666pt;}
.x14{left:66.533333pt;}
.x16{left:75.182666pt;}
.x1e{left:113.333337pt;}
.xe{left:142.702665pt;}
.xf{left:146.702665pt;}
.xa{left:195.731995pt;}
.x13{left:205.138676pt;}
.x1d{left:207.733341pt;}
.x17{left:244.733325pt;}
.x8{left:267.118677pt;}
.x5{left:279.450667pt;}
.x2{left:288.554667pt;}
.x6{left:300.046672pt;}
.x7{left:301.406657pt;}
.x9{left:329.146671pt;}
.x4{left:338.644006pt;}
.x12{left:352.354659pt;}
.x1{left:369.277327pt;}
.xd{left:393.733333pt;}
.x1a{left:452.599983pt;}
.x1b{left:520.399991pt;}
.x1c{left:614.933317pt;}
}
/* <new pf3 */
.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-1.024000px;}
._4{width:1.184000px;}
._5{width:2.688000px;}
._3{width:3.968000px;}
._8{width:5.088000px;}
._1{width:6.240000px;}
._e{width:8.288000px;}
._b{width:9.472000px;}
._0{width:11.232000px;}
._a{width:13.184000px;}
._c{width:14.208000px;}
._7{width:15.616000px;}
._6{width:16.896000px;}
._2{width:48.000000px;}
._12{width:115.200000px;}
._d{width:130.520000px;}
._11{width:173.088000px;}
._10{width:275.200000px;}
._f{width:708.672000px;}
.fc3{color:rgb(0,176,80);}
.fc2{color:rgb(63,63,63);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(0,0,10);}
.fs3{font-size:20.000000px;}
.fs2{font-size:24.000000px;}
.fs0{font-size:32.000000px;}
.fs1{font-size:36.000000px;}
.y67{bottom:2.947019px;}
.y7c{bottom:4.109001px;}
.y76{bottom:4.342001px;}
.y68{bottom:5.674018px;}
.y7e{bottom:9.398003px;}
.y78{bottom:9.631001px;}
.y72{bottom:13.131999px;}
.y7a{bottom:14.687000px;}
.y74{bottom:14.920002px;}
.y86{bottom:19.687001px;}
.y7d{bottom:19.976002px;}
.y77{bottom:20.209002px;}
.y71{bottom:22.330999px;}
.y7b{bottom:25.265001px;}
.y75{bottom:25.498001px;}
.y66{bottom:26.829994px;}
.y6d{bottom:58.477030px;}
.y65{bottom:60.128992px;}
.y6c{bottom:67.856028px;}
.y6b{bottom:77.235029px;}
.y64{bottom:78.527002px;}
.y2e{bottom:81.131002px;}
.y6e{bottom:86.500000px;}
.y6a{bottom:86.614028px;}
.y69{bottom:89.038028px;}
.y2d{bottom:91.709003px;}
.y63{bottom:96.925013px;}
.y2c{bottom:102.287008px;}
.y2f{bottom:112.000000px;}
.y2b{bottom:112.865009px;}
.y62{bottom:115.323008px;}
.y90{bottom:117.562033px;}
.y49{bottom:120.897028px;}
.y8f{bottom:128.140034px;}
.y2a{bottom:133.443012px;}
.y61{bottom:133.721003px;}
.y56{bottom:144.771004px;}
.y60{bottom:152.119013px;}
.y29{bottom:156.440022px;}
.y8e{bottom:169.296040px;}
.y28{bottom:170.238029px;}
.y5f{bottom:170.517008px;}
.y27{bottom:184.036030px;}
.y5e{bottom:188.915003px;}
.y26{bottom:197.834038px;}
.y55{bottom:205.021004px;}
.y5d{bottom:207.313013px;}
.y25{bottom:211.632038px;}
.y54{bottom:217.071007px;}
.y24{bottom:225.430025px;}
.y5c{bottom:225.711008px;}
.y53{bottom:229.121010px;}
.y23{bottom:239.228029px;}
.y52{bottom:241.171005px;}
.y5b{bottom:244.109003px;}
.y22{bottom:253.026026px;}
.y51{bottom:254.600008px;}
.y5a{bottom:262.507006px;}
.y50{bottom:263.799004px;}
.y21{bottom:266.824028px;}
.y4f{bottom:275.849007px;}
.y20{bottom:280.622028px;}
.y59{bottom:280.905008px;}
.y4e{bottom:287.899006px;}
.y8d{bottom:292.838027px;}
.y1f{bottom:294.420036px;}
.y58{bottom:299.303007px;}
.y4d{bottom:299.949005px;}
.y1e{bottom:308.218037px;}
.y4c{bottom:311.999006px;}
.y8c{bottom:313.623031px;}
.y57{bottom:317.701006px;}
.y1d{bottom:322.016010px;}
.y4b{bottom:324.049006px;}
.y8b{bottom:334.408034px;}
.y1c{bottom:335.814018px;}
.y4a{bottom:336.099007px;}
.y1b{bottom:349.612019px;}
.y8a{bottom:367.538023px;}
.y1a{bottom:370.190022px;}
.y89{bottom:390.535023px;}
.y19{bottom:392.818012px;}
.y88{bottom:411.113026px;}
.y18{bottom:411.216032px;}
.y87{bottom:418.082014px;}
.y17{bottom:429.614033px;}
.y16{bottom:448.012012px;}
.y85{bottom:450.316023px;}
.y15{bottom:466.410021px;}
.y84{bottom:482.550016px;}
.y14{bottom:484.808023px;}
.y48{bottom:491.581013px;}
.y47{bottom:502.159016px;}
.y13{bottom:503.206022px;}
.y46{bottom:512.737019px;}
.y83{bottom:514.784025px;}
.y12{bottom:521.604023px;}
.y45{bottom:523.315023px;}
.y11{bottom:532.182026px;}
.y44{bottom:533.893024px;}
.y10{bottom:542.760029px;}
.y43{bottom:544.471027px;}
.y82{bottom:547.018019px;}
.y42{bottom:555.049030px;}
.yf{bottom:563.338032px;}
.y41{bottom:575.627018px;}
.y81{bottom:579.252028px;}
.ye{bottom:583.916021px;}
.yd{bottom:594.494022px;}
.y40{bottom:596.205023px;}
.y3f{bottom:606.783024px;}
.y80{bottom:611.486021px;}
.yc{bottom:615.072020px;}
.yb{bottom:625.650019px;}
.y3e{bottom:627.361029px;}
.ya{bottom:636.228018px;}
.y3d{bottom:637.939030px;}
.y7f{bottom:643.720022px;}
.y9{bottom:646.806019px;}
.y3c{bottom:658.517017px;}
.y8{bottom:669.804018px;}
.y79{bottom:675.954023px;}
.y3b{bottom:679.673025px;}
.y7{bottom:681.854021px;}
.y3a{bottom:690.251026px;}
.y6{bottom:693.904024px;}
.y39{bottom:700.829027px;}
.y5{bottom:705.954023px;}
.y73{bottom:708.188025px;}
.y38{bottom:711.407026px;}
.y4{bottom:718.004023px;}
.y37{bottom:721.985027px;}
.y36{bottom:732.563025px;}
.y3{bottom:739.253027px;}
.y70{bottom:740.888025px;}
.y35{bottom:743.141027px;}
.y34{bottom:753.719027px;}
.y2{bottom:762.682026px;}
.y33{bottom:764.297026px;}
.y1{bottom:771.881025px;}
.y32{bottom:774.875025px;}
.y6f{bottom:784.875025px;}
.y31{bottom:785.453026px;}
.y0{bottom:791.500000px;}
.y30{bottom:806.031025px;}
.h4{height:0.500000px;}
.h8{height:15.556641px;}
.h7{height:16.664062px;}
.h3{height:22.218750px;}
.h1{height:22.500000px;}
.h9{height:24.890625px;}
.h6{height:24.996094px;}
.h2{height:27.671875px;}
.hb{height:30.799999px;}
.hd{height:33.734001px;}
.hc{height:34.200001px;}
.h5{height:347.419006px;}
.ha{height:685.000000px;}
.h0{height:841.900024px;}
.w6{width:23.750000px;}
.wa{width:52.349998px;}
.w8{width:65.300003px;}
.wb{width:72.400002px;}
.w9{width:93.599998px;}
.wc{width:107.750000px;}
.w1{width:128.500000px;}
.w7{width:135.199997px;}
.w2{width:143.500000px;}
.w4{width:265.649994px;}
.w3{width:289.450012px;}
.w5{width:567.000000px;}
.w0{width:595.299988px;}
.xc{left:6.400000px;}
.xb{left:7.800000px;}
.x1d{left:9.875000px;}
.x3{left:14.240000px;}
.x1e{left:18.175000px;}
.x0{left:21.000000px;}
.x18{left:22.402001px;}
.x13{left:27.650000px;}
.x19{left:32.083001px;}
.x15{left:42.627001px;}
.x14{left:49.900000px;}
.x10{left:52.368999px;}
.x16{left:56.412001px;}
.x20{left:85.000003px;}
.xe{left:107.026999px;}
.xf{left:110.026999px;}
.xa{left:146.798996px;}
.x12{left:153.854007px;}
.x1f{left:155.800006px;}
.x17{left:183.599997px;}
.x8{left:200.339007px;}
.x5{left:209.588000px;}
.x2{left:216.416000px;}
.x6{left:225.035004px;}
.x7{left:226.054993px;}
.x9{left:246.860003px;}
.x4{left:253.983005px;}
.x11{left:264.265994px;}
.x1{left:276.957995px;}
.xd{left:295.250012px;}
.x1a{left:339.500006px;}
.x1b{left:390.350012px;}
.x1c{left:461.250006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-1.365333pt;}
._4{width:1.578667pt;}
._5{width:3.584000pt;}
._3{width:5.290667pt;}
._8{width:6.784000pt;}
._1{width:8.320000pt;}
._e{width:11.050667pt;}
._b{width:12.629333pt;}
._0{width:14.976000pt;}
._a{width:17.578667pt;}
._c{width:18.944000pt;}
._7{width:20.821333pt;}
._6{width:22.528000pt;}
._2{width:64.000000pt;}
._12{width:153.600000pt;}
._d{width:174.026667pt;}
._11{width:230.784000pt;}
._10{width:366.933333pt;}
._f{width:944.896000pt;}
.fs3{font-size:26.666667pt;}
.fs2{font-size:32.000000pt;}
.fs0{font-size:42.666667pt;}
.fs1{font-size:48.000000pt;}
.y67{bottom:3.929358pt;}
.y7c{bottom:5.478668pt;}
.y76{bottom:5.789335pt;}
.y68{bottom:7.565358pt;}
.y7e{bottom:12.530670pt;}
.y78{bottom:12.841334pt;}
.y72{bottom:17.509332pt;}
.y7a{bottom:19.582667pt;}
.y74{bottom:19.893336pt;}
.y86{bottom:26.249335pt;}
.y7d{bottom:26.634669pt;}
.y77{bottom:26.945335pt;}
.y71{bottom:29.774666pt;}
.y7b{bottom:33.686668pt;}
.y75{bottom:33.997335pt;}
.y66{bottom:35.773326pt;}
.y6d{bottom:77.969373pt;}
.y65{bottom:80.171989pt;}
.y6c{bottom:90.474703pt;}
.y6b{bottom:102.980039pt;}
.y64{bottom:104.702670pt;}
.y2e{bottom:108.174670pt;}
.y6e{bottom:115.333333pt;}
.y6a{bottom:115.485371pt;}
.y69{bottom:118.717371pt;}
.y2d{bottom:122.278671pt;}
.y63{bottom:129.233350pt;}
.y2c{bottom:136.382678pt;}
.y2f{bottom:149.333333pt;}
.y2b{bottom:150.486679pt;}
.y62{bottom:153.764010pt;}
.y90{bottom:156.749377pt;}
.y49{bottom:161.196037pt;}
.y8f{bottom:170.853378pt;}
.y2a{bottom:177.924016pt;}
.y61{bottom:178.294670pt;}
.y56{bottom:193.028005pt;}
.y60{bottom:202.825350pt;}
.y29{bottom:208.586695pt;}
.y8e{bottom:225.728053pt;}
.y28{bottom:226.984039pt;}
.y5f{bottom:227.356010pt;}
.y27{bottom:245.381373pt;}
.y5e{bottom:251.886670pt;}
.y26{bottom:263.778717pt;}
.y55{bottom:273.361338pt;}
.y5d{bottom:276.417351pt;}
.y25{bottom:282.176051pt;}
.y54{bottom:289.428009pt;}
.y24{bottom:300.573367pt;}
.y5c{bottom:300.948011pt;}
.y53{bottom:305.494680pt;}
.y23{bottom:318.970706pt;}
.y52{bottom:321.561340pt;}
.y5b{bottom:325.478671pt;}
.y22{bottom:337.368034pt;}
.y51{bottom:339.466677pt;}
.y5a{bottom:350.009341pt;}
.y50{bottom:351.732005pt;}
.y21{bottom:355.765371pt;}
.y4f{bottom:367.798676pt;}
.y20{bottom:374.162704pt;}
.y59{bottom:374.540011pt;}
.y4e{bottom:383.865341pt;}
.y8d{bottom:390.450703pt;}
.y1f{bottom:392.560048pt;}
.y58{bottom:399.070676pt;}
.y4d{bottom:399.932007pt;}
.y1e{bottom:410.957382pt;}
.y4c{bottom:415.998675pt;}
.y8c{bottom:418.164041pt;}
.y57{bottom:423.601341pt;}
.y1d{bottom:429.354680pt;}
.y4b{bottom:432.065342pt;}
.y8b{bottom:445.877379pt;}
.y1c{bottom:447.752024pt;}
.y4a{bottom:448.132009pt;}
.y1b{bottom:466.149358pt;}
.y8a{bottom:490.050697pt;}
.y1a{bottom:493.586695pt;}
.y89{bottom:520.713364pt;}
.y19{bottom:523.757350pt;}
.y88{bottom:548.150701pt;}
.y18{bottom:548.288043pt;}
.y87{bottom:557.442685pt;}
.y17{bottom:572.818710pt;}
.y16{bottom:597.349350pt;}
.y85{bottom:600.421364pt;}
.y15{bottom:621.880028pt;}
.y84{bottom:643.400022pt;}
.y14{bottom:646.410698pt;}
.y48{bottom:655.441350pt;}
.y47{bottom:669.545354pt;}
.y13{bottom:670.941363pt;}
.y46{bottom:683.649358pt;}
.y83{bottom:686.378700pt;}
.y12{bottom:695.472031pt;}
.y45{bottom:697.753365pt;}
.y11{bottom:709.576035pt;}
.y44{bottom:711.857366pt;}
.y10{bottom:723.680038pt;}
.y43{bottom:725.961370pt;}
.y82{bottom:729.357358pt;}
.y42{bottom:740.065374pt;}
.yf{bottom:751.117376pt;}
.y41{bottom:767.502691pt;}
.y81{bottom:772.336037pt;}
.ye{bottom:778.554695pt;}
.yd{bottom:792.658696pt;}
.y40{bottom:794.940030pt;}
.y3f{bottom:809.044032pt;}
.y80{bottom:815.314695pt;}
.yc{bottom:820.096026pt;}
.yb{bottom:834.200025pt;}
.y3e{bottom:836.481372pt;}
.ya{bottom:848.304024pt;}
.y3d{bottom:850.585373pt;}
.y7f{bottom:858.293363pt;}
.y9{bottom:862.408025pt;}
.y3c{bottom:878.022690pt;}
.y8{bottom:893.072024pt;}
.y79{bottom:901.272031pt;}
.y3b{bottom:906.230700pt;}
.y7{bottom:909.138695pt;}
.y3a{bottom:920.334702pt;}
.y6{bottom:925.205365pt;}
.y39{bottom:934.438703pt;}
.y5{bottom:941.272031pt;}
.y73{bottom:944.250699pt;}
.y38{bottom:948.542702pt;}
.y4{bottom:957.338697pt;}
.y37{bottom:962.646703pt;}
.y36{bottom:976.750699pt;}
.y3{bottom:985.670703pt;}
.y70{bottom:987.850700pt;}
.y35{bottom:990.854703pt;}
.y34{bottom:1004.958702pt;}
.y2{bottom:1016.909368pt;}
.y33{bottom:1019.062701pt;}
.y1{bottom:1029.174700pt;}
.y32{bottom:1033.166700pt;}
.y6f{bottom:1046.500033pt;}
.y31{bottom:1047.270701pt;}
.y0{bottom:1055.333333pt;}
.y30{bottom:1074.708033pt;}
.h4{height:0.666667pt;}
.h8{height:20.742188pt;}
.h7{height:22.218750pt;}
.h3{height:29.625000pt;}
.h1{height:30.000000pt;}
.h9{height:33.187500pt;}
.h6{height:33.328125pt;}
.h2{height:36.895833pt;}
.hb{height:41.066666pt;}
.hd{height:44.978668pt;}
.hc{height:45.600001pt;}
.h5{height:463.225342pt;}
.ha{height:913.333333pt;}
.h0{height:1122.533366pt;}
.w6{width:31.666667pt;}
.wa{width:69.799998pt;}
.w8{width:87.066671pt;}
.wb{width:96.533335pt;}
.w9{width:124.799998pt;}
.wc{width:143.666667pt;}
.w1{width:171.333333pt;}
.w7{width:180.266663pt;}
.w2{width:191.333333pt;}
.w4{width:354.199992pt;}
.w3{width:385.933350pt;}
.w5{width:756.000000pt;}
.w0{width:793.733317pt;}
.xc{left:8.533333pt;}
.xb{left:10.400000pt;}
.x1d{left:13.166667pt;}
.x3{left:18.986666pt;}
.x1e{left:24.233333pt;}
.x0{left:28.000000pt;}
.x18{left:29.869335pt;}
.x13{left:36.866666pt;}
.x19{left:42.777334pt;}
.x15{left:56.836002pt;}
.x14{left:66.533333pt;}
.x10{left:69.825331pt;}
.x16{left:75.216002pt;}
.x20{left:113.333337pt;}
.xe{left:142.702665pt;}
.xf{left:146.702665pt;}
.xa{left:195.731995pt;}
.x12{left:205.138676pt;}
.x1f{left:207.733341pt;}
.x17{left:244.799995pt;}
.x8{left:267.118677pt;}
.x5{left:279.450667pt;}
.x2{left:288.554667pt;}
.x6{left:300.046672pt;}
.x7{left:301.406657pt;}
.x9{left:329.146671pt;}
.x4{left:338.644006pt;}
.x11{left:352.354659pt;}
.x1{left:369.277327pt;}
.xd{left:393.666683pt;}
.x1a{left:452.666674pt;}
.x1b{left:520.466682pt;}
.x1c{left:615.000008pt;}
}

/* </new pf3 */
.tovchek_naim_tovara div {
    width: 908px;
    white-space: normal;
    line-height: 55.5px;
}
.tovchek_brand div {
    width: 414px;
    white-space: normal;
    line-height: 40.5px;
}
.tovchek_artikul div {
    width: 580px;
    white-space: normal;
    line-height: 40.5px;
}