{% extends "appmain/base.html" %}

{% load static %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body btn btn-outline-success">
                        <span class="text-muted">Дизайнер:</span> {{ designer.get_full_name }}
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                {% include 'appmain/reckoning/reckoning_detail.html' %}
            </div>
        </div>
    </div>
{% endblock content %}