{% extends "froze/base.html" %}
{% load pretty_number_phone from froze %}

{% load static %}

{% block content %}
<div class="container">
	<br>
	<div class="row">
		<div class="col-md-8 offset-2">
			<div class="form-group">
				<input id="po_telefonu" onkeyup="the_new_search();" placeholder="Ввести номер телефона клиента для поиска..." type="text" class="form-control" size="40">
			</div>
			<div class="form-group">
				<input id="po_adresu" onkeyup="the_new_search();" placeholder="Ввести адрес клиента для поиска..." type="text" class="form-control" size="40">
			</div>
			<div class="form-group">
				<input id="po_imeni" onkeyup="the_new_search();" placeholder="Ввести ФИО клиента для поиска..." type="text" class="form-control" size="40">
			</div>
		</div>
	</div>
	<br>
	<div id="loading_image" style="display:none;" class="text-center"><img src="{% static 'search/loading.gif' %}"></div>

	<div class="row" id="search_results">
		{% for froze in froze_items %}
			<div class="col-md-6">
				<div class="card">
		          	<div class="card-body">
		            	<ul class="list-unstyled">
							<li><strong>{{ froze.name }}</strong></li>
							{% if froze.dogovor.nomer_dogovora %}<li class="text-info">Номер договора: {{ froze.dogovor.nomer_dogovora }}</li>{% endif %}
							<li>{{ froze.phone|pretty_number_phone }}</li>
							<li>{{ froze.address }}</li>
				            <li>Тип изделия: {{ froze.type_production }}</li>
						</ul>
					</div>
					<div class="panel-footer">
						<a target="_blank" href="{% url "froze_uuid" froze.uuid %}" class="btn btn-default">Подробнее</a>
						<p class="pull-right"><b>Создатель</b>: {{ froze.designer.get_full_name }}</p>
					</div>
				</div>
				<br>
			</div>
		{% endfor %}
	</div>


		
</div>
{% endblock content %}