{% extends "dogovora/view_dogovor_base.html" %}
{% load static %}
{% block content_dogovor %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.uslugi_po_podklyucheniyu_create_update').select2();
});
</script>

<div class="container">
	{% if froze.status == 'pay' %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">Внесение правок в договор не доступно, т.к. выставлен статус &laquo;Оплачен&raquo;<br /></div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-muted">УСЛУГИ ПО ПОДКЛЮЧЕНИЮ БЫТОВОЙ ТЕХНИКИ</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-danger">
								<p>ВНИМАНИЕ</p>
								<p>Если мебель приобретается без договора на технику, нужно указать в Товарном чеке сумму за выезд специалиста на подключение техники</p>
							</div>
						</div>
					</div>
					<form role="form" class="form-horizontal dogovora" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="col-md-1" style="width: 5%;">№</th>
									<th class="col-md-3" style="width: 80%;">Услуга</th>
									<th class="col-md-2" style="width: 15%;">Цена</th>
								</tr>
							</thead>
							<tbody>
								{% for key, num in uslugi.items %}
									<tr>
										<td>{{ key }}</td>
										<td>
											<select class="uslugi_po_podklyucheniyu_create_update form-control" name="usluga_{{	key }}" key="{{ key }}">
												<option value="" price="">--выбрать услугу или выбрать эту строку и в договоре услуги на этой строке не будет--</option>
<optgroup label="Вытяжка">
	<option value="Подключение вытяжки встраиваемой" price="2290" {% if num.usluga == 'Подключение вытяжки встраиваемой' %} selected{% endif %}>Подключение вытяжки встраиваемой</option>
	<option value="Подключение вытяжки купольной (кроме островного типа)" price="2390" {% if num.usluga == 'Подключение вытяжки купольной (кроме островного типа)' %} selected{% endif %}>Подключение вытяжки купольной (кроме островного типа)</option>
	<option value="Подключение вытяжки островного типа" price="3490" {% if num.usluga == 'Подключение вытяжки островного типа' %} selected{% endif %}>Подключение вытяжки островного типа</option>
	<option value="Доработка системы вентиляции для подключения вытяжки" price="1500" {% if num.usluga == 'Доработка системы вентиляции для подключения вытяжки' %} selected{% endif %}>Доработка системы вентиляции для подключения вытяжки</option>
</optgroup>
<optgroup label="Варочная панель (электрическая и газовая)">
	<option value="Подключение электрической варочной панели" price="3090" {% if num.usluga == 'Подключение электрической варочной панели' %} selected{% endif %}>Подключение электрической варочной панели</option>
	<option value="Установка газовой варочной панели" price="2090" {% if num.usluga == 'Установка газовой варочной панели' %} selected{% endif %}>Установка газовой варочной панели</option>
</optgroup>
<optgroup label="Духовой шкаф (электрический и газовый)">
	<option value="Подключение электрического встраиваемого духового шкафа" price="2690" {% if num.usluga == 'Подключение электрического встраиваемого духового шкафа' %} selected{% endif %}>Подключение электрического встраиваемого духового шкафа</option>
	<option value="Установка газового встраиваемого духового шкафа" price="1690" {% if num.usluga == 'Установка газового встраиваемого духового шкафа' %} selected{% endif %}>Установка газового встраиваемого духового шкафа</option>
</optgroup>
<optgroup label="Стиральная или посудомоечная машина">
	<option value="Подключение встраиваемой (отдельно стоящей) посудомоечной машины и/или стиральной машины» (за 1 ед.)" price="5590" {% if num.usluga == 'Подключение встраиваемой (отдельно стоящей) посудомоечной машины и/или стиральной машины» (за 1 ед.)' %} selected{% endif %}>Подключение встраиваемой (отдельно стоящей) посудомоечной машины и/или стиральной машины» (за 1 ед.)</option>
	<option value="Доработка канализации и системы водоснабжения" price="1400" {% if num.usluga == 'Доработка канализации и системы водоснабжения' %} selected{% endif %}>Доработка канализации и системы водоснабжения</option>
</optgroup>
<optgroup label="Холодильник/морозильник/винный шкаф">
	<option value="Подключение встраиваемого холодильника, морозильника или винного шкафа" price="2790" {% if num.usluga == 'Подключение встраиваемого холодильника, морозильника или винного шкафа' %} selected{% endif %}>Подключение встраиваемого холодильника, морозильника или винного шкафа</option>
	<option value="Подключение встраиваемого холодильника side by side" price="3800" {% if num.usluga == 'Подключение встраиваемого холодильника side by side' %} selected{% endif %}>Подключение встраиваемого холодильника side by side</option>
	<option value="Перенавешивание дверей холодильника с электронным управлением" price="1300" {% if num.usluga == 'Перенавешивание дверей холодильника с электронным управлением' %} selected{% endif %}>Перенавешивание дверей холодильника с электронным управлением</option>
	<option value="Перенавешивание дверей холодильника без электронного управления" price="1600" {% if num.usluga == 'Перенавешивание дверей холодильника без электронного управления' %} selected{% endif %}>Перенавешивание дверей холодильника без электронного управления</option>
</optgroup>
<optgroup label="Электрические и газовые плиты">
	<option value="Установка газовой плиты" price="3090" {% if num.usluga == 'Установка газовой плиты' %} selected{% endif %}>Установка газовой плиты</option>
	<option value="Установка электрической плиты" price="2590" {% if num.usluga == 'Установка электрической плиты' %} selected{% endif %}>Установка электрической плиты</option>
</optgroup>
<optgroup label="Встраиваемые компактные электроприборы (СВЧ/кофемашина/пароварка)">
	<option value="Подключение встраиваемого компактного электроприбора (СВЧ/кофемашина/пароварка)" price="1690" {% if num.usluga == 'Подключение встраиваемого компактного электроприбора (СВЧ/кофемашина/пароварка)' %} selected{% endif %}>Подключение встраиваемого компактного электроприбора (СВЧ/кофемашина/пароварка)</option>
	<option value="Подключение встраиваемого компактного электроприбора (СВЧ/кофемашина/пароварка) (с водоснабжением)" price="3290" {% if num.usluga == 'Подключение встраиваемого компактного электроприбора (СВЧ/кофемашина/пароварка) (с водоснабжением)' %} selected{% endif %}>Подключение встраиваемого компактного электроприбора (СВЧ/кофемашина/пароварка) (с водоснабжением)</option>
</optgroup>
<optgroup label="Прочая сантехника">
	<option value="Подключение фильтра для очистки воды (обратный осмос)" price="2190" {% if num.usluga == 'Подключение фильтра для очистки воды (обратный осмос)' %} selected{% endif %}>Подключение фильтра для очистки воды (обратный осмос)</option>
	<option value="Подключение фильтра для очистки воды (без обратного осмоса)" price="1690" {% if num.usluga == 'Подключение фильтра для очистки воды (без обратного осмоса)' %} selected{% endif %}>Подключение фильтра для очистки воды (без обратного осмоса)</option>
	<option value="Подключение измельчителя" price="2690" {% if num.usluga == 'Подключение измельчителя' %} selected{% endif %}>Подключение измельчителя</option>
	<option value="Доработка канализации и системы водоснабжения для измельчителя (за 1 ед.)" price="1400" {% if num.usluga == 'Доработка канализации и системы водоснабжения для измельчителя (за 1 ед.)' %} selected{% endif %}>Доработка канализации и системы водоснабжения для измельчителя (за 1 ед.)</option>
</optgroup>
<optgroup label="Мойка и смеситель">
	<option value="Подключение металлической мойки" price="1500" {% if num.usluga == 'Подключение металлической мойки' %} selected{% endif %}>Подключение металлической мойки</option>
	<option value="Подключение мойки из искусственного камня" price="1500" {% if num.usluga == 'Подключение мойки из искусственного камня' %} selected{% endif %}>Подключение мойки из искусственного камня</option>
	<option value="Подключение смесителя" price="900" {% if num.usluga == 'Подключение смесителя' %} selected{% endif %}>Подключение смесителя</option>
	<option value="Отверстие в мойке, столешнице (при необходимости)" price="750" {% if num.usluga == 'Отверстие в мойке, столешнице (при необходимости)' %} selected{% endif %}>Отверстие в мойке, столешнице (при необходимости)</option>
	<option value="Доработка системы водоснабжения для подключения мойки и смесителя" price="1200" {% if num.usluga == 'Доработка системы водоснабжения для подключения мойки и смесителя' %} selected{% endif %}>Доработка системы водоснабжения для подключения мойки и смесителя</option>
</optgroup>
<optgroup label="Демонтаж, уборка">
	<option value="Демонтаж и отключение техники (без утилизации и упаковки)" price="" {% if num.usluga == 'Демонтаж и отключение техники (без утилизации и упаковки)' %} selected{% endif %}>Демонтаж и отключение техники (без утилизации и упаковки)</option>
	<option value="Уборка упаковочного материала при наличии рабочего грузового лифта и мусорного контейнера на придомовой территории" price="1900" {% if num.usluga == 'Уборка упаковочного материала при наличии рабочего грузового лифта и мусорного контейнера на придомовой территории' %} selected{% endif %}>Уборка упаковочного материала при наличии рабочего грузового лифта и мусорного контейнера на придомовой территории</option>
</optgroup>
<optgroup label="Выезд мастера на подключение">
	<option value="Выезд мастера на подключение" price="0" {% if num.usluga == 'Выезд мастера на подключение' %} selected{% endif %}>Выезд мастера на подключение</option>
</optgroup>
											</select>
										</td>
										<td><input value="{{ num.tsena|default:'' }}" class="form-control" name="tsena_{{ key }}" placeholder="27000" type="number" id="usluga_tsena_{{ key }}"></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="form-group text-left">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Сохранить услуги для товарного чека</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-muted">{{ dogovor.pk }}</div>
{% endblock content_dogovor %}