{% extends "froze/base.html" %}

{% load static %}
{% block content %}
<div class="container">
<p>
	<br>
	<a class="btn btn-secondary" href="{% url 'froze_uuid' froze_uuid %}">Вернуться к заявке</a>&nbsp;
	{% if create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'izgotovlenie_2021_02_mebeli,mygkaya_2021_02_mebel,technic_2021_04,podklyuchenie_2021_06_tehniki,matrasy_2021_06,carpets_and_rugs_ip,decoration,gotovaya_mebel_2021_06,iskusstvenny_2021_02_kamen,tekstil_ip_sadykov_fiz,tekstil_ip_usmanov_fiz,dveri,delivery,montazh_demontazh_ip_sadykov_fiz,ekspress_dizayn,furniture_making,upholstered_furniture,mattresses_ooo-refabrik,carpets_and_rugs_ooo-refabrik,finishedfur_ooo-refabrik,artificial_stone,door_manufacturing,transportation_services,m_furniture_making,m_upholstered_furniture,m_mattresses,m_householdtec,m_connectiontec,m_finishedfur,m_doors,m_stone,m_textile,msk_textile_ip_sadykov,msk_textile_ip_usmanov,m_transport,m_assembling,m_manufacturingassembling,m_furnitureassemblywork,m_2furnitureassemblywork' %}
		<a class="btn btn-secondary" target="_blank"{% if create_or_update == 'create' %} title="Сначала заполните данные для договора" disabled{% else %} href="{% url 'dogovora:view' froze_uuid %}"{% endif %}>Печатать договор...</a>&nbsp;
	{% endif %}

	{% if create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'technic_2021_04,m_householdtec,entity_householdtec,juridical_moscow_ooo-refabrik_householdtec,entity_ufa_householdtec,entity_ufa_ooo-refabrik_householdtec' %}
		<a class="btn btn-secondary" href="{% url 'dogovora:tovarnyy_chek' froze_uuid %}">Заполнить поля для товарного чека</a>
	{% elif create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'matrasy_2021_06,gotovaya_mebel_2021_06,finishedfur_ooo-refabrik,mattresses_ooo-refabrik,decoration,m_mattresses,m_finishedfur,entity_mattresses,juridical_ooo-refabrik_mattresses,entity_finishedfur,juridical_ooo-refabrik_finishedfur,entity_ufa_mattresses,entity_ufa_ooo-refabrik_mattresses,entity_ufa_carpets_and_rugs,entity_ufa_finishedfur,entity_ufa_ooo-refabrik_finishedfur,carpets_and_rugs_ip,carpets_and_rugs_ooo-refabrik' %}
		<a class="btn btn-secondary" href="{% url 'dogovora:tovarnyy_chek' froze_uuid %}?specifikacii=1">Заполнить спецификации</a>
	{% elif create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'm_furnitureassemblywork,m_2furnitureassemblywork,entity_furnitureassemblywork,juridical_moscow_ooo-refabrik_furnitureassemblywork' %}
		<a class="btn btn-secondary" href="{% url 'dogovora:work_performed' froze_uuid %}">Заполнить список выполняемых работ</a>
	{% elif create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'montazh_demontazh_ip_sadykov_fiz,entity_ufa_assembling,m_assembling,entity_assembling' %}
		<a class="btn btn-secondary" href="{% url 'dogovora:list_of_work_installation' froze_uuid %}">список работ для Приложения №1.</a>
	{% elif create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'podklyuchenie_2021_06_tehniki,m_connectiontec,entity_connectiontec,entity_ufa_connectiontec' %}
		<a class="btn btn-secondary" href="{% url 'dogovora:uslugi_po_podklyucheniyu' froze_uuid %}">Заполнить услуги для товарного чека</a>
	{% elif tovarnyy_chek or uslugi_po_podklyucheniyu or uslugi_montage_demontage %}
		<a class="btn btn-secondary" href="{% url 'dogovora:create_update_entry' froze_uuid %}">Вернуться к заполнению договора</a>
	{% elif create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'izgotovlenie_2019_11_mebeli,izgotovlenie_2020_09_mebeli,izgotovlenie_2021_02_mebeli,mygkaya_2021_02_mebel,iskusstvenny_2021_02_kamen,dveri,furniture_making,upholstered_furniture,artificial_stone,door_manufacturing,m_furniture_making,m_upholstered_furniture,m_doors,m_stone,m_manufacturingassembling,entity_furniture_making,juridical_moscow_ooo-refabrik_furniture_making,entity_householdtec,juridical_moscow_ooo-refabrik_householdtec,entity_stone,juridical_ooo-refabrik_stone,entity_ufa_furniture_making,entity_ufa_ooo-refabrik_furniture_making,entity_ufa_ooo-refabrik_furniture_makin,entity_ufa_householdtec,entity_ufa_ooo-refabrik_householdtec,entity_ufa_stone,entity_ufa_ooo-refabrik_stone' %}
		<a class="btn btn-secondary" href="{% url 'dogovora:teh_usloviya_na_mebel_dveri' froze_uuid %}" target="_blank">ТУ на мебель, двери</a>
	{% endif %}
	<a>&nbsp;&nbsp;</a>
	<!-- Если договоры с внутренней рассрочкой -->
	{% if create_or_update == 'update' and froze.type_pay == 'internal_installment' %}
		{% if create_or_update == 'update' and dogovor.kakoy_tip_dogovora in 'm_furniture_making,m_upholstered_furniture,m_doors,m_stone,izgotovlenie_2021_02_mebeli,mygkaya_2021_02_mebel,dveri,iskusstvenny_2021_02_kamen,tekstil_ip_sadykov_fiz,m_textile,msk_textile_ip_sadykov,msk_textile_ip_usmanov,gotovaya_mebel_2021_06,m_finishedfur,finishedfur_ooo-refabrik,furniture_making,upholstered_furniture,door_manufacturing,artificial_stone,technic_2021_04,m_householdtec' %}
			<a class="btn btn-secondary" href="{% url 'dogovora:supplementary_agreement' froze_uuid %}" target="_blank">ДС, рассрочка</a>
		{% endif %}
	{% endif %}
</p>
{% block content_dogovor %}{% endblock content_dogovor %}
</div>
{% endblock content %}